// ==========================================================================
// Grupos de botões
// ==========================================================================

// Encapsulador.
.button-toolbar {
  @include clearfix;
  text-align: center;
}

// Encapsulador do botão e dropdown.
.button-group {
  text-align: left;

  & + & { margin-left: 5px; }

  .nav-global-buttons-dropdown & { position: relative; }

  .button-toolbar & { float: left; }
}

// Seta do dropdown.
.button-dropdown-arrow {
  float: right;
  margin-top: 5px;
}

.button-group .dropdown-toggle:active,
.button-group.open .dropdown-toggle { outline: 0; }
