// ==========================================================================
// Formulários
// ==========================================================================

// Variáveis.
// ==========================================================================

// Padding vertical do input.
$formControlVerticalPadding: 6px;
// Padding horizontal do input.
$formControlHorizontalPadding: 10px;
// Top padding do label.
$formLabelTopPadding: 7px;
// Tamanho da borda arredondada dos controles.
$formControlBorderRadius: 3px;


// Mixins.
// ==========================================================================

// Usado no formulário de busca e elemento de opções de lista.
@mixin form-control-append() {
  position: relative;

  &:hover .control-append-area,
  &:hover .control-area { border-color: $blue2; }

  // Área que fica sob o controle, do lado direito.
  .control-append-area {
    @include box-sizing(border-box);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    .borderradius & { @include border-radius(0 $formControlBorderRadius $formControlBorderRadius 0); }

    .cssgradients & { @include reduGradient($white, $gray2); }

    .no-cssgradients.gt-ie8 & {
      // http://www.colorzilla.com/gradient-editor/#ffffff+0,e6e6e6+100;Custom
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    }

    .no-cssgradients.ie8 & { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); }
  }
}


form { margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// Encapsula o label e o contole.
.control-group { & + & { margin-top: 20px; } }

// Encapsula o label.
.control-label { 
  color: $gray5;

  .control-focused & { color: $blue2; }

  .control-success & { color: $green3; }

  .control-error & {color: $red2; }

  .control-focused.control-success & { color: $green4; }

  .control-focused.control-error & {color: $red5; }

  .form-horizontal & {
    padding-top: $formLabelTopPadding;
    text-align: right;
  }
}

// Encapsula o controle.
.controls { position: relative; }

// Formulário horizontal.
.form-horizontal {
  .control-group {
    @include clearfix;

    .control-label,
    .controls { float: left; }

    .control-label { 
      text-align: right;
      padding-top: $formLabelTopPadding;
      margin: 0 20px 0 0;
    }

    .controls { margin-left: 0; }
  }
}

// Fonte dos formulários.
label,
input,
button,
select,
textarea { 
  @include font-shorthand;
  @include font-family-sans-serif;
}

// Resets de tamanho e tipo compartilhados.
select,
textarea,
input[type="text"],
input[type="password"] {
  @include box-sizing(border-box);
  display: inline-block;
  border: 1px solid $gray4;
  padding: $formControlVerticalPadding $formControlHorizontalPadding;
  width: 100%;
  color: $gray6;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;

  .csstransitions & {
    $transition: 
      border linear .2s, 
      box-shadow linear .2s;
    @include transition($transition);
  }

  .borderradius & { @include border-radius($formControlBorderRadius); }

  .boxshadow & { @include box-shadow(inset 0 1px 0 $white); }

  .cssgradients & { @include reduGradient($white, $gray3, 0.8); }

  .no-cssgradients.gt-ie8 & {
    // http://www.colorzilla.com/gradient-editor/#e6e6e6+0,ffffff+40;Custom
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  }

  .no-cssgradients.ie8 & { filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff',GradientType=0 ); }

  .control-success & { border-color: $green2; }

  .control-error & { border-color: $red2; }

  &:hover {
    border-color: $blue2;

    .control-success & { border-color: $green3; }

    .control-error & { border-color: $red4; }
  }

  &:focus {
    color: $black;
    background-color: $white !important;
    background-image: none !important;
    border-color: $blue2;
    outline: 0;

    .ie8 & { filter: none; }

    $boxShadowInsetNone: inset 0 0 0 rgba(0, 0, 0, 0);

    .boxshadow & {
      $boxShadow: 
        $boxShadowInsetNone, 
        0 0 6px 1px $blue2;
      @include box-shadow($boxShadow);
    }

    .control-success & {
      border-color: $green2;

      .boxshadow & {
        $boxShadow: 
          $boxShadowInsetNone, 
          0 0 6px 1px $green2;
        @include box-shadow($boxShadow);
      }
    }
    
    .control-error & {
      border-color: $red2;

      .boxshadow & {
        $boxShadow: 
          $boxShadowInsetNone, 
          0 0 6px 1px $red2;
        @include box-shadow($boxShadow);
      }
    }
  }
}

// Reseta a altura já que as textareas tem linhas.
textarea { 
  height: auto; 
  resize: vertical;
}

// Contador de caracteres restantes.
.character-counter {
  @extend .legend;
  position: absolute;
  left: 11px;
  bottom: -16px;
}

// Posiciona os radios e checkboxes melhor.
input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  line-height: normal;
  cursor: pointer;
}

// Reseta a largura dos input buttons, radios e checkboxes.
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] { width: auto; }

// Não fixa a altura do select de múltiplos elementos.
select[multiple],
select[size] { height: auto; }

// Foco para select, file, radio e checkbox.
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  // Padrão.
  outline: thin dotted #333;
  // Webkit.
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Checkboxes e radios.
// ==========================================================================

// Indenta os labels para posicionar os radios/checkboxes.
.control-radio,
.control-checkbox {
  display: block;
  min-height: $baseLineHeight;
  padding-left: 19px;
  overflow: hidden;
  color: $gray6;

  .ie8 &,
  .gt-ie8 & { padding-top: 2px; }

  .control-inline & { 
    padding-top: $formLabelTopPadding + 2px; 
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.control-inline {
  .control-radio + .control-radio,
  .control-checkbox + .control-checkbox { margin-left: 5px; }
}

.control-radio + .control-radio,
.control-checkbox + .control-checkbox { 
  margin-top: 2px; 

  .ie8 &,
  .gt-ie8 & { margin-top: 0; }
}

.control-radio input[type="radio"],
.control-checkbox input[type="checkbox"] {
  float: left;
  margin-left: -($baseLineHeight);
  margin-right: 10px;

  .ie8 &,
  .gt-ie8 & { margin-top: -1px; }
}

// Move a lista de opções para baixo para alinhar com a label.
.controls > .control-radio:first-child,
.controls > .control-checkbox:first-child { padding-top: $formLabelTopPadding + 2px; }

// Texto preto quando o radio ou checkbox forem selecionados.
.control-checked { color: $black; }


// Selects.
// ==========================================================================

// Selects para data.
.control-select-date {
  .controls { overflow: hidden; }

  select { 
    float: left;
    // Mês.
    width: 115px;

    // Dia. 
    &:first-child { width: 70px; }
    
    // Ano.
    &:last-child { width: 85px; }
  }

  select + select { margin-left: 5px; }
}


// Tamanho dos inputs.
// ==========================================================================

// Tamanho alternativo para os campos.

.control-big { 
  input[type="text"],
  input[type="password"],
  textarea,
  select,
  .placeholder {
    font-size: 16px; 
    height: 42px;
  }

  .placeholder { top: 5px; }

  .form-horizontal & .control-label { padding-top: 11px; }
}

@include grid-input($gridColumnWidth, $gridGutterWidth);


// Estado desativado.
// ==========================================================================

// Estado de desativado e somente leitura.
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: $gray1 !important;
  background-image: none !important;

  .ie8 & { filter: none !important; }

  &:hover { border-color: $gray4; }

  .boxshadow & { @include box-shadow(none); }
}


// Placeholders.
// ==========================================================================

// Cor de texto dos placeholders.

input::-webkit-input-placeholder { color: $gray4; }

input:-moz-placeholder { color: $gray4; }

textarea::-webkit-input-placeholder { color: $gray4; }

textarea:-moz-placeholder { color: $gray4; }

// Estilos do placeholder polyfill.

.placeholder {
  position: absolute;
  left: 0;
  top: 0;
  color: $gray4;
  z-index: 1;
  padding: 8px 10px;
}

.placeholder-hide-except-screenreader {
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.placeholder-hide { display: none; }


// Arquivo.
// ==========================================================================

.control-file-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  .button-default + .control-file-text { margin-left: 10px; }

  .button-default,
  .control-file-text { vertical-align: middle; }
}

.control-file-text { color: $gray4; }


// Lista de opções com texto.
// ==========================================================================

.control-option-list {
  @include form-control-append;

  .control-area {
    // Calcula o padding direito necessário.
    $appendAreaWidth: 28px;
    $controlListTextareaRightPadding: $appendAreaWidth +  $formControlHorizontalPadding;
    padding-right: $controlListTextareaRightPadding;
  }

  .control-append-area {
    padding: 6px 7px 6px 6px;
    border: 1px solid $gray4;
  }

  input[type="checkbox"] { margin: 0; }
}

.control-option-list-checked {
  .control-area {
    .boxshadow & {
      $rightSideWidth: 28px;
      $boxShadow: 
        -($rightSideWidth) 0 0 $white inset
      , 0 1px 0 $white inset;
      @include box-shadow($boxShadow)
    }

    .boxshadow &:focus {
      $boxShadow: 
        inset 0 0 0 rgba(0, 0, 0, 0)
      , 0 0 6px 1px $blue2;
      @include box-shadow($boxShadow);
    }
  }

  .control-append-area {
    background-color: $green2 !important;
    background-image: none !important;

    .ie8 & { filter: none !important; }
  }
}


// Formulário de busca.
// ==========================================================================

.form-search {
  @include form-control-append;

  .control-area {
    // Calcula o padding direito necessário.
    $searchButtonWidth: 38px;
    $formSearchInputRightPadding: $searchButtonWidth +  $formControlHorizontalPadding;
    padding-right: $formSearchInputRightPadding;
  }
}

.control-search-icon {
  @include text-replacement;
  display: block;
}


// Autocomplete.
// ==========================================================================

.control-autocomplete {
  // Lista mista com os itens adicionados pelo autocomplete.
  .list-mix-inner { 
    padding-right: 26px; 
    position: relative;
  }

  .control-autocomplete-dropdown + .list-mix { margin-top: 10px; }
}

// Dropdown.
.control-autocomplete-dropdown {
  @include box-sizing(border-box);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 35px;
  background-color: $gray1;
  border: 1px solid $gray6;
  padding: 10px 0;
  width: 100%;

  .button { margin: 0 10px; }
  
  .borderradius & { @include border-radius(5px); }

  .boxshadow & { @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.4)) }
}

// Legendas do tipo "Buscando...".
.control-autocomplete-hint { 
  text-align: center; 
  display: block;
}

// Lista de sugesões e escolhidos.
.control-autocomplete-suggestions,
.control-autocomplete-chosen {
  list-style: none;
  margin: 0;
}

// Sugestão.
.control-autocomplete-suggestion {
  color: $gray6;
  cursor: pointer;
  padding: 0 10px;
  vertical-align: middle;

  & + & { margin-top: 5px; }
}

.control-autocomplete-suggestion-selected { 
  background-color: $white; 
  color: $black;
}

.control-autocomplete-id,
.control-autocomplete-mail { 
  display: none;
}

// Thumbnail.
.control-autocomplete-thumbnail { @include square(32px); }

// Ícone de remover.
.control-autocomplete-close { 
  position: absolute;
  right: 5px;
  top: 30%;
  cursor: pointer;
}

.control-autocomplete-thumbnail,
.control-autocomplete-name,
.control-autocomplete-added-info { vertical-align: middle; }

// Encapsulador de nome e e-mail.
.control-autocomplete-added-info { 
  display: inline-block; 

  .control-autocomplete-name,
  .control-autocomplete-mail { display: block; }
  
  .control-autocomplete-name { color: $blue3; }
}

// E-mail.
.control-autocomplete-mail { @extend .legend; }

.control-autocomplete-thumbnail + .control-autocomplete-name,
.control-autocomplete-thumbnail + .control-autocomplete-added-info { margin-left: 5px; }

.token-input-list {
  list-style: none;
  margin: 0;
}