// ==========================================================================
// Cabeçalho (usuário não logado)
// ==========================================================================

// Wrapper de tudo.
.header-not-logged-in {
  $box-shadow:
    0 -1px 0 $white inset
  , 0  1px 0 $white inset
  , 0  2px 4px rgba(0, 0, 0, 0.5);
  @include box-shadow($box-shadow);
  height: 85px;
  background-color: $gray3;
  position: relative;
  border-bottom: 1px solid $gray6;

  .cssgradients & { @include redu-gradient($gray3, $white); }

  .no-cssgradients.gt-ie8 & {
    // http://www.colorzilla.com/gradient-editor/#ffffff+0,e6e6e6+100;Custom
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  }
}

.header-logo-wrapper {
  float: left;
  padding-top: 11px;
}

.header-logo { float: left; }

.header-logo-title-wrapper {
  float: left;

  .header-logo +
  & { margin: 10px 0 0 10px; }
}

.header-logo-title {
  font: 500 18px/18px $museo-sans;
  letter-spacing: -1px;
  max-width: 215px;
}

.header-logo-legend { color: $gray6; }


// Wrapper dos botões.
.header-buttons {
  float: right;
  margin-top: 20px;

  .button-big {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.header-button-sign-up +
.header-button-sign-in { margin-left: 20px; }

.header-button-sign-up,
.header-button-sign-in {
  display: inline-block;

  & > [class*="icon-"] {
    margin: 5px 5px 0 0;
    float: left;
  }
}

.header-separator {
  border-top: 1px solid $gray3;
  border-bottom: 1px solid $white;
  border-left: none;
  border-right: none;
  margin: 0;
}


// Dropdown de login
// ==========================================================================

.header-button-sign-in {
  .button-group {
    position: relative;
    display: inline-block;
  }

  .facebook-sign-in {
    margin: 20px 17px;
    font-size: 11px;
  }

  .dropdown-menu { width: 260px; }
}

.header-sign-in-form {
  padding: 20px 10px;

  .control-group +
  .control-group { margin-top: 2px; }
}

.header-sign-in-form-submit {
  margin-top: 10px;
  overflow: hidden;

  .legend { color: $gray6; }
}

.header-sign-in-recover {
  padding: 10px 10px 8px;
  text-align: center;
}


// Janela modal de cadastro
// ==========================================================================

// Wrapper.
.modal-sign-up {
  .modal-body {
    padding: 0;
    color: $gray6;
  }

  .header-separator { margin: 20px 0; }

  .header-separator +
  .row { margin-bottom: 25px; }

  .modal-footer {
    .button-default +
    .button-success { margin-left: 10px; }
  }
}

// Título.
.modal-sign-up-title {
  color: $green4;
  line-height: 22px;

  // Ajusta a posição do ícone.
  &[class*="icon-"][class*="-before"]:before {
    position: relative;
    top: 5px;
    float: left;
  }
}

.modal-sign-up-section {
  padding: 20px 20px 10px;

  p +
  .facebook-sign-up { margin-top: 20px; }

  .facebook-sign-up-button +
  .legend {
    margin-top: 5px;
    display: block;
  }
}

.list-separator +
.modal-sign-up-section { padding: 10px 20px 20px; }

// Área com o checkbox de aceitação dos termos de uso.
.modal-sign-up-tos {
  float: left;
  text-align: left;
  margin-top: 20px;

  .control-checkbox {
    text-align: center;
    padding-left: 0;

    input[type="checkbox"] {
      float: none;
      margin-top: 0;
    }
  }

  .control-error { display: inline-block; }
}

// Área com os botões de cancelar e cadastrar.
.modal-sign-up-buttons { float: right; }

// Explicação do login.
.modal-sign-up-login-explaination {
  margin-top: 20px;

  .legend { color: $gray6; }
}

.modal-sign-up-success {
  .modal-body {
    padding: 0 20px 20px;
    color: $black;

    p +
    p { margin-top: 20px; }
  }
}