// ==========================================================================
// Janela modal
// ==========================================================================

$modalWindowBorderRadius: 7px;

// Recalcula o z-index onde apropriado.
.modal-open {
  .dropdown-menu {  z-index: $zindexDropdown + $zindexModal; }

  .popover       {  z-index: $zindexPopover  + $zindexModal; }

  .tooltip       {  z-index: $zindexTooltip  + $zindexModal; }
}

// Fundo.
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindexModalBackdrop;
  background-color: rgb(152, 152, 152);

  &.fade { opacity: 0; }
}

.modal-backdrop,
.modal-backdrop.fade.in { @include opacity(80); }

// Base modal.
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: $zindexModal;
  overflow: auto;
  width: 520px;
  margin: -250px 0 0 -260px;
  background-color: $white;
  border: 1px solid $gray6;

  &.fade {
    @include transition(opacity .3s linear);
    top: -25%;
  }

  &.fade.in { top: 50%; }

  .borderradius & { @include border-radius($modalWindowBorderRadius); }

  .boxshadow & { @include box-shadow(0 4px 20px 1px rgba(0, 0, 0, 0.5)); }
}

.modal-header { padding: 20px 20px 10px; }

.modal-header-title { color: $gray6; }

.modal-header-subtitle,
.modal-header-subtitle:hover { color: $gray5; }

// Conteúdo.
.modal-body {
  padding: 0 20px 20px;
  overflow-y: auto;
  max-height: 340px;

  p { margin-bottom: 0; }
}

// Rodapé (para as ações).
.modal-footer {
  text-align: right;
  padding: 20px;
  background-color: $gray2;
  border-top: 1px solid $gray3;

  .button + .button { margin-left: 5px; }

  .borderradius & { @include border-radius(0 0 $modalWindowBorderRadius $modalWindowBorderRadius); }

  .boxshadow & { @include box-shadow(inset 0 1px 0 $white); }
}