// ==========================================================================
// Paginação
// ==========================================================================

.pagination {
  text-align: center;

  .button + .button { margin-left: 5px; }
}
