// ==========================================================================
// Popover
// ==========================================================================

// Variáveis.
// ==========================================================================

// Tamanho da borda do popover.
$popoverBorderRadius: 5px;

// Encapsulador.
.popover {
  position: absolute;
  z-index: $z-index-popover;
  display: none;
  top: 0;
  left: 0;
  padding: 5px;

  &.top,
  &.left { margin-top: -5px; }

  &.right,
  &.bottom { margin-left: 5px; }

  &.top .arrow { @include popover-arrow-top; }

  &.right .arrow { @include popover-arrow-right(8px, $gray6, -2px); }

  &.bottom .arrow { @include popover-arrow-bottom(8px, $gray6, -2px); }

  &.left .arrow { @include popover-arrow-left(8px, $gray6, -2px); }

  .arrow {
    @include square(0);
    position: absolute;
  }
}

// Parte de dentro.
.popover-inner {
  @include box-shadow(0 1px 10px 1px rgba(0, 0, 0, 0.4));
  @include border-radius($popoverBorderRadius);
  padding: 1px;
  width: 338px;
  overflow: hidden;
  background: $gray6;

  .popover-no-title & { width: 398px; }
}

.popover-title {
  @include border-radius($popoverBorderRadius $popoverBorderRadius 0 0);
  padding: 10px;
  background-color: $gray1;
  border-bottom: 1px solid $gray3;
}

.popover-content {
  @include box-shadow(inset 0 1px 0 0 $white);
  @include border-radius(0 0 $popoverBorderRadius $popoverBorderRadius);
  padding: 10px;
  background-color: $gray1;

  p,
  ul,
  ol { margin-bottom: 0; }

  .popover-no-title & { @include border-radius($popoverBorderRadius); }
}