// ==========================================================================
// Scaffolding
// ==========================================================================

body {
  @include text-shadow;
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $white;
}

.content-body {
  @include box-sizing;
  @include border-radius(10px);
  border: 1px solid rgb(203, 203, 203);
  background-color: $white;
  position: relative;
  // Altura dos pseudo elementos de gradientes.
  $vertical-gradient-height: 10px;
  // Padding inferior para cobrir o gradiente :after.
  padding-bottom: $vertical-gradient-height;
  min-height: 500px;

  &:before {
    @include border-radius(10px 10px 0 0);
    @include gradient($white, rgb(246, 246, 246));
    @include box-shadow(0 1px 0 $white inset);
    content: "";
    display: block;
    height: $vertical-gradient-height;

    .no-cssgradients.gt-ie8 & {
      // http://www.colorzilla.com/gradient-editor/#f6f6f6+0,ffffff+100;Custom
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    }
  }

  &:after {
    @include border-radius(0 0 10px 10px);
    @include gradient(rgb(246, 246, 246), $white);
    @include box-shadow(0 -1px 0 $white inset);
    content: "";
    display: block;
    height: $vertical-gradient-height;
    // Preciso posicionar com o absolute para o caso altura do container ser maior que a altura do seu conteúdo.
    position: absolute;
    width: 100%;
    bottom: 0;

    .no-cssgradients.gt-ie8 & {
      // http://www.colorzilla.com/gradient-editor/#f6f6f6+0,ffffff+100;Custom
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    }
  }
}

// Região comum entre separadores.
.content-section { padding: 10px 20px; }