// ==========================================================================
// Scaffolding
// ==========================================================================

body {
  @include text-shadow;
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $white;
}

// Links.
a {
  display: inline-block;
  color: $link-color;
  text-decoration: none;

  &:visited { color: $link-color-visited; }

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}
