.search-title-header { 
  position: relative;
  overflow: hidden;
  padding: 17px 0;

  .breadcrumb-mini-wrapper {
    position: absolute;
    bottom: -11px;
    width: 100%;
  }
}

.tabs { margin-top: 14px; }
