.main-wrapper {
  background-color: $gray1;
  & > .container {
    padding: 17px 0 20px;
    background: url("../img/icon/search-background_160.png") no-repeat 391px -49px;
  }
}

.search-title-header {
  position: relative;
  overflow: hidden;

  .legend {
    text-align: right;
    line-height: 14px;
  }

  & + .search-content {
    margin-top: 10px;
    ul,
    ol,
    li { list-style: none; }

    .search-results {
      .result-quantity {
        padding-top: 10px;
        text-align: center;
        line-height: 18px;
      }

      .search-filter {
        padding-top: 15px;
        text-align: center;
        .filters { display: inline-block; }
      }

      &.empty {
        text-align: center;
        p {
          padding-top: 20px;
          color: $gray4;
        }
        img { padding-top: 80px; }
      }

      .results-group {
        margin: 10px 0;

        &.results-by-environment {
          .general-list-item-column {
            .legend + .general-list-item-counters { margin-top: 23px; }
          }
        }

        &.results-by-space {
          .space-name { float: left; }

          .progress-bar-short {
            margin-top: 5px;
            float: right;
          }
        }

        .cssgradients &.results-by-space {
          .general-list-item {
            @include border-radius;
            @include box-shadow(0 1px 0 $gray4);
            background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e6e6e6), color-stop(100%, #f7f7f7));
            background-image: -webkit-linear-gradient(bottom, #e6e6e6, #f7f7f7);
            background-image: -moz-linear-gradient(bottom, #e6e6e6, #f7f7f7);
            background-image: -o-linear-gradient(bottom, #e6e6e6, #f7f7f7);
            background-image: linear-gradient(bottom, #e6e6e6, #f7f7f7);
          }
        }

        &.results-by-course,
        &.results-by-space {
          a img {
            width: 36px;
            height: 36px;
          }

          .general-list-item-column .general-list-item-title + .legend { margin-top: 0; }

          .result-found .general-list-item-column {
            img {
              @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.5));
              background-color: $white;
              padding: 2px;
            }
            .legend + .general-list-item-counters { margin-top: 16px; }

            &:last-child { width: 88%; }
          }
        }
      }
      .title-result {
        padding: 0 20px;

        .title-result-name {
          color: rgb(179, 179, 179);
          font-size: 16px;
          font-weight: 300;
          font-family: $museo-sans;
        }
      }

      a.link-falso {
        vertical-align: middle;
        margin: -3px 0 0 20px;
      }

      .result-found {
        .general-list-item {
          float: left;
          overflow: visible;
          width: 90%;
          width: -webkit-calc(50% - 50px);
          width: -moz-calc(50% - 50px);
          width: calc(50% - 50px);
          margin: 0 20px;

          .legend {
            clear: left;
          }

          .general-list-item-column {
            overflow: visible;
            float: left;

            &:last-child {
              width: 76%;
            }
          }
        }

        .button-dropdown {
          float: right;
          padding: 6px 10px;
        }


        .dropdown-menu {
          padding: 10px;
          margin-top: 35px;
          right: -4px;

          &:after {
            content: ' ';
            height: 0;
            width: 0;
            position: absolute;

            border: 9px solid transparent;
            border-bottom-color: $blue3;

            bottom: 100%;
            left: 93%;
            margin-left: -9px;
          }

          span {
            color: $gray4;
          }

          li {
            padding: 6px 0 6px 7px;
            width: 230px;
          }
        }


        .add-as-friend {
          float: right;
          padding: 2px 2px 2px 8px;
          text-align: center;
        }

        .result-separator {
          clear: both;
          overflow: hidden;
        }
      }
    }
  }

  .breadcrumb-mini { display: inline-block; }

  .search-title {
    width: 201px;
    cursor: pointer;
  }

  .legend {
    width: 240px;
    float: right;
  }

  .search-title-link {
    text-decoration: none;
    font: 500 18px/21px museo-sans,"Helvetica Neue",Arial,sans-serif;
    letter-spacing: -1px;
    width: 140px;
    margin-top: 4px;
    vertical-align: middle;

    &, &:visited { color: rgb(179, 179, 179); }

    &:hover, &:visited:hover { color: rgb(21, 138, 196); }
  }

  .breadcrumb-mini-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 18px;
  }
}

.tabs { margin-top: 14px; }

.results-group { clear: both; } //está no mal colocado em relação à hierarquia do sass porque eu vou pensar numa melhor classe.