// ==========================================================================
// Spinners
// ==========================================================================

%spinner-base {
  @include text-shadow(none);
	background-position: center center;
	background-repeat: no-repeat;
	color: transparent !important;

	&:hover { cursor: default; }
}

.spinner-horizontal-blue,
.spinner-horizontal-blue:hover,
.spinner-horizontal-blue:visited {
	@extend %spinner-base;
  background-image: image-url('spinner-blue-horiz.gif') !important;
}

.spinner-circular-gray,
.spinner-circular-gray:hover,
.spinner-circular-gray:visited {
  @extend %spinner-base;
  background-image: image-url('spinner-grey.gif') !important;
}

.spinner-circular-blue,
.spinner-circular-blue:hover,
.spinner-circular-blue:visited {
  @extend %spinner-base;
  background-image: image-url('spinner-blue.gif') !important;
}