// ==========================================================================
// Sprites
// ==========================================================================


@import "compass/utilities/sprites/base";

$sprite-layout: smart;
$sprite-sprite-dimensions: true;
$sprite-sprite-base-class: ".sprite" !default;

@import "sprite/*.png";
@include all-sprite-sprites;

.sprite-before:before { @include pseudo-before(5px, false); }

.sprite-after:after { @include pseudo-after(5px, false); }

.sprite { display: inline-block; }

.header-logo-wrapper:hover { @include sprite-sprite(light-logo); }

.footer-logo-link:hover { @include sprite-sprite(light-logo); }

.footer-contact:hover {
  @include sprite-sprite(light-talk-to-us);

  .footer-talk-to-us-balloons { @include sprite-sprite(talk-to-us_hover); }
}