// ==========================================================================
// Sprites
// ==========================================================================


@import "compass/utilities/sprites/base";

$sprite-layout: smart;
$sprite-sprite-dimensions: true;
$sprite-sprite-base-class: ".sprite" !default;

@import "sprite/*.png";
@include all-sprite-sprites;

.sprite-before:before { @include pseudo-before(5px, false); }

.sprite-after:after { @include pseudo-after(5px, false); }

.sprite { display: inline-block; }
