// ==========================================================================
// Tipografia
// ==========================================================================


// Parágrafo
// ==========================================================================

p {
  margin: 0;

  & + & { margin-top: 5px; }
}


// Cabeçalhos
// ==========================================================================

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0;
  text-rendering: optimizelegibility;
}

h1 { @include heading(1); }

h2 { @include heading(2); }

h3 { @include heading(3); }

h4 { @include heading(4); }

h5 { @include heading(5); }

h6 { @include heading(6); }

h7 { @include heading(7); }

h7 { display: block; }

h3 strong,
h4 strong,
h5 strong {
  margin-bottom: 9px;
  display: inline-block;
}

h3 strong { margin-top: 28px; }

h4 strong,
h5 strong { margin-top: 18px; }


// Rótulos
// ==========================================================================

.inl-label {
  @include border-radius(3px);
  font-size: 11px;
  line-height: 11px;
  padding: 3px 5px 2px 5px;
  text-transform: uppercase;

  & + & { margin-left: 5px; }
}

.label-news {
  @extend .inl-label;
  background: $gray3;
  color: $blue3;
}

.label-notify-me {
  @extend .inl-label;
  @include text-shadow(0 -1px 0 $red5);
  color: $white;
  background: $red2;
}

.label-online {
  @extend .inl-label;
  color: $green4;
  background: $green1;
}

.label-doubts {
  @extend .inl-label;
  @include text-shadow(0 -1px 0 $orange5);
  background: $orange3;
  color: $white;
}


// Listas
// ==========================================================================

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul ul,
ul ol,
ol ol,
ol ul { margin-bottom: 0; }

dt { font-weight: bold; }

dl dd { margin-left: 18px; }


// Outros
// ==========================================================================

// Negrito
strong { font-weight: bold; }

// Citações
blockquote, q, .legend { color: $gray5; }

// Legenda e link secundário
.legend,
.link-secondary {
  font-size: 11px;
  line-height: 11px;
}

// Código
code {
  color: $green4;
  font-family: $monospace-font-family;
}

// Link de nome
.link-name { font-weight: bold; }

// Links.
a,
.link-fake {
  display: inline-block;
  color: $link-color;
  text-decoration: none;

  &:visited { color: $link-color-visited; }

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

.link-fake { cursor: pointer; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }