// ==========================================================================
// Classes utilitárias
// ==========================================================================


// Floats rápidos.

.pull-right { float: right; }

.pull-left { float: left; }

// Alternando conteúdo.

.hide { display: none; }

.show { display: block; }

// Visibilidade.
.invisible { visibility: hidden; }

// Limpeza de floats.
.clearfix { @include clear-fix; }

.link-container { cursor: pointer; }

// Trunca com "..." o texto quando chegar no limite máximo.
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

// Centraliza um bloco.
.centralize {
  text-align: center;

  > * { display: inline-block; }
}


// Cria áreas que podem ser prefixadas ou sufixadas a outra (infixa).
//
// Exemplo de uso:
// <div class="area-fix">
//   <div class="area-prefix">Área prefixada (esquerda)</div>
//   <div class="area-infix">Área infixada (meio)</div>
//   <div class="area-suffix">Área sufixada (direita)</div>
// </div>
//
// Para ser usada com auxílio dos mixins area-prefix e area-sufix para ajustar o
// começo de conteúdo da .area-infix. Alguns exemplos de elementos que utilizam
// estas classes são o formulário de busca, formulário de busca com filtro e
// opções com texto.
// ==========================================================================

// Wrapper.
.area-fix { position: relative; }

.area-prefix,
.area-suffix {
  @include box-sizing;
  position: absolute;
  top: 0;
  bottom: 0;
}

// Área prefixada a esquerda.
.area-prefix { left: 0; }

// Área sufixada a direita.
.area-suffix { right: 0; }