// ==========================================================================
// Utilitários
// ==========================================================================


// Floats rápidos.

.pull-right { float: right; }

.pull-left { float: left; }

// Alternando conteúdo.

.hide { display: none; }

.show { display: block; }

// Visibilidade.
.invisible { visibility: hidden; }

// Substituição de texto.
.text-replacement { @include text-replacement; }

// Limpeza de floats.
.clearfix { @include clear-fix; }

.link-container { cursor: pointer; }

// Trunca com "..." o texto quando chegar no limite máximo.
.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}


// Cria áreas que podem ser prefixadas ou sufixadas a outra (infixa).
//
// Exemplo de uso:
// <div class="area-fix">
//   <div class="area-prefix">Área prefixada (esquerda)</div>
//   <div class="area-infix">Área infixada (meio)</div>
//   <div class="area-suffix">Área sufixada (direita)</div>
// </div>
//
// Para ser usada com auxílio dos mixins area-prefix e area-sufix para ajustar o
// começo de conteúdo da .area-infix. Alguns exemplos de elementos que utilizam
// estas classes são o formulário de busca, formulário de busca com filtro e
// opções com texto.
// ==========================================================================

// Wrapper.
.area-fix {
  position: relative;

  &:hover {
    .area-prefix,
    .area-infix,
    .area-suffix { border-color: $blue2; }
  }
}

.area-prefix,
.area-suffix {
  @include box-sizing;
  position: absolute;
  top: 0;
  bottom: 0;

  .cssgradients & { @include redu-gradient($gray2, $white); }

  .no-cssgradients.gt-ie8 & {
    // http://www.colorzilla.com/gradient-editor/#ffffff+0,e6e6e6+100;Custom
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  }
}

// Área prefixada a esquerda.
.area-prefix {
  left: 0;
  @include border-top-right-radius(0);
  @include border-bottom-right-radius(0);
}

// Área sufixada a direita.
.area-suffix {
  right: 0;
  @include border-top-left-radius(0);
  @include border-bottom-left-radius(0);
}