// Alinha cada div de status separadamente
.status-list .status {
  overflow: hidden;
  margin: 20px;
}

.subject-info {
  margin-top: 10px;
  overflow: hidden;
}

.create-status {
  margin: 20px;

  hr { border: transparent; } // Foi necessária adição deste hr na aŕea de criar status para forçar que os botões aparecessem abaixo (o bug do chrome). Tive que deixá-la sem borda para que não aparecesse para o usuário.
}

// Aba para área de status, criação de status e comentários.
.status-tab {
  position: relative;

  &:before {
    border-color: $gray2 $white;
    border-style: solid;
    border-width: 0 10px 10px;
    content: " ";
    position: absolute;
    top: -10px;
    width: 0;
  }
  // Aba à direita
  &.tab-right:before { right: 39px; }

  // Aba à esquerda
  &.tab-left:before { left: 20px; }
}

// Estilização dos formulários para criar respostas e status
.create-response,
.create-status {
  padding: 10px;
  background-color: $gray2;
  @include border-radius;
  @include clear-fix;

  .status-buttons {
    float: right;
    margin: 5px 0 0;

    li { display: inline; }
  }
}

// Alinhar status
.subject,
.subject-content { margin-left: 42px; }

// Remove margens à esquerda quando status não tem contexto
.status.without-context { //Adição da classe without-context para remover margens à direita de elementos sem contexto, sem a necessidade do seletor '+'
  .subject,
  .subject-content { margin-left: 0; }

  .subject-info { margin-top: 0; }
}

// Aplica estilos gerais a todos status
.status-list {

  li { list-style: none; }

  .author-thumbnail {
    width: 32px;
    height: 34px;
    float: left;
    margin-right: 10px;
  }

  .date { display: block; }

  .actions {
    overflow: hidden;

    li {
      margin-top: 10px;
      float: right;
      margin-right: 20px;

      &[class*="icon-"]:before { vertical-align: middle; }
    }
  }

  .icon-close {
    float: right;
    cursor: pointer;
  }

  .status-content,
  .responses {
    margin-left: 42px;
    background-color: $gray2;
    @include border-radius;

    .show-responses { display: none; }
  }

  .status-content {
    margin-top: 10px;
    padding: 10px;

    p { @include text-shadow(none); }
  }

  .action { color: $gray5; }

  .help { color: $orange3; }

  .responses {
    margin-top: 15px;

    .last-responses,
    .see-more {
      display: block;
      text-align: center;
      padding: 10px;
    }

    .response {
      padding: 10px;

      .status-content {
        margin-left: 42px;
        padding: 0;
        margin-top: 0;
      }
    }
  }

  // Aplica estilos aos status com log
  .log {
    .subject { margin-top: 5px; }

    // Posiciona ícone do status de pedido de ajuda
    .subject-info[class*="icon-"]:before {
      position: absolute;
      margin-left: -75px;
    }

    .see-all { float: right; }

    // Posiciona ícone do status de agrupamento de membros
    .subject-info .action {
      &[class*="icon-"]:before {
        position: absolute;
        margin-left: -35px;
      }
    }

    .subject-content {
      .status-content { margin-top: 5px; }

      .grouping-elements {
        margin-right: 20px;
        height: 40px;


        li {
          display: inline;

          img { margin: 8px 3px 0 0; }
        }
      }
    }
  }

  .status .context {
    margin-bottom: 5px;

    .context-icon {
      float: left;
      width: 32px;
      margin-right: 10px;

      &[class*="icon-"]:before { float: left; }
    }

    a {
      display: block;
      line-height: 11px;
    }
  }

  .create-response {
    margin-top: 10px;
    margin-left: 42px;
  }
}

.context-link-hover {
  color: rgb(21, 138, 196) !important;
  text-decoration: underline;
}