@import "compass/utilities/sprites/base";

// General Sprite Defaults
// You can override them before you import this file.
$icon-sprite-base-class: ".icon-sprite" !default;
$icon-sprite-dimensions: false !default;
$icon-position: 0% !default;
$icon-spacing: 0 !default;
$icon-repeat: no-repeat !default;
$icon-prefix: '' !default;
$icon-clean-up: true !default;
$icon-layout:vertical !default;
$icon-inline: false !default;

 
  $icon-sprites: sprite-map("icon/*.png", $layout: $icon-layout, $cleanup: $icon-clean-up);


// All sprites should extend this class
// The icon-sprite mixin will do so for you.
@if $icon-inline {
  #{$icon-sprite-base-class} {
    background-image: inline-sprite($icon-sprites);
  } 
} @else {
  #{$icon-sprite-base-class} {
    background: $icon-sprites no-repeat;
  }
}
//sass functions to return the dimensions of a sprite image as units

  @function icon-sprite-width($name) {
    $file: sprite_file($icon-sprites, $name);
    @return image-width($file);
  }

  @function icon-sprite-height($name) {
    $file: sprite_file($icon-sprites, $name);
    @return image-height($file);
  }


// Use this to set the dimensions of an element
// based on the size of the original image.
@mixin icon-sprite-dimensions($name) {
  @include sprite-dimensions($icon-sprites, $name)
}

// Move the background position to display the sprite.
@mixin icon-sprite-position($name, $offset-x: 0, $offset-y: 0) {
  @include sprite-background-position($icon-sprites, $name, $offset-x, $offset-y)
}

// Extends the sprite base class and set the background position for the desired sprite.
// It will also apply the image dimensions if $dimensions is true.
@mixin icon-sprite($name, $dimensions: $icon-sprite-dimensions, $offset-x: 0, $offset-y: 0) {
  @extend #{$icon-sprite-base-class};
  @include sprite($icon-sprites, $name, $dimensions, $offset-x, $offset-y)
}

@mixin icon-sprites($sprite-names, $dimensions: $icon-sprite-dimensions, $prefix: sprite-map-name($icon-sprites), $offset-x: 0, $offset-y: 0) {
  @include sprites($icon-sprites, $sprite-names, $icon-sprite-base-class, $dimensions, $prefix, $offset-x, $offset-y)
}

// Generates a class for each sprited image.
@mixin all-icon-sprites($dimensions: $icon-sprite-dimensions, $prefix: sprite-map-name($icon-sprites), $offset-x: 0, $offset-y: 0) {
  @include icon-sprites(account-blue_16_18 account-lightblue_16_18 add-friend-darkgray_32_34 administrator-gray_16_18 apps-portal-blue_16_18 apps-portal-gray_48_50 apps-portal-halfgray_halfblue_48_50 apps-portal-lightblue_16_18 arrow-down-blue_8_10 arrow-down-gray_8_10 arrow-down-lightblue_8_10 arrow-down-pagination-blue_16_18 arrow-down-pagination-gray_16_18 arrow-left-blue_16_18 arrow-left-blue_8_10 arrow-left-gray_8_10 arrow-left-lightblue_16_18 arrow-left-lightblue_8_10 arrow-right-blue_16_18 arrow-right-blue_8_10 arrow-right-gray_8_10 arrow-right-lightblue_16_18 arrow-right-lightblue_8_10 arrow-right-nav-local-blue_11_32 arrow-right-nav-local-lightblue_11_32 arrow-right-separator-gray_16_18 arrow-right-squared-gray_16_18 arrow-up-balloon-gray_20_8 arrow-up-blue_8_10 arrow-up-curly-gray arrow-up-dropdown-lightblue_20_8 arrow-up-lightblue_8_10 biography-blue_16_18 biography-lightblue_16_18 biography-white_blue_16_18 classmates-gray_16_18 close-big-gray_16_18 close-big-red_16_18 close-blue_8_10 close-gray_16_18 close-gray_8_10 close-lightblue_8_10 close-red_16_18 close-red_8_10 comment-blue_16_18 comment-gray_16_18 comment-lightblue_16_18 connections-blue_32_34 connections-gray_32_34 contacts-blue_16_18 contacts-gray_16_18 contacts-lightblue_16_18 contacts-white_blue_16_18 contacts-white_green_16_18 content-blue_16_18 content-gray_16_18 content-lightblue_16_18 correct-gray_16_18 correct-green_16_18 correct-green_8_10 course-blue_16_18 course-blue_32_34 course-gray_16_18 course-gray_32_34 course-lightblue_16_18 course-lightblue_32_34 course-lightgray_32_34 curriculum-blue_16_18 curriculum-darkgray_32_34 curriculum-lightblue_16_18 curriculum-white_blue_16_18 description-blue_16_18 description-gray_16_18 description-lightblue_16_18 environment-blue_16_18 environment-blue_32_34 environment-gray_16_18 environment-gray_32_34 environment-lightblue_16_18 environment-lightblue_32_34 environment-lightgray_32_34 environment-white_blue_16_18 exercise-blue_16_18 exercise-lightblue_16_18 favorite-blue_16_18 favorite-blue_32_34 favorite-gray_16_18 favorite-gray_32_34 favorite-lightblue_16_18 favorite-white_blue_16_18 file-blue_16_18 file-lightblue_16_18 file-white_blue_16_18 grouping-gray_16_18 home-blue_16_18 home-lightblue_16_18 home-white_blue_16_18 institution-blue_32_34 institution-gray_32_34 lights-blue_16_18 lights-lightblue_16_18 list-blue_16_18 list-lightblue_16_18 magnifier-blue_16_18 magnifier-gray_16_18 magnifier-lightblue_16_18 manage-blue_16_18 manage-blue_32_34 manage-gray_32_34 manage-lightblue_16_18 manage-white_blue_16_18 member-blue_16_18 member-gray_16_18 member-lightblue_16_18 member-white_blue_16_18 members-blue_16_18 members-gray_16_18 members-lightblue_16_18 members-white_blue_16_18 message-blue_16_18 message-blue_32_34 message-darkgray_32_34 message-gray_32_34 message-lightblue_16_18 message-white_blue_16_18 mobile-darkgray_32_34 notification-blue_16_18 notification-lightblue_16_18 oer-blue_16_18 oer-lightblue_16_18 partner-blue_16_18 partner-lightblue_16_18 plan-blue_16_18 plan-lightblue_16_18 presentation-blue_16_18 presentation-lightblue_16_18 privacy-policy-darkgray_32_34 private-blue_16_18 private-gray_16_18 private-lightblue_16_18 profile-2-blue_16_18 profile-2-lightblue_16_18 profile-blue_16_18 profile-darkgray_32_34 profile-lightblue_16_18 reply-blue_8_10 reply-gray_16_18 reply-gray_8_10 reply-lightblue_16_18 request-help-blue_16_18 request-help-gray_16_18 request-help-lightblue_16_18 request-help-lightorange_16_18 request-help-orange_16_18 seen-gray_16_18 sent-message-blue_32_34 sent-message-gray_32_34 space-blue_16_18 space-blue_32_34 space-gray_16_18 space-gray_32_34 space-lightblue_16_18 space-lightblue_32_34 space-lightgray_32_34 specialist-gray_16_18 specialist-gray_32_34 star-empty-gray_16_18 star-empty-gray_8_10 star-full-blue_16_18 star-full-gray_16_18 star-full-gray_8_10 star-full-lightblue_16_18 star-full-lightgray_16_18 subject-blue_16_18 subject-blue_32_34 subject-gray_16_18 subject-gray_32_34 subject-lightblue_16_18 subject-lightblue_32_34 subject-lightgray_32_34 subject-white_blue_16_18 tag-blue_16_18 tag-gray_16_18 tag-lightblue_16_18 teacher-blue_16_18 teacher-gray_16_18 teacher-lightblue_16_18 terms-of-service-darkgray_32_34 text-page-blue_16_18 text-page-lightblue_16_18 tutor-blue_16_18 tutor-gray_16_18 tutor-lightblue_16_18 video-blue_16_18 video-gray_16_18 video-lightblue_16_18 wall-blue_16_18 wall-blue_32_34 wall-gray_16_18 wall-gray_32_34 wall-lightblue_16_18 wall-white_blue_16_18 wiki-blue_16_18 wiki-lightblue_16_18 wiki-white_blue_16_18, $dimensions, $prefix, $offset-x, $offset-y);
}