<div class="row">
  <div class="span3">
    &nbsp;
    <ul class="nav-local nav-local-fixed">
      <li class="nav-local-item link-container nav-local-item-active icon-arrow-right-nav-local-lightblue_11_32-after">
        <a class="nav-local-link link-target" href="#ajax-spinners" title="AJAX spinners">AJAX spinners</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#system-messages" title="Mensagens do sistema (sobrepostas)">Mensagens do sistema</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#message-block" title="Mensagens em bloco">Mensagens em bloco</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#tooltip" title="Tooltip">Tooltip</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#popover" title="Popover">Popover</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#popover-2" title="Popover 2">Popover 2</a>
      </li>
    </ul>
  </div>
  <div class="span13">
    <div class="content">
      <h2>Alertas e avisos</h2>

      <h3 id="ajax-spinners">AJAX spinners</h3>

      <div class="row">
        <div class="span9">
          <p>Os spinners são usados em todos elementos <code>data-remote="true"</code> que fazem alguma requisição AJAX.</p>
          <p>Botões com <code>.button-default</code>, <code>.button-primary</code>, <code>.button-danger</code> ou <code>.button-success</code> usarão os spinners circulares azul ou cinza, dependendo do botão.</p>
          <p>Os links normais usarão o spinner circular cinza. Porém, se o link for um link secundário (com <code>.link-secondary</code>), o spinner utilizado será o horizontal azul.</p>
        </div>
        <div class="span4">
          <h5>Arquivo</h5>
          <p><code>_spinners.scss</code></p>
          <h5>Dependência</h5>
          <p><code rel="tooltip" title="Inclusão dos spinners.">bootstrap-spinners.js</code></p>
        </div>
      </div>
      <div class="row">
        <div class="span13">
          <div class="well">
            <div class="button-toolbar">
              <button data-remote="true" class="button-primary">Botão primário</button>
              <button data-remote="true" class="button-default icon-teacher-lightblue_16_18-before">Professor</button>
              <button data-remote="true" class="button-danger">B<strong>o</strong>t<em>ã</em>o</button>
              <button data-remote="true" class="button-success"><p>Parágrafo 1</p><p>Parágrafo 2</p></button>
            </div>
            <p>Este aqui é um exemplo do spinner para <a href="#" data-remote="true" class="link-secondary">links secundários</a>. Já esse são para <a href="#" data-remote="true">links normais</a>.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span13">
          <pre class="prettyprint linenums">
&lt;button data-remote="true" class="button-(primary|default|danger|success)"&gt;BUTTON_TEXT&lt;/button&gt;

&lt;a href="LINK" data-remote="true" [class="link-secondary"]&gt;LINK_TEXT&lt;/a&gt;</pre>
        </div>
      </div>

      <h3 id="system-messages">Mensagens do sistema (sobrepostas)</h3>

      <div class="row">
        <div class="span9">
          <p>Estas mensagens aparecerão sobrepostas no topo da tela. Todas as mensagens levam a classe <code>.system-message</code>. Dependendo do tipo de mensagem, deve-se adicionar as classes <code>.message-warning</code>, <code>.message-success</code>, <code>.message-info</code> ou <code>.message-busy</code>.</p>
          <p>Para ter as mensagens animadas quando forem fechadas, adicione as classes <code>.fade</code> e <code>.in</code>.</p>
        </div>
        <div class="span4">
          <h5>Arquivo</h5>
          <p><code>_system-messages.scss</code></p>
          <h5>Dependência</h5>
          <p><code>bootstrap-system-message.js</code></p>
        </div>
      </div>

      <div class="row">
        <div class="span10 offset1">
          <div class="system-message message-warning fade in">
            <span data-dismiss="alert" class="message-close">×</span>
            <p><strong>Ops!</strong> Quando alguma coisa não funciona bem, este aviso é mostrado... Os links são mostrados <a href="#">desta cor</a> e mais escuro no hover.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span10 offset1">
          <div class="system-message message-success fade in">
            <span data-dismiss="alert" class="message-close">×</span>
            <p><strong>Muito bem!</strong> Pelo visto, a ação foi bem sucedida. E o usuário precisa saber disso. Os links são mostrados <a href="#">desta cor</a> e mais escuro no hover.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span10 offset1">
          <div class="system-message message-info">
            <span data-dismiss="alert" class="message-close">×</span>
            <p><strong>Aviso.</strong> Sr. usuário, há algo que você precisa saber, porém sem urgência. Os links são mostrados <a href="#">desta cor</a> e mais escuro no hover.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span10 offset1">
          <div class="system-message message-busy"><p>Carregando...</p></div>
        </div>
      </div>

      <div class="row">
        <div class="span13">
          <pre class="prettyprint linenums">
&lt;div class="system-message message-(warning|success|info|busy) [fade in]"&gt;
  &lt;!-- IF MESSAGE SHOULD HAVE A CLOSE BUTTON --&gt;
  &lt;span data-dismiss="alert" class="message-close"&gt;×&lt;/span&gt;
  &lt;!-- END --&gt;
  &lt;p&gt;MESSAGE_CONTENT&lt;/p&gt;
&lt;/div&gt;</pre>
        </div>
      </div>

      <h3 id="message-block">Mensagens em bloco</h3>
      <div class="row">
        <div class="span6">
          <p>Diferentemente das mensagens do sistema, estas mensagens em bloco não ficam sobrepostas. Elas levam a classe <code>.message-block</code>. O conteúdo da mensagem deve ficar dentro da classe <code>.message-block-content</code>. Caso haja algum botão, ele deve ser colocado dentro da classe <code>.message-block-actions</code>.</p>
        </div>
        <div class="span7">
          <p>Da mesma maneira das mensagens do sistema, dependendo do tipo de mensagem, deve-se adicionar as classes <code>.message-warning</code>, <code>.message-success</code>, <code>.message-info</code> ou <code>.message-busy</code>.</p>
          <h5>Arquivo</h5>
          <p><code>_system-messages.scss</code></p>
          <h5>Dependência</h5>
          <p><code>bootstrap-system-message.js</code></p>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <div class="message-block message-warning fade in">
            <span data-dismiss="alert" class="message-close">×</span>
            <div class="message-block-content">
              <p><strong>Aviso.</strong> Sr. usuário, este tipo de mensagem pode surgir no próprio contexto da interface, seja no corpo principal ou nas colunas laterais. Por exemplo: pode-se anunciar uma nova funcionalidade, uma ajuda importante ou mesmo uma mensagem de boas vindas.</p>
            </div>
            <div class="message-block-actions">
              <a href="#" class="button-danger" title="Ir para um outro lugar">Ir para um outro lugar</a>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="message-block message-success fade in">
            <span data-dismiss="alert" class="message-close">×</span>
            <div class="message-block-content">
              <p><strong>Aviso.</strong> Sr. usuário, este tipo de mensagem pode surgir no próprio contexto da interface, seja no corpo principal ou nas colunas laterais. Por exemplo: pode-se anunciar uma nova funcionalidade, uma ajuda importante ou mesmo uma mensagem de boas vindas.</p>
            </div>
            <div class="message-block-actions">
              <a href="#" class="button-success" title="Ir para um outro lugar">Ir para um outro lugar</a>
            </div>
          </div>
        </div>
        <div class="span5">
          <div class="message-block message-info">
            <span data-dismiss="alert" class="message-close">×</span>
            <div class="message-block-content">
              <p><strong>Aviso.</strong> Sr. usuário, este tipo de mensagem pode surgir no próprio contexto da interface, seja no corpo principal ou nas colunas laterais. Por exemplo: pode-se anunciar uma nova funcionalidade, uma ajuda importante ou mesmo uma mensagem de boas vindas.</p>
            </div>
            <div class="message-block-actions">
              <a href="#" class="button-primary" title="Ir para um outro lugar">Ir para um outro lugar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span13">
          <div class="message-block message-busy">
            <span data-dismiss="alert" class="message-close">×</span>
            <div class="message-block-content">
              <p><strong>Aviso.</strong> Sr. usuário, este tipo de mensagem pode surgir no próprio contexto da interface, seja no corpo principal ou nas colunas laterais. Por exemplo: pode-se anunciar uma nova funcionalidade, uma ajuda importante ou mesmo uma mensagem de boas vindas.</p>
            </div>
          </div>
        </div>
      </div>
      <pre class="prettyprint linenums">
&lt;div class="message-block message-[warning|success|info|busy] [fade in]"&gt;
  &lt;!-- IF MESSAGE SHOULD HAVE CLOSE BUTTON --&gt;
  &lt;span data-dismiss="alert" class="message-close"&gt;×&lt;/span&gt;
  &lt;!-- END --&gt;
  &lt;div class="message-block-content"&gt;
    MESSAGE_CONTENT
  &lt;/div&gt;
  &lt;div class="message-block-actions"&gt;
    &lt;!-- POSSIBLY BUTTONS --&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>

      <h3 id="tooltip">Tooltip</h3>
      <div class="row">
        <div class="span9">
          <p>O tooltip pode ser usado em qualquer elemento, basta adicionar os atributos <code>rel="tooltip"</code> e <code>title</code> com o texto a ser exibido.</p>
        </div>
        <div class="span4">
          <h5>Arquivo</h5>
          <p><code>_tooltip.scss</code></p>
          <h5>Dependência</h5>
          <p><code>bootstrap-tooltip.js</code></p>
        </div>
      </div>
      <div class="row">
        <div class="span13">
          <div class="well">
            <p>Lorem ipsum dolor sit amet, consectetur <a href="#" rel="tooltip" title="Descrição secundária">adipiscing</a> elit. Mauris ultrices porta nisl.</p>
          </div>
          <pre class="prettyprint linenums">
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur &lt;a href="#" rel="tooltip" title="Descrição secundária"&gt;adipiscing&lt;/a&gt; elit. Mauris ultrices porta nisl.&lt;/p&gt;</pre>
        </div>
      </div>

      <h3 id="popover">Popover</h3>
      <div class="row">
        <div class="span9">
          <p>O popover pode ser usado em qualquer elemento, basta adicionar os atributos <code>rel="popover"</code>, <code>data-original-title</code> com o título e <code>data-content</code> com o conteúdo a ser exibido.</p>
        </div>
        <div class="span4">
          <h5>Arquivo</h5>
          <p><code>_popover.scss</code></p>
          <h5>Dependência</h5>
          <p><code>bootstrap-popover.js</code></p>
        </div>
      </div>
      <div class="row">
        <div class="span13">
          <p class="well">Lorem ipsum dolor sit amet, consectetur <a href="#" rel="popover" data-original-title="Título do popover"data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices porta nisl, at tempor nunc commodo eu. Phasellus pulvinar euismod turpis nullam.">adipiscing</a> elit. Mauris ultrices porta nisl.</p>
          <pre class="prettyprint linenums">
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur &lt;a href="#" rel="popover" data-original-title="Título do popover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices porta nisl, at tempor nunc commodo eu. Phasellus pulvinar euismod turpis nullam."&gt;adipiscing&lt;/a&gt; elit. Mauris ultrices porta nisl.&lt;/p&gt;</pre>
        </div>
      </div>

      <h3 id="popover-2">Popover 2</h3>
      <div class="row">
        <div class="span9">
          <p>Este popover segue o mesmo estilo do anterior, mas não necessita do atributo <code>data-original-title</code>.</p>
        </div>
        <div class="span4">
          <h5>Arquivo</h5>
          <p><code>_popover.scss</code></p>
          <h5>Dependência</h5>
          <p><code>bootstrap-popover.js</code></p>
        </div>
      </div>
      <div class="row">
        <div class="span13">
          <p class="well">Lorem ipsum dolor sit amet, consectetur <a href="#" rel="popover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices porta nisl, at tempor nunc commodo eu. Phasellus pulvinar euismod turpis nullam.">adipiscing</a> elit. Mauris ultrices porta nisl.</p>
          <pre class="prettyprint linenums">
      &lt;p&gt;Lorem ipsum dolor sit amet, consectetur &lt;a href="#" rel="popover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices porta nisl, at tempor nunc commodo eu. Phasellus pulvinar euismod turpis nullam."&gt;adipiscing&lt;/a&gt; elit. Mauris ultrices porta nisl.&lt;/p&gt;</pre>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
window.onload = function () {
  prettyPrint()

  $('[data-remote=true]').click(function(e) {
    e.preventDefault
    $.ajax({url: 'http://search.twitter.com/search.json?'})
  })
}
</script>