<div class="row">
  <div class="span16">
    <div class="content"> 
      <h2>Botões</h2>
      <div class="row">
        <div class="span13">
          <p>Existem quatro estilos para os botões: <code>.button-default</code>, <code>.button-primary</code>, <code>.button-success</code> e <code>.button-danger</code>.</p>
          <p>Normalmente estes estilos deverão ser somente aplicados em elementos <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code> ou <code>&lt;input type="button"&gt;</code>.</p>
          <p>Adicionando <code>.button-big</code> os botões aumentam de tamanho.</p>
        </div>
        <div class="span3">
          <h5>Arquivo:</h5>
          <code>_buttons.scss</code>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <div class="well">
            <a href="#" class="button-default" title="Botão padrão">Botão padrão</a><a class="button-default button-disabled" title="Desativado">Desativado</a>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <button class="button-primary" title="Botão primário">Botão primário</button>
            <button class="button-primary button-disabled" title="Desativado">Desativado</button>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <a href="#" class="button-success" title="Botão sucesso">Botão sucesso</a>
            <a class="button-success button-disabled" title="Desativado">Desativado</a>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <button class="button-danger" title="Botão perigo">Botão perigo</button>
            <button class="button-danger button-disabled" title="Desativado">Desativado</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <div class="well">
            <a href="#" class="button-default button-big" title="Botão padrão">Botão padrão</a>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <button class="button-primary button-big" title="Botão primário">Botão primário</button>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <a href="#" class="button-success button-big" title="Botão sucesso">Botão sucesso</a>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <button class="button-danger button-big" title="Botão perigo">Botão perigo</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span16">
          <pre class="prettyprint linenums">
&lt;button class="button-(default|primary|success|danger) [button-big] [button-disabled]" title="BUTTON_TEXT"&gt;BUTTON_TEXT&lt;/button&gt;</pre>
        </div>
      </div>
    </div>
  </div>
</div>