<div class="row">
  <div class="span16">
    <div class="content">
      <h2>Cores</h2>
      <div class="row">
        <div class="span16">
          <p>As paletas de azuis, verdes, laranjas, vermelhas e cinzas têm ao todo 25 cores que interagem com o preto e branco. Suas especificações devem ser sempre em RGB.</p>
          <p>As cores azuis estão associadas às ações primárias e representam seções ativas, hyperlinks e títulos. Os verdes, por sua vez, associam-se a ações que foram (ou serão) resultados de algo positivo e esperado pelo usuário. O vermelho está relacionado ao erro. O laranja, à avisos que peçam uma atenção diferenciada.</p>
          <p>O cinza compõe a base para a relação do preto no branco — fundamental na estética da interface. As suas tonalidades representam tanto áreas como superfícies de aspecto tridimensional.</p>
          <h5>Arquivo:</h5>
          <code>_variables.scss</code>
        </div>
      </div>
      <div class="row">
        <div class="span16">
          <div class="colors-box">
            <div class="color-row">
              <!-- Preto e branco. -->
              <div class="color-box color-black text-white">
                $black<br>rgb(  0,   0,   0)<br>#000
              </div>
              <div class="color-box color-white">
                $white<br>rgb(255, 255, 255)<br>#FFF
              </div>
            </div>
            <!-- Azul. -->
            <div class="color-row">
              <div class="color-box color-blue1">
                $blue1<br>rgb(219, 239, 247)<br>#DBEFF7
              </div>
              <div class="color-box color-blue2">
                $blue2<br>rgb(115, 195, 230)<br>#73C3E6
              </div>
              <div class="color-box color-blue3 text-white">
                $blue3<br>rgb( 77, 173, 214)<br>#4DADD6
              </div>
              <div class="color-box color-blue4 text-white">
                $blue4<br>rgb( 21, 138, 196)<br>#158AC4
              </div>
            </div>
            <!-- Verde. -->
            <div class="color-row">
              <div class="color-box color-green1">
                $green1<br>rgb(225, 241, 225)<br>#E1F1E1
              </div>
              <div class="color-box color-green2">
                $green2<br>rgb(171, 227, 133)<br>#ABE385
              </div>
              <div class="color-box color-green3 text-white">
                $green3<br>rgb( 95, 192, 128)<br>#5FC080
              </div>
              <div class="color-box color-green4 text-white">
                $green4<br>rgb( 97, 160, 128)<br>#61A080
              </div>
            </div>
            <!-- Vermelho. -->
            <div class="color-row">
              <div class="color-box color-red1">
                $red1<br>rgb(255, 220, 220)<br>#FFDCDC
              </div>
              <div class="color-box color-red2">
                $red2<br>rgb(255, 109, 109)<br>#FF6D6D
              </div>
              <div class="color-box color-red3 text-white">
                $red3<br>rgb(232,  59,  59)<br>#E83B3B
              </div>
              <div class="color-box color-red4 text-white">
                $red4<br>rgb(225,  39,  45)<br>#E1272D
              </div>
              <div class="color-box color-red5 text-white">
                $red5<br>rgb(193,  39,  45)<br>#C1272D
              </div>
            </div>
            <!-- Laranja. -->
            <div class="color-row">
              <div class="color-box color-orange1">
                $orange1<br>rgb(255, 238, 215)<br>#FFEED7
              </div>
              <div class="color-box color-orange2">
                $orange2<br>rgb(255, 200,   0)<br>#FFC800
              </div>
              <div class="color-box color-orange3">
                $orange3<br>rgb(255, 169,  53)<br>#FFA935
              </div>
              <div class="color-box color-orange4 text-white">
                $orange4<br>rgb(255, 124,  53)<br>#FF7C35
              </div>
              <div class="color-box color-orange5 text-white">
                $orange5<br>rgb(243,  94,   0)<br>#F35E00
              </div>
              <div class="color-box color-orange6 text-white">
                $orange6<br>rgb(243,  74,   0)<br>#F34A00
              </div>
            </div>
            <!-- Cinza. -->
            <div class="color-row">
              <div class="color-box color-gray1">
                $gray1<br>rgb(247, 247, 247)<br>#F7F7F7
              </div>
              <div class="color-box color-gray2">
                $gray2<br>rgb(240, 240, 240)<br>#F0F0F0
              </div>
              <div class="color-box color-gray3">
                $gray3<br>rgb(230, 230, 230)<br>#E6E6E6
              </div>
              <div class="color-box color-gray4">
                $gray4<br>rgb(204, 204, 204)<br>#CCC
              </div>
              <div class="color-box color-gray5">
                $gray5<br>rgb(179, 179, 179)<br>#B3B3B3
              </div>
              <div class="color-box color-gray6 text-white">
                $gray6<br>rgb(109, 110, 111)<br>#6D6E6F
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
