<div class="row">
  <div class="span16">
    <div class="content">
        <h1>Formulários</h1>
        <form class="form-horizontal">
          <div class="row">
            <div class="span3">
              <label for="input0x" class="control-label">Label</label>
            </div>
            <div class="span6">
              <input type="text" id="input0x" placeholder="Sou um input sem o atributo maxlength">
            </div>
          </div>
          <fieldset>
            <div class="control-group">
              <label for="input01" class="control-label">Label</label>
              <div class="controls">
                <input type="text" id="input01" placeholder="Sou um input sem o atributo maxlength">
              </div>
            </div>
            <div class="control-group">
              <label for="input02" class="control-label">Formulário desativado</label>
              <div class="controls">
                <input type="text" id="input02" placeholder="Estou desativado lá lá lá lá" disabled="disabled">
              </div>
            </div>
            <div class="control-group input-error">
              <label for="input03" class="control-label">Erro</label>
              <div class="controls">
                <input type="text" id="input03" placeholder="Tenho maxlength de 200" maxlength="200">
                <p class="character-count">200 caracteres restantes.</p>
              </div>
            </div>
            <div class="control-group input-success">
              <label for="input04" class="control-label">Sucesso</label>
              <div class="controls">
                <input type="text" id="input04" placeholder="Tenho maxlength de 5" maxlength="5">
                <p class="character-count">5 caracteres restantes.</p>
              </div>
            </div>
            <div class="control-group">
              <label for="input05" class="control-label">Área de texto</label>
              <div class="controls">
                <textarea id="input05" placeholder="Placeholderzinho..." rows="5"></textarea>
              </div>
            </div>
            <div class="control-group">
              <label for="input06" class="control-label">Área de texto</label>
              <div class="controls">
                <textarea id="input06" placeholder="Placeholderzinho..." rows="5" maxlength="5"></textarea>
                <p class="character-count">5 caracteres restantes.</p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Data de nascimento</label>
              <div class="controls select-birthdate">
                <select>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
                <select>
                  <option>Janeiro</option>
                  <option>Fevereiro</option>
                </select>
                <select>
                  <option>2012</option>
                  <option>2013</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Lista de opções</label>
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox">
                  Opção um;
                </label>
                <label class="checkbox">
                  <input type="checkbox">
                  Opção dois;
                </label>
                <label class="checkbox">
                  <input type="checkbox">
                  Opção três: o comportamento de mais de uma linha é exemplificado nesta opção;
                </label>
                <label class="checkbox">
                  <input type="checkbox">
                  Opção quarto.
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Lista de opções</label>
              <div class="controls">
                <label class="radio">
                  <input type="radio" name="radio">
                  Opção um;
                </label>
                <label class="radio">
                  <input type="radio" name="radio">
                  Opção dois;
                </label>
                <label class="radio">
                  <input type="radio" name="radio">
                  Opção três: o comportamento de mais de uma linha é exemplificado nesta opção;
                </label>
                <label class="radio">
                  <input type="radio" name="radio">
                  Opção quarto.
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Arquivo</label>
              <div class="controls">
                <input type="file" class="file">
              </div>
            </div>
            <div class="control-group">
              <label for="input07" class="control-label">Label</label>
              <div class="controls">
                <input type="text" id="input07" placeholder="El godzilla" class="input-big">
              </div>
            </div>
            <div class="control-group">
              <label for="input08" class="control-label">Label</label>
              <div class="controls">
                <input type="text" id="input08" placeholder="3 col (160px)" class="input-3-col">
              </div>
            </div>
            <div class="control-group">
              <label for="input09" class="control-label">Label</label>
              <div class="controls">
                <input type="text" id="input09" placeholder="4 col (220px)" class="input-4-col">
              </div>
            </div>
            <div class="control-group">
              <label for="input10" class="control-label">Label</label>
              <div class="controls">
                <input type="text" id="input10" placeholder="5 col (280px)">
              </div>
            </div>
            <div class="control-group">
              <label for="input11" class="control-label">Label</label>
              <div class="controls">
                <input type="text" id="input11" placeholder="6 col (340px)" class="input-6-col">
              </div>
            </div>
            <div class="control-group">
              <label for="input12" class="control-label">Label</label>
              <div class="controls">
                <input type="text" id="input12" placeholder="7 col (400px)" class="input-7-col">
              </div>
            </div>
            <div class="control-group">
              <label for="input13" class="control-label">Label</label>
              <div class="controls">
                <input type="text" id="input13" placeholder="8 col (460px)" class="input-8-col">
              </div>
            </div>
            <div class="control-group">
              <label for="input14" class="control-label">Label</label>
              <div class="controls">
                <input type="text" id="input14" placeholder="9 col (520px)" class="input-9-col">
              </div>
            </div>
            <div class="control-group">
              <label for="list-of-options-with-text" class="control-label">Lista de opções com texto</label>
              <div class="controls option-list">
                <textarea class="input-area" id="list-of-options-with-text" placeholder="Descrição" rows="5"maxlength="170"></textarea>
                <p class="character-count">170 caracteres restantes.</p>
                <div class="append-area">
                  <input type="checkbox" class="option-list-checkbox">
                </div>
              </div>
            </div>
          </fieldset>
        </form>
        <form>
          <div class="control-group">
            <label for="input15" class="control-label">Label</label>
            <input type="text" id="input15" placeholder="Sou um input sem o atributo maxlength">
          </div>
          <div class="control-group input-error">
            <label for="input16" class="control-label">Erro</label>
            <input type="text" id="input16" placeholder="Tenho maxlength de 200" maxlength="200">
            <p class="character-count">200 caracteres restantes.</p>
          </div>
          <div class="control-group input-success">
            <label for="input17" class="control-label">Erro</label>
            <input type="text" id="input17" placeholder="Tenho maxlength de 200" maxlength="200">
            <p class="character-count">200 caracteres restantes.</p>
          </div>
          <div class="control-group">
            <label for="input18" class="control-label">Área de texto</label>
            <textarea id="input18" placeholder="Placeholderzinho..." rows="5" maxlength="200"></textarea>
            <p class="character-count">200 caracteres restantes.</p>
          </div>
          <div class="control-group">
            <label class="control-label">Data de nascimento</label>
            <div class="select-birthdate">
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
              <select>
                <option>Janeiro</option>
                <option>Fevereiro</option>
              </select>
              <select>
                <option>2012</option>
                <option>2013</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Lista de opções</label>
            <label class="checkbox">
              <input type="checkbox">
              Opção um;
            </label>
            <label class="checkbox">
              <input type="checkbox">
              Opção dois;
            </label>
            <label class="checkbox">
              <input type="checkbox">
              Opção três: o comportamento de mais de uma linha é exemplificado nesta opção;
            </label>
            <label class="checkbox">
              <input type="checkbox">
              Opção quarto.
            </label>
          </div>
          <div class="control-group">
            <label class="control-label">Lista de opções</label>
            <label class="radio">
              <input type="radio" name="radio">
              Opção um;
            </label>
            <label class="radio">
              <input type="radio" name="radio">
              Opção dois;
            </label>
            <label class="radio">
              <input type="radio" name="radio">
              Opção três: o comportamento de mais de uma linha é exemplificado nesta opção;
            </label>
            <label class="radio">
              <input type="radio" name="radio">
              Opção quarto.
            </label>
          </div>
          <div class="control-group">
            <label for="list-of-options-with-text-2" class="control-label">Lista de opções com texto</label>
            <div class="controls option-list">
              <textarea class="input-area" id="list-of-options-with-text-2" placeholder="Descrição" rows="5"maxlength="170"></textarea>
              <p class="character-count">170 caracteres restantes.</p>
              <div class="append-area">
                <input type="checkbox" class="option-list-checkbox">
              </div>
            </div>
          </div>
        </form>
        <form class="form-search">
          <input type="text" size="16" id="appendedInput" placeholder="Digite sua pesquisa..." class="input-area">
          <button type="submit" class="append-area button"><span class="icon-magnifier-gray_16_18 text-replacement">Search</span></button>
        </form>
      </div>
    </div>
  </div>
</div>