<div class="row">
  <div class="span16">
    <div class="content">
      <h2>Ícones</h2>
      <div class="row">
        <div class="span12">
          <p>Utilizar os ícones é bastante simples. Para adicionar um ícone a qualquer elemento html, basta adicionar a classe <code>'.icon-nome-before'</code>. Os ícones possuem os seguintes tamanhos padrões: 8x10, 16x18 e 32x34.</p>
        </div>
        <div class="span4">
          <h5>Arquivo</h5>
          <p><code>_icons.scss</code></p>
        </div>
      </div>
      <div class="row">
        <div class="span14">
          <p>Se for necessária apenas a exibição do link, sem nenhum texto ao lado, utiliza-se a seguinte estrutura: <code>class = 'icon-xxxx show text-replacement'</code>. Note que é necessário adicionar três classes ao elemento.</p>
          <p>Veja alguns exemplos de uso:</p>
          <h3 class="icon-frequent-questions-blue_32_34-before" style="color: rgb(77, 173, 214);">Dúvidas frequentes</h3>
          <br>
          <pre class="prettyprint linenums">
&lt;h3 class="icon-frequent-questions-blue_32_34-before"&gt;Dúvidas frequentes&lt;/h3&gt;</pre>
          <br>
          <span class="icon-institution-blue_32_34 show text-replacement">Instituição</span>
          <br>
          <pre class="prettyprint linenums">
&lt;span class="icon-institution-blue_32_34 show text-replacement"&gt;Instituição&lt;/span&gt;</pre>
          <span class="legend">Note que a string 'Instituição' não é exibida por conta da utilização da classe text-replacement.</span>
          <br>
          <h3>Nomes</h3>
          <p>Os nomes dos ícones também possuem um padrão pré-definido para facilitar ainda mais a utilização. Todos os ícones possuem no seu nome a cor utilizada e seu tamanho em pixels.</p>
          <p>O padrão é o seguinte: <code>nome-do-icone_cor_altura_largura</code>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
