<div class="row">
  <div class="span3">
    &nbsp;
    <ul class="nav-local nav-local-fixed">
      <li class="nav-local-item link-container nav-local-item-active icon-arrow-right-nav-local-lightblue_11_32-after">
        <a class="nav-local-link link-target" href="#download" title="Download">Download</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#dependencies" title="Dependências">Dependências</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#contributing" title="Contribuições">Contribuições</a>
      </li>
    </ul>
  </div>
  <div class="span13">
    <div class="content">
      <h1>Redu Bootstrap</h1>
      <hr>
      <div class="button-toolbar">
        <a id="download" href="http://bit.ly/reduBootstrap" class="button-primary" title="Download"><h3>Download</h3></a>
      </div>
      <hr>
      
      <h4 id="dependencies">Dependências</h4>
      <p>Antes de começar a utilizar o Redu Bootstrap, é preciso estar atento aos seguintes requsitios:</p>
      
      <h5>jQuery</h5>
      <p>O bootstrap faz uso do jQuery +1.7.</p>
      <pre class="prettyprint linenums">
&lt;script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"&gt;&lt;/script&gt;
&lt;script&gt;window.jQuery || document.write('&lt;script src="js/vendor/jquery.js"&gt;&lt;\/script&gt;')&lt;/script&gt;</pre>
      
      <h5>Suporte específico ao +IE8</h5>
      <p>Para incluir estilos específicos ao IE8 e versões posteriores (IE9 em diante), como por exemplo gradientes, é preciso que a tag <code>&lt;html&gt;</code> do documento seja definida da seguinte maneira:</p>
<pre class="prettyprint linenums">
&lt;!--[if IE 8]&gt;&lt;html class="ie8"&gt;&lt;![endif]--&gt;
&lt;!--[if gt IE 8]&gt;&lt;html class="gt-ie8"&gt;&lt;![endif]--&gt;
&lt;!--[if gt IE 8]&gt;&lt;!--&gt;&lt;html&gt;&lt;!--&lt;![endif]--&gt;</pre>
      <p>Desta maneira, a classe <code>.ie8</code> será aplicada somente no IE8 e a classe <code>.gt-ie8</code> somente para versões acima do IE8. Nos outros navegadores, nenhuma classe será aplicada.</p>
      
      <h5>Suporte a CSS3</h5>
      <p>É preciso utilizar o <a href="http://modernizr.com/" title="Modernizr">Modernizr</a> para que, da mesma maneira das classes de suporte ao +IE8, ele adicione as devidas classes a tag <code>&lt;html&gt;</code> para identificar se o navegador tem suporte a algumas funcionalidades do CSS3.</p>
      <pre class="prettyprint linenums">
&lt;script src="js/vendor/modernizr.js"&gt;&lt;/script&gt;</pre>
      
      <h5>Suporte a seletores CSS3 para o IE8</h5>
      <p>É preciso utilizar o <a href="http://selectivizr.com/" title="Selectivizr">Selectivizr</a> para que certas pseudo classes, como por exemplo <code>:first-child</code> e <code>:last-child</code>, funcionem no IE8.</p>
      <pre class="prettyprint linenums">
&lt;!--[if (gte IE 6)&(lte IE 8)]&gt;
  &lt;script src="js/vendor/selectivizr.js"&gt;&lt;/script&gt;
&lt;![endif]--&gt;</pre>
      
      <h5>Suporte a fontes</h5>
      <p>Para incluir fontes como a Museo Sans, é preciso adicionar o seguinte bloco para utilizar o <a href="https://typekit.com/" title="Typekit">Typekit</a>:</p>
      <pre class="prettyprint linenums">
&lt;script src="http://use.typekit.com/lpo4rgu.js"&gt;&lt;/script&gt;
&lt;script&gt;try{Typekit.load();}catch(e){}&lt;/script&gt;</pre>
      <p><span class="label-doubts">Atenção</span> Tanto o Selectivizr como o Typekit só funcionarão se o site estiver rodando em um servidor (pode ser localhost).</p>
      
      <h4 id="contributing">Contribuições</h4>
      <p>Este projeto é open-source e está aberto a contribuições. Para contribuir acesse o <a href="http://github.com/redu/ui-components">Github do projeto</a>, faça um fork e crie um pull request. Documentação, proposta de funcionalidades e correções de bugs são bem vindos.</p>
    </div>
  </div>
</div>