<div class="row">
  <div class="span16">
    <div class="content">      
      <h2>Outros</h2>

      <h3>Barras de progresso</h3>
      <div class="row">
        <div class="span6">
          <p>As barras de progresso são elementos com a classe <code>.progress-bar-total</code>, representando a barra total, que contém a classe <code>.progress-bar-completed</code>, representando a porcentagem completada.</p>
        </div>
        <div class="span6">
          <p>Existem 3 tamanhos de barra, o menor leva a classe <code>.progress-bar-mini</code>, o médio <code>.progress-bar-medium</code> e maior <code>.progress-bar-large</code>. Além disso as barras podem ficar mais grossas adicionando a classe <code>.progress-bar-thick</code>.</p>
        </div>
        <div class="span4">
          <h4>Arquivo</h4>
          <code>_progress-bars.scss</code>
        </div>
      </div>

      <div class="row">
        <div class="span2">
          <div class="progress-bar-mini progress-bar-total">
            <span class="progress-bar-completed" style="width: 25%;">25%</span>
          </div>
          <div class="progress-bar-mini progress-bar-total">
            <span class="progress-bar-completed" style="width: 50%;">50%</span>
          </div>
          <div class="progress-bar-mini progress-bar-total">
            <span class="progress-bar-completed" style="width: 75%;">75%</span>
          </div>
          <div class="progress-bar-mini progress-bar-total">
            <span class="progress-bar-completed" style="width: 100%;">100%</span>
          </div>
        </div>
        <div class="span14">
          <pre class="prettyprint linenums">
  &lt;div class="progress-bar-mini progress-bar-total"&gt;
    &lt;span class="progress-bar-completed" style="width: PERCENTAGE%;"&gt;PERCENTAGE%&lt;/span&gt;
  &lt;/div&gt;</pre>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <div class="progress-bar-medium">
            <span class="progress-bar-total">
              <span class="progress-bar-completed" style="width: 25%;">25%</span>
            </span>
            <span class="progress-bar-legend">25%</span>
          </div>
          <div class="progress-bar-medium">
            <span class="progress-bar-total">
              <span class="progress-bar-completed" style="width: 50%;">50%</span>
            </span>
            <span class="progress-bar-legend">50%</span>
          </div>
          <div class="progress-bar-medium">
            <span class="progress-bar-total">
              <span class="progress-bar-completed" style="width: 75%;">75%</span>
            </span>
            <span class="progress-bar-legend">75%</span>
          </div>
          <div class="progress-bar-medium">
            <span class="progress-bar-total">
              <span class="progress-bar-completed" style="width: 100%;">100%</span>
            </span>
            <span class="progress-bar-legend">100%</span>
          </div>
        </div>
        <div class="span13">
          <pre class="prettyprint linenums">
  &lt;div class="progress-bar-medium"&gt;
    &lt;span class="progress-bar-total"&gt;
      &lt;span class="progress-bar-completed" style="width: PERCENTAGE%;"&gt;PERCENTAGE%&lt;/span&gt;
    &lt;/span&gt;
    &lt;span class="progress-bar-legend"&gt;PERCENTAGE%&lt;/span&gt;
  &lt;/div&gt;</pre>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          <div class="progress-bar-medium progress-bar-thick">
            <span class="progress-bar-total">
              <span class="progress-bar-completed" style="width: 25%;">25%</span>
            </span>
            <span class="progress-bar-legend">25%</span>
          </div>
          <div class="progress-bar-medium progress-bar-thick">
            <span class="progress-bar-total">
              <span class="progress-bar-completed" style="width: 50%;">50%</span>
            </span>
            <span class="progress-bar-legend">50%</span>
          </div>
          <div class="progress-bar-medium progress-bar-thick">
            <span class="progress-bar-total">
              <span class="progress-bar-completed" style="width: 75%;">75%</span>
            </span>
            <span class="progress-bar-legend">75%</span>
          </div>
          <div class="progress-bar-medium progress-bar-thick">
            <span class="progress-bar-total">
              <span class="progress-bar-completed" style="width: 100%;">100%</span>
            </span>
            <span class="progress-bar-legend">100%</span>
          </div>
        </div>
        <div class="span13">
          <pre class="prettyprint linenums">
  &lt;div class="progress-bar-medium progress-bar-thick"&gt;
    &lt;span class="progress-bar-total"&gt;
      &lt;span class="progress-bar-completed" style="width: PERCENTAGE%;"&gt;PERCENTAGE%&lt;/span&gt;
    &lt;/span&gt;
    &lt;span class="progress-bar-legend"&gt;PERCENTAGE%&lt;/span&gt;
  &lt;/div&gt;</pre>
        </div>
      </div>

      <div class="row">
        <div class="span5">
          <div class="progress-bar-large progress-bar-thick">
            <span class="progress-bar-total">
              <span class="progress-bar-completed" style="width: 25%;">25%</span>
            </span>
            <span class="progress-bar-legend">25%</span>
          </div>
          <div class="progress-bar-large progress-bar-thick">
            <span class="progress-bar-total">
              <span class="progress-bar-completed" style="width: 50%;">50%</span>
            </span>
            <span class="progress-bar-legend">50%</span>
          </div>
          <div class="progress-bar-large progress-bar-thick">
            <span class="progress-bar-total">
              <span class="progress-bar-completed" style="width: 75%;">75%</span>
            </span>
            <span class="progress-bar-legend">75%</span>
          </div>
          <div class="progress-bar-large progress-bar-thick">
            <span class="progress-bar-total">
              <span class="progress-bar-completed" style="width: 100%;">100%</span>
            </span>
            <span class="progress-bar-legend">100%</span>
          </div>
        </div>
        <div class="span11">
          <pre class="prettyprint linenums">
  &lt;div class="progress-bar-large progress-bar-thick"&gt;
    &lt;span class="progress-bar-total"&gt;
      &lt;span class="progress-bar-completed" style="width: PERCENTAGE%;"&gt;PERCENTAGE%&lt;/span&gt;
    &lt;/span&gt;
    &lt;span class="progress-bar-legend"&gt;PERCENTAGE%&lt;/span&gt;
  &lt;/div&gt;</pre>
        </div>
      </div>
    </div>
  </div>
</div>