<div class="row">
  <div class="span3">
    &nbsp;
    <ul class="nav-local nav-local-fixed">
      <li class="nav-local-item link-container nav-local-item-active icon-arrow-right-nav-local-lightblue_11_32-after">
        <a class="nav-local-link link-target" href="#lists" title="Listas">Listas</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#inline-labels" title="Inline labels">Inline labels</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#links" title="Links">Links</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#headings" title="Cabeçalhos">Cabeçalhos</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#paragraph" title="Parágrafo">Parágrafo</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#quotes" title="Quotes">Quotes</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#legend" title="Legenda">Legenda</a>
      </li>
      <li class="nav-local-item link-container">
        <a class="nav-local-link link-target" href="#code" title="Código">Código</a>
      </li>
    </ul>
  </div>
  <div class="span13">
    <div class="content">
      <h2>Tipografia</h2>
      <h5>Arquivo:</h5>
      <p><code>_typography.scss</code></p>
      <h3 id="lists">Listas</h3>
      <div class="row">
        <div class="span6">
          <div class="well">
            <ul>
              <li>Unordered list;</li>
              <li>Unordered list;</li>
              <li>Unordered list;</li>
              <li>Unordered list;</li>
              <li>Unordered list.</li>
            </ul>
          </div>
        </div>
        <div class="span7">
          <pre class="prettyprint linenums">
&lt;ul&gt;
  &lt;li&gt;Unordered list;&lt;/li&gt;
  &lt;li&gt;Unordered list;&lt;/li&gt;
  &lt;li&gt;Unordered list;&lt;/li&gt;
  &lt;li&gt;Unordered list;&lt;/li&gt;
  &lt;li&gt;Unordered list;&lt;/li&gt;
&lt;/ul&gt;</pre>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <div class="well">
            <ol>
              <li>Ordered list;</li>
              <li>Ordered list;</li>
              <li>Ordered list;</li>
              <li>Ordered list;</li>
              <li>Ordered list.</li>
            </ol>
          </div>
        </div>
        <div class="span7">
          <pre class="prettyprint linenums">
&lt;ol&gt;
  &lt;li&gt;Ordered list;&lt;/li&gt;
  &lt;li&gt;Ordered list;&lt;/li&gt;
  &lt;li&gt;Ordered list;&lt;/li&gt;
  &lt;li&gt;Ordered list;&lt;/li&gt;
  &lt;li&gt;Ordered list;&lt;/li&gt;
&lt;/ol&gt;</pre>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <div class="well">
            <dl>
              <dt>Description-list</dt>
              <dd>A description list is perfect to defining terms indent of 18px as list's style</dd>
            </dl>
          </div>
        </div>
        <div class="span7">
          <pre class="prettyprint linenums">
&lt;dl&gt;
  &lt;dt&gt;Description-list&lt;/dt&gt;
  &lt;dd&gt;A description list is perfect to defining terms indent of 18px as list's style&lt;/dd&gt;
&lt;/dl&gt;</pre>
        </div>
      </div>
      <h3 id="inline-labels">Inline labels</h3>
      <div class="row">
        <div class="span3">
          <div class="well">
            <span class="label-news">NOVIDADE</span>
          </div>
        </div>
        <div class="span10">
          <pre class="prettyprint linenums">
&lt;span class="label-news"&gt;NOVIDADE&lt;/span&gt;</pre>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <div class="well">
            <span class="label-notify-me">AVISE-ME</span>
          </div>
        </div>
        <div class="span10">
          <pre class="prettyprint linenums">
&lt;span class="label-notify-me"&gt;AVISE-ME&lt;/span&gt;</pre>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <div class="well">
            <span class="label-online">ONLINE</span>
          </div>
        </div>
        <div class="span10">
          <pre class="prettyprint linenums">
&lt;span class="label-online"&gt;ONLINE&lt;/span&gt;</pre>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <div class="well">
            <span class="label-doubts">DÚVIDAS</span>
          </div>
        </div>
        <div class="span10">
          <pre class="prettyprint linenums">
&lt;span class="label-doubts"&gt;DÚVIDAS&lt;/span&gt;</pre>
        </div>
      </div>
      <h3 id="links">Links</h3>
      <div class="row">
        <div class="span4">
          <div class="well">
            <a href="#" title="Hyperlink de texto">Hyperlink de texto</a>
          </div>
        </div>
        <div class="span9">
          <pre class="prettyprint linenums">
&lt;a href="#" title="Hyperlink de texto"&gt;Hyperlink de texto&lt;/a&gt;</pre>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <div class="well">
            <a href="#" title="Hyperlink de nome" class="link-name">Hyperlink de nome</a>
          </div>
        </div>
        <div class="span9">
          <pre class="prettyprint linenums">
&lt;a href="#" title="Hyperlink de nome" class="link-name"&gt;Hyperlink de nome&lt;/a&gt;</pre>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <div class="well">
            <a href="#" title="Hyperlink secundário / ação" class="link-secondary">Hyperlink secundário / ação</a>
          </div>
        </div>
        <div class="span9">
          <pre class="prettyprint linenums">
&lt;a href="#" title="Hyperlink secundário / ação" class="link-secondary"&gt;Hyperlink secundário / ação&lt;/a&gt;</pre>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <div class="well">
            <span class="link-fake">Elemento com estilo de link</span>
          </div>
        </div>
        <div class="span9">
          <pre class="prettyprint linenums">
&lt;span class="link-fake"&gt;Elemento com estilo de link&lt;/span&gt;</pre>
        </div>
      </div>
      <h3 id="headings">Headings</h3>
      <div class="row">
        <div class="span5">
          <div class="well">
            <h1>Heading 1</h1>
          </div>
          <pre class="prettyprint linenums">
&lt;h1&gt;Heading 1&lt;/h1&gt;</pre>
        </div>
        <div class="span4">
          <div class="well">
            <h2>Heading 2</h2>
          </div>
          <pre class="prettyprint linenums">
&lt;h2&gt;Heading 2&lt;/h2&gt;</pre>
        </div>
        <div class="span4">
          <div class="well">
            <h3>Heading 3</h3>
          </div>
          <pre class="prettyprint linenums">
&lt;h3&gt;Heading 3&lt;/h3&gt;</pre>
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <div class="well">
            <h4>Heading 4</h4>
          </div>
          <pre class="prettyprint linenums">
&lt;h4&gt;Heading 4&lt;/h4&gt;</pre>
        </div>
        <div class="span4">
          <div class="well">
            <h5>Heading 5</h5>
          </div>
          <pre class="prettyprint linenums">
&lt;h5&gt;Heading 5&lt;/h5&gt;</pre>
        </div>
        <div class="span4">
          <div class="well">
            <h6>Heading 6</h6>
          </div>
          <pre class="prettyprint linenums">
&lt;h6&gt;Heading 6&lt;/h6&gt;</pre>
        </div>
      </div>
      <div class="row">
        <div class="span13">
          <div class="well">
            <h7>Heading 7</h7>
          </div>
          <pre class="prettyprint linenums">
&lt;h7&gt;Heading 7&lt;/h7&gt;</pre>
        </div>
      </div>
      <div class="row">
        <div class="span5">
          <div class="well">
            <h3><strong>Heading 3</strong></h3>
          </div>
          <pre class="prettyprint linenums">
&lt;h3&gt;&lt;strong&gt;Heading 3&lt;/strong&gt;&lt;/h3&gt;</pre>
        </div>
        <div class="span4">
          <div class="well">
            <h4><strong>Heading 4</strong></h4>
          </div>
          <pre class="prettyprint linenums">
&lt;h4&gt;&lt;strong&gt;Heading 4&lt;/strong&gt;&lt;/h4&gt;</pre>
        </div>
        <div class="span4">
          <div class="well">
            <h5><strong>Heading 5</strong></h5>
          </div>
          <pre class="prettyprint linenums">
&lt;h5&gt;&lt;strong&gt;Heading 5&lt;/strong&gt;&lt;/h5&gt;</pre>
        </div>
      </div>
      <h3 id="paragraph">Parágrafo</h3>
      <div class="row">
        <div class="span6">
          <div class="well">
            <p>Exemplo de um parágrafo de texto. A tipografia da interface utiliza uma altura de linha mínima de 18px (exceto em legendas e hyperlinks secundários dentro do menu), combinando com a altura dos ícones. <strong>Elemento em negrito – strong – serve para indicar importância adicional à sentença</strong>. <em>Ênfase é utilizada para reforçar uma idéia.</em></p>
          </div>
        </div>
        <div class="span7">
          <pre class="prettyprint linenums">
&lt;p&gt;Exemplo de um parágrafo de texto. A tipografia da interface utiliza uma altura de linha mínima de 18px (exceto em legendas e hyperlinks secundários dentro do menu), combinando com a altura dos ícones. &lt;strong&gt;Elemento em negrito – strong – serve para indicar importância adicional à sentença&lt;/strong&gt;. &lt;em&gt;Ênfase é utilizada para reforçar uma idéia.&lt;/em&gt;&lt;/p&gt;</pre>
        </div>
      </div>
      <h3 id="quotes">Quotes</h3>
      <div class="row">
        <div class="span6">
          <div class="well">
            <blockquote>— Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha.
            </blockquote>
          </div>
        </div>
        <div class="span7">
          <pre class="prettyprint linenums">
&lt;blockquote&gt;— Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha.&lt;/blockquote&gt;</pre>
        </div>
      </div>
      <h3 id="legend">Legenda</h3>
      <div class="row">
        <div class="span6">
          <div class="well">
            <span class="legend">200 caracteres restantes (legenda)</span>
          </div>
        </div>
        <div class="span7">
          <pre class="prettyprint linenums">
&lt;span class="legend"&gt;200 caracteres restantes (legenda)&lt;/span&gt;</pre>
        </div>
      </div>
      <h3 id="code">Código</h3>
      <div class="row">
        <div class="span6">
          <div class="well">
              <code class="doc">@code {lucida console(reg);font-h:13px;line-h:18px;l-s:0;}</code>
          </div>
        </div>
        <div class="span7">
          <pre class="prettyprint linenums">
&lt;code&gt;@code {lucida console(reg);font-h:13px;line-h:18px;l-s:0;}&lt;/code&gt;</pre>
        </div>
      </div>
    </div>
  </div>
</div>
