<!doctype html>
<!--[if IE 8]><html class="ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><html class="gt-ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><!--><html lang="pt-br"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Botoes</title>
    <link rel="stylesheet" href="../css/bootstrap-redu.css">
    <link rel="stylesheet" href="../docs/assets/css/vendor/google-code-prettify.min.css" >
    <script src="../js/vendor/modernizr.js"></script>
  </head>
  <body onload="prettyPrint()">
    <div style="width: 960px; margin: 0 auto;">
      <h1>Botões</h1>
      <h5>Botão Primário</h5>
      <button class="button-primary">Primário</button>
      <button class="button-primary button-disabled">Primário</button>
      <pre style="margin-top: 10px;" class="prettyprint linenums">
      &lt;button class="button-primary"&gt;Primário&lt;/button&gt;
      &lt;button class="button-primary button-disabled"&gt;Primário&lt;/button&gt;</pre>
      <h5>Botão Default</h5>
      <button class="button-default">Padrão</button>
      <button class="button-default button-disabled">Padrão</button>
      <pre style="margin-top: 10px;" class="prettyprint linenums">
      &lt;button class="button-default"&gt;Padrão&lt;/button&gt;
      &lt;button class="button-default button-disabled"&gt;Padrão&lt;/button&gt;</pre>
      <h5>Botão successo</h5>
      <button class="button-success">successo</button>
      <button class="button-success button-disabled">successo</button>
      <pre style="margin-top: 10px;" class="prettyprint linenums">
      &lt;button class="button-success"&gt;successo&lt;/button&gt;
      &lt;button class="button-success button-disabled"&gt;successo&lt;/button&gt;</pre>
      <h5>Botão Perigo</h5>
      <button class="button-danger">Perigo</button>
      <button class="button-danger button-disabled">Perigo</button>
      <pre style="margin-top: 10px;" class="prettyprint linenums">
      &lt;button class="button-danger"&gt;Perigo&lt;/button&gt;
      &lt;button class="button-danger button-disabled"&gt;Perigo&lt;/button&gt;</pre>
      <h5>Botão Primário Grande</h5>
      <button class="button-primary button-big">Primário</button>
      <button class="button-primary button-disabled button-big">Primário</button>
      <pre style="margin-top: 10px;" class="prettyprint linenums">
      &lt;button class="button-primary button-big"&gt;Primário&lt;/button&gt;
      &lt;button class="button-primary button-disabled button-big"&gt;Primário&lt;/button&gt;</pre>
      <h5>Botão successo Grande</h5>
      <button class="button-success button-big">successo</button>
      <button class="button-success t button-disabled button-big">successo</button>
      <pre style="margin-top: 10px;" class="prettyprint linenums">
      &lt;button class="button-success button-big"&gt;successo&lt;/button&gt;
      &lt;button class="button-success button-disabled button-big"&gt;successo&lt;/button&gt;</pre>
      <h5>Links em forma de botão</h5>
      <a href="#" class="button-primary">Hi! I'm a link-button</a>
      <a href="#" class="button button-default">Hi! I'm a link-button</a>
      <a href="#" class="button button-success">Hi! I'm a link-button</a>
      <a href="#" class="button button-danger">Hi! I'm a link-button</a>
      <pre style="margin-top: 10px;" class="prettyprint linenums">
      &lt;a href="#" class="button button-primary"&gt;Hi! I'm a link-button&lt;/a&gt;
      &lt;a href="#" class="button button-default"&gt;Hi! I'm a link-button&lt;/a&gt;
      &lt;a href="#" class="button-success"&gt;Hi! I'm a link-button&lt;/a&gt;
      &lt;a href="#" class="button-danger"&gt;Hi! I'm a link-button&lt;/a&gt;</pre>
      <a href="http://www.facebook.com" class="button-primary button-disabled">Hi! I'm a button-disabled link-button</a>
      <a href="http://www.facebook.com" class="button button-default button-disabled">Hi! I'm a button-disabled link-button</a>
      <a href="http://www.facebook.com" class="button button-success button-disabled">Hi! I'm a button-disabled link-button</a>
      <a href="http://www.facebook.com" class="button button-danger button-disabled">Hi! I'm a button-disabled link-button</a>
      <pre style="margin-top: 10px;" class="prettyprint linenums">
      &lt;a href="#" class="button button-primary button-disabled"&gt;Hi! I'm a button-disabled link-button&lt;/a&gt;
      &lt;a href="#" class="button button-default button-disabled"&gt;Hi! I'm a button-disabled link-button&lt;/a&gt;
      &lt;a href="#" class="button-success button-disabled"&gt;Hi! I'm button-disabled alink-button&lt;/a&gt;
      &lt;a href="#" class="button-danger button-disabled "&gt;Hi! I'm a button-disabled link-button&lt;/a&gt;</pre>
      <div class="facebook-sign-in">
        <a href="#" class="facebook-sign-in-button">Entre com sua conta do Facebook</a>
      </div>
      <pre style="margin-top: 10px;" class="prettyprint linenums">
&lt;div class="facebook-sign-in"&gt;
  &lt;a href="#" class="facebook-sign-in-button"&gt;Entre com sua conta do Facebook&lt;/a&gt;
&lt;/div&gt;</pre>
      <div class="facebook-sign-up">
        <a href="#" class="facebook-sign-up-button">Cadastre-se no Redu usando sua conta do Facebook</a>
      </div>
      <pre style="margin-top: 10px;" class="prettyprint linenums">
&lt;div class="facebook-sign-up"&gt;
  &lt;a href="#" class="facebook-sign-up-button"&gt;Cadastre-se no Redu usando sua conta do Facebook&lt;/a&gt;
&lt;/div&gt;</pre>

      <input type="submit" value="Submit" class="button-big button-primary">
      <button class="button-big button-primary">Submit</button>
      <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;input type="submit" value="Submit" class="button-big button-primary">&gt;
        &lt;button class="button-big button-primary">&gt;Submit&lt;/button&gt;
      </pre>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery.js"><\/script>')</script>
    <script src="../docs/assets/js/vendor/google-code-prettify.min.js"></script>
    <script src="../js/bootstrap-redu.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script src="../js/vendor/selectivizr.js"></script>
    <![endif]-->
    <script src="http://use.typekit.com/lpo4rgu.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </body>
</html>
