<!doctype html>
<!--[if gt IE 8]><html class="gt-ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><!--><html lang="pt-br"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Rodapé</title>
    <link rel="stylesheet" href="../css/bootstrap-redu.css">
    <script src="../js/vendor/modernizr.js"></script>
  </head>
  <body style="background-color: rgb(246, 246, 246);">
    <div class="main-wrapper">
      <div class="footer-pusher"></div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="footer-logo-wrapper">
              <a class="footer-logo-link" href="http://tech.redu.com.br/">
                <h1 class="footer-logo-img sprite-logo-redu-tech-footer text-replacement">Redu Educational Technologies</h1>
              </a>
              <span class="footer-cnpj">CNPJ: 12.359.885 / 0001-07</span>
            </div>
          </div>
          <div class="span3">
            <ul class="footer-navigation">
              <li>
                <a title="Sobre o Redu" href="/#">Sobre o Redu</a>
              </li>
              <li>
                <a title="Segmentos" class="landing-scroll" href="/#segmentos">Segmentos</a>
              </li>
              <li>
                <a title="Vantagens" class="landing-scroll" href="/#vantagens">Vantagens</a>
              </li>
              <li>
                <a title="Funcionalidades" class="landing-scroll" href="/#funcionalidades">Funcionalidades</a>
              </li>
              <li>
                <a title="Planos" class="landing-scroll" href="/#planos">Planos</a>
              </li>
            </ul>
          </div>
          <div class="span3">
            <ul class="footer-navigation">
              <li>
                <a title="Blog" href="http://blog.redu.com.br/">Blog</a>
              </li>
              <li>
                <a title="Desenvolvedores" href="http://developers.redu.com.br/">Desenvolvedores</a>
              </li>
              <li>
                <a title="Política de Privacidade" data-toggle="modal" href="#modal-privacy-policy">Política de Privacidade</a>
              </li>
              <li>
                <a title="Termos de Uso" data-toggle="modal" href="#modal-tos">Termos de Uso</a>
              </li>
            </ul>
            <!-- render :partial => "landing/modal_tos" -->
            <!-- render :partial => "landing/modal_privacy_policy" -->
          </div>
          <div class="span3">
            <div class="footer-social-networks-legend">
              <span class="legend">Siga-nos na web</span>
            </div>
            <div class="footer-social-networks">
              <a title="Facebook" class="footer-social-network sprite-social-facebook text-replacement" href="https://www.facebook.com/redesocialeducacional">Facebook</a>
              <a title="Twitter" class="footer-social-network sprite-social-twitter text-replacement" href="http://twitter.com/redu_ead">Twitter</a>
            </div>
          </div>
          <div class="span3">
            <div class="footer-contact link-container">
              <div class="row">
                <div class="span2">
                  <h3>
                    <a title="Fale Conosco" class="link-target" href="/contato">Fale Conosco</a>
                  </h3>
                  <p class="legend">Dúvidas? Nosso suporte online pode lhe ajudar</p>
                </div>
                <div class="span1 alpha-half">
                  <span class="footer-talk-to-us-balloons sprite-talk-to-us text-replacement" title="Fale Conosco">Fale conosco</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery.js"><\/script>')</script>
    <script src="../js/vendor/jquery.tokeninput.js"></script>
    <script src="../js/vendor/jquery.autosize.min.js"></script>
    <script src="../js/vendor/placeholder-polyfill.min.js"></script>
    <script src="../js/bootstrap-redu.js"></script>
    <script src="http://use.typekit.com/lpo4rgu.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </body>
</html>
