<!doctype html>
<!--[if IE 8]><html class="ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><html class="gt-ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="pt-br"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Estilos de Lista</title>
    <link rel="stylesheet" href="../css/bootstrap-redu.css">
    <link rel="stylesheet" href="../docs/assets/css/vendor/google-code-prettify.min.css" >
    <script src="../js/vendor/modernizr.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery.js"><\/script>')</script>
    <script src="../docs/assets/js/vendor/google-code-prettify.min.js"></script>
    <script src="../js/vendor/jquery.autosize.js"></script>
    <script src="../js/bootstrap-redu.js"></script>
    <script src="http://use.typekit.com/lpo4rgu.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body style="width: 578px; margin: 50px auto;"><!-- Está com a largura fixa para que o mural fique no meio e facilite a revisão"-->
    <div class="create-status status-tab tab-left">
      <form>
        <textarea rows="1" cols="50" placeholder="Compartilhe algo com seus amigos através de seu mural"></textarea>
        <ul class="status-buttons" style="display: none;">
           <li><button class="button-default cancel">Cancelar</button></li>
           <li><input type="submit" class="button-primary" value="Enviar"></li>
        </ul>
      </form>
    </div>
    <ol class="status-list"><!-- Essa margem é para alinhar o mural ao meio-->
      <li>
        <hr class="list-separator">
        <div class="status">
          <div class="context">
            <span class="icon-subject-gray_32_34-before context-icon text-replacement">aula</span>
            <span class="legend">Universiade Voluptat Metus > Curso Lorem Ipsum > Disciplina Vestibulum Scelerisque</span>
            <a href="#">Aula de vídeo lorem ipsum</a>
          </div>
          <div class="subject">
            <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
            <div class="subject-info">
              <a href="http://#" class="icon-teacher-gray_16_18-before author link-name">Nome Sobrenome</a>
              <span class="action">comentou na aula</span>
              <a href="#" class="target icon-video-gray_16_18-before">Aula de vídeo lorem</a>
              <span class="icon-close icon-close-gray_16_18 text-replacement">Excluir</span>
              <span class="date legend">7 fev, 2012, 16:25</span>
            </div>
          </div>
          <div class="subject-content">
            <div class="status-content status-tab tab-left">
              <p>Cras id risus libero, ut condimentum ante. Class aptent taciti sociosqu ad litora torquent per conubia, perinceptus himenaeos.</p>
            </div>
            <ul class="actions"><li class="reply-status icon-reply-gray_8_10-before"><a href="#" class="link-secondary">Responder</a></li></ul>
            <div class="create-response status-tab tab-right" style="display: none;">
              <form>
                <textarea rows="6" cols="50" placeholder="Digite sua resposta ao comentário acima"></textarea>
                <ul class="status-buttons">
                   <li><button class="button-default cancel">Cancelar</button></li>
                   <li><input type="submit" class="button-primary" value="Enviar"></li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </li>
      <li>
        <hr class="list-separator">
        <div class="status log">
          <div class="context">
            <span class="icon-subject-gray_32_34-before context-icon text-replacement">Aula</span>
            <span class="legend">Universiade Voluptat Metus > Curso Lorem Ipsum > Disciplina Vestibulum Scelerisque</span>
            <a href="#">Aula de vídeo lorem ipsum</a>
          </div>
          <div class="subject">
            <span class="icon-request-help-lightorange_16_18-before text-replacement icon-log">Help</span>
            <div class="subject-info">
              <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
              <a href="http://#" class="icon-teacher-gray_16_18-before author link-name">Nome Sobrenome</a>
              <span class="action">pediu<span class="help"> ajuda </span>na aula</span>
              <a href="#" class="target icon-video-gray_16_18-before">Aula de vídeo lorem</a>
              <span class="icon-close icon-close-gray_16_18 text-replacement">Excluir</span>
              <span class="date legend">7 fev, 2012, 16:25</span>
            </div>
          </div>
          <div class="subject-content">
            <div class="status-content status-tab tab-left">
              <p>Cras id risus libero, ut condimentum ante. Class aptent taciti sociosqu ad litora torquent per conubia, perinceptus himenaeos.</p>
            </div>
            <ul class="actions">
              <li class="reply-status icon-reply-gray_8_10-before">
                <a href="#" class="link-secondary">Responder</a>
              </li>
            </ul>
            <div class="create-response status-tab tab-right" style="display: none;">
              <form>
                <textarea rows="6" cols="50" placeholder="Digite sua resposta ao comentário acima"></textarea>
                <ul class="status-buttons">
                   <li><button class="button-default cancel">Cancelar</button></li>
                   <li><input type="submit" class="button-primary" value="Enviar"></li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </li>
      <li>
        <hr class="list-separator">
        <div class="status without-context"><!--Adição da classe without-context para que não seja necessário usar o seletor "+" no css para remover margem à esquerda quanto não houver contexto no status-->
          <div class="subject">
            <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
            <div class="subject-info">
              <a href="http://#" class="link-name">Nome Sobrenome</a>
              <span class="action">comentou no <a href="#">Mural</a> de</span>
              <a href="http://#">Nome Sobrenome</a>
              <span class="icon-close icon-close-gray_16_18 text-replacement">Excluir</span>
              <span class="date legend">7 fev, 2012, 16:25</span>
            </div>
          </div>
          <div class="subject-content">
            <div class="status-content status-tab tab-left">
              <p>Cras id risus libero, ut condimentum ante. Class aptent taciti sociosqu ad litora torquent per conubia, perinceptus himenaeos.</p>
            </div>
            <ol class="responses status-tab tab-left">
              <li>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="icon-close icon-close-gray_16_18 text-replacement">Excluir</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
                <hr>
              </li>
              <li>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
            </ol>
            <ul class="actions"><li class="reply-status icon-reply-gray_8_10-before"><a href="#" class="link-secondary">Responder</a></li></ul>
            <div class="create-response status-tab tab-right" style="display: none;">
              <form>
                <textarea rows="6" cols="50" placeholder="Digite sua resposta ao comentário acima"></textarea>
                <ul class="status-buttons">
                   <li><button class="button-default cancel">Cancelar</button></li>
                   <li><input type="submit" class="button-primary" value="Enviar"></li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </li>
      <li>
        <hr class="list-separator">
        <div class="status">
          <div class="context">
            <span class="icon-course-gray_32_34-before context-icon text-replacement">curso</span>
            <span class="legend">Univerisade Voluptat Metus</span>
            <a href="#">Curso Lorem Ipsum</a>
          </div>
          <div class="subject">
            <a href="#"  class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
            <div class="subject-info">
              <a href="http://#" class="icon-teacher-gray_16_18-before author link-name">Nome Sobrenome</a>
              <span class="action">criou a disciplina</span>
              <a href="#" class="target icon-space-gray_16_18-before">Dummy Text Discipline</a>
              <span class="date legend">7 fev, 2012, 16:25</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <hr class="list-separator">
        <div class="status log">
          <div class="context">
            <span class="icon-course-gray_32_34-before context-icon text-replacement">Curso</span>
            <span class="legend">Univerisade Voluptat Metus</span>
            <a href="#">Curso Lorem Ipsum</a>
          </div>
          <div class="subject">
            <a href="#" class="see-all link-secondary">+ ver todos</a>
            <span class="icon-grouping-gray_16_18-before action">O curso possui 20 novos membros</span>
          </div>
          <div class="subject-content">
            <ul class="grouping-elements">
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
              <li><a href="#"><img src="../img/thumbnail-missing-profile-32.png"></a></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <hr class="list-separator">
        <div class="status">
          <div class="context">
            <span class="icon-space-gray_32_34-before text-replacement context-icon">Disciplina</span>
            <span class="legend">Univerisade Voluptat Metus > Curso Lorem Ipsum</span>
            <a href="#">Disciplina Vestibulum Scelerisque</a>
          </div>
          <div class="subject">
            <a href="#"  class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
            <div class="subject-info">
              <a href="http://#" class="icon-teacher-gray_16_18-before author link-name">Nome Sobrenome</a>
              <span class="action">publicou a aula</span>
              <a href="#" class="target icon-space-gray_16_18-before">Aula de vídeo Lorem Ipsum</a>
              <span class="date legend">7 fev, 2012, 16:25</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <hr class="list-separator">
        <div class="status">
          <div class="context">
            <span class="icon-space-gray_32_34-before text-replacement context-icon">Disciplina</span>
            <span class="legend">Univerisade Voluptat Metus > Curso Lorem Ipsum</span>
            <a href="#">Disciplina Vestibulum Scelerisque</a>
          </div>
          <div class="subject">
            <a href="#"  class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
            <div class="subject-info">
              <a href="http://#" class="icon-teacher-gray_16_18-before author link-name">Nome Sobrenome</a>
              <span class="action">publicou o módulo</span>
              <a href="http://#">Lorem ipsum sit dolor amet</a>
              <span class="action">com a aula</span>
              <a href="http://#" class="icon-space-gray_16_18-before">Aula de vídeo Lorem Ipsum</a>
              <span class="date legend">7 fev, 2012, 16:25</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <hr class="list-separator">
        <div class="status without-context"><!--Adição da classe without-context para que não seja necessário usar o seletor "+" no css para remover margem à esquerda quanto não houver contexto no status-->
          <div class="subject">
            <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
            <div class="subject-info">
              <a href="http://#" class="link-name">Nome Sobrenome</a>
              <span class="action">comentou no <a href="#">Mural</a> de</span>
              <a href="http://#">Nome Sobrenome</a>
              <span class="icon-close icon-close-gray_16_18 text-replacement">Excluir</span>
              <span class="date legend">7 fev, 2012, 16:25</span>
            </div>
          </div>
          <div class="subject-content">
            <div class="status-content status-tab tab-left">
              <p>Cras id risus libero, ut condimentum ante. Class aptent taciti sociosqu ad litora torquent per conubia, perinceptus himenaeos.</p>
            </div>
            <ol class="responses status-tab tab-left">
              <li class="show-responses">
                <span class="legend last-responses">Visualizando as últimas respostas...</span>
              </li>
              <li>
                <hr>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="icon-close icon-close-gray_16_18 text-replacement">Excluir</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
              <li>
                <hr>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
              <li>
                <hr>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
              <li>
                <hr>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
              <li>
                <hr>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
              <li>
                <hr>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
              <li>
                <hr>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
              <li>
                <hr>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
              <li>
                <hr>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
              <li>
                <hr>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
              <li>
                <hr>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
              <li>
                <hr>
                <div class="response">
                  <a href="#" class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
                  <a href="http://#" class="link-name">Nome Sobrenome</a>
                  <span class="action">respondeu:</span>
                  <span class="date legend">7 fev, 2012, 16:25</span>
                  <div class="status-content status-tab tab-left">
                    <p>Phasellus pretium inderdum ligula eget fringilla. Maecenas quam est.</p>
                  </div>
                </div>
              </li>
              <li class="show-responses">
                <div class="show-more">
                  <hr>
                  <span class="see-more link-secondary"><a href="#">Mostrar todas as 22 respostas</a></span>
                <div>
              </li>
            </ol>
            <ul class="actions"><li class="reply-status icon-reply-gray_8_10-before"><a href="#" class="link-secondary">Responder</a></li></ul>
            <div class="create-response status-tab tab-right" style="display: none;">
              <form>
                <textarea rows="6" cols="50" placeholder="Digite sua resposta ao comentário acima"></textarea>
                <ul class="status-buttons">
                   <li><button class="button-default cancel">Cancelar</button></li>
                   <li><input type="submit" class="button-primary" value="Enviar"></li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </li>
      <li>
        <hr class="list-separator">
        <div class="status">
          <div class="context">
            <span class="icon-space-gray_32_34-before text-replacement context-icon">Disciplina</span>
            <span class="legend">Univerisade Voluptat Metus > Curso Lorem Ipsum</span>
            <a href="#">Disciplina Vestibulum Scelerisque</a>
          </div>
          <div class="subject">
            <a href="#"  class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
            <div class="subject-info">
              <a href="http://#" class="icon-teacher-gray_16_18-before author link-name">Nome Sobrenome</a>
              <span class="action">publicou a aula</span>
              <a href="#" class="target icon-space-gray_16_18-before">Aula de vídeo Lorem Ipsum</a>
              <span class="date legend">7 fev, 2012, 16:25</span>
            </div>
          </div>
        </div>
      </li>
      <li>
        <hr class="list-separator">
        <div class="status">
          <div class="context">
            <span class="icon-space-gray_32_34-before text-replacement context-icon">Disciplina</span>
            <span class="legend">Univerisade Voluptat Metus > Curso Lorem Ipsum</span>
            <a href="#">Disciplina Vestibulum Scelerisque</a>
          </div>
          <div class="subject">
            <a href="#"  class="author-thumbnail"><img src="../img/thumbnail-missing-profile-32.png"></a>
            <div class="subject-info">
              <a href="http://#" class="icon-teacher-gray_16_18-before author link-name">Nome Sobrenome</a>
              <span class="action">publicou o módulo</span>
              <a href="http://#">Lorem ipsum sit dolor amet</a>
              <span class="action">com a aula</span>
              <a href="http://#" class="icon-space-gray_16_18-before">Aula de vídeo Lorem Ipsum</a>
              <span class="date legend">7 fev, 2012, 16:25</span>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </body>
</html>
