<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Navegação</title>
    <link href="../public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../public/stylesheets/icons.css" rel="stylesheet">
    <link href="../public/javascripts/google-code-prettify/prettify.css" rel="stylesheet">
    <script src="../public/javascripts/google-code-prettify/prettify.js"></script>
    <script src="../public/javascripts/jquery.js" type="text/javascript"></script>
    <script src="../public/javascripts/bootstrap-dropdown.js"></script>
    <script src="../public/javascripts/bootstrap-filter.js"></script>
    <script src="../public/javascripts/bootstrap-local-nav.js"></script>
    <script src="../public/javascripts/bootstrap-tooltip.js"></script>
    <script src="../public/javascripts/bootstrap-tab.js"></script>
    <script src="../public/javascripts/modernizr.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script src="../public/javascripts/selectivizr.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
      <link href="../public/stylesheets/ie9.css" rel="stylesheet">
    <![endif]-->
  </head>
  <body onload="prettyPrint()">
    <div style="width: 960px; margin: 10px auto;">
      <h1>Navegaçao</h1>
      <h2>Tabs e sub-tabs</h1>
      <ul class="nav-tabs">
        <li class="active">
          <a href="#tab1" data-toggle="tab" class="icon-profile-lightblue_16_18-before">Perfil</a>
          <span class="legend">Subnível da aba</span>
        </li>
        <li>
          <a href="#tab2" data-toggle="tab" class="icon-account-lightblue_16_18-before">Conta</a>
          <span class="legend">Subnível da aba</span>
        </li>
        <li>
          <a href="#tab3" data-toggle="tab" class="icon-plan-lightblue_16_18-before">Planos</a>
          <span class="legend">Subnível da aba</span>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">

          <ul class="sub-tab">
            <li class="active">
              <a href="#tab1-1" data-toggle="tab" class="button-sub-tab active icon-biography-lightblue_16_18-before">Biografia</a>
            </li>
            <li>
              <a href="#tab1-2" data-toggle="tab" class="button-sub-tab icon-curriculum-lightblue_16_18-before">Currículo</a>
            </li>
          </ul>

          <div class="sub-tab-content">
            <div class="tab-pane active" id="tab1-1">
              <p>Howdy, I'm in Section 1.1.</p>
            </div>
            <div class="tab-pane" id="tab1-2">
              <p>Howdy, I'm in Section 1.2.</p>
            </div>
          </div>

        </div>
        <div class="tab-pane" id="tab2">
          <p>Howdy, I'm in Section 2.</p>
        </div>
        <div class="tab-pane" id="tab3">
          <p>Howdy, I'm in Section 3.</p>
        </div>
      </div>
      <h2>Navegação local</h2>
      <h3>Menu da visão geral</h3>
      <div class="local-nav">
        <ul>
          <li class="local-nav-active icon-home-white_blue_16_18-before icon-arrow-right-local-nav-lightblue-after">
            <a href="#" title="Visão Geral">Visão Geral</a>
            <span class="label label-unread-message">+</span>
          </li>
          <li class="icon-wall-lightblue_16_18-before">
            <a href="#" title="Meu Mural">Meu Mural</a>
            <span class="label label-unread-message">5</span>
          </li>
          <li class="icon-message-lightblue_16_18-before">
            <a href="#" title="Mensagens">Mensagens</a>
            <span class="label label-unread-message">5</span>
          </li>
          <li class="icon-environment-lightblue_16_18-before">
            <a href="#" title="Ambientes">Ambientes</a>
            <span class="label label-unread-message">200+</span>
            <span class="label label-unread-help-request">99+</span>
          </li>
          <li class="icon-manage-lightblue_16_18-before">
            <a href="#" title="Configurações">Configurações</a>
          </li>
          <li class="icon-contacts-lightblue_16_18-before">
            <a href="#" title="Minhas Conexões">Minhas Conexões</a>
          </li>
        </ul>
      </div>
      <div style="background-color: #F7F7F7">
        <h3>Menu da disciplina</h3>
        <div class="local-nav">
          <ul>
            <li class="local-nav-active icon-subject-white_blue_16_18-before icon-arrow-right-local-nav-lightblue-after">
              <a href="#" title="Aulas">Aulas</a>
              <span class="label label-unread-message">200+</span>
              <span class="label label-unread-help-request">99+</span>
            </li>
            <li class="icon-wall-lightblue_16_18-before">
              <a href="#" title="Mural">Mural</a>
              <span class="label label-unread-message">5</span>
            </li>
            <li class="icon-file-lightblue_16_18-before">
              <a href="#" title="Arquivos de Apoio">Arquivos de Apoio</a>
              <span class="label label-unread-message">5</span>
            </li>
            <li class="icon-members-lightblue_16_18-before">
              <a href="#" title="Membros">Membros</a>
              <span class="label label-unread-message">200+</span>
            </li>
          </ul>
        </div>
        <h3>Menu da aula</h3>
        <div class="local-nav">
          <ul>
            <li class="icon-subject-lightblue_16_18-before">
              <a href="#" title="Aulas">Aulas</a>
              <span class="label label-unread-message">200+</span>
              <span class="label label-unread-help-request">99+</span>
            </li>
            <li class="local-nav-level-2">
              <a href="#" title="Aulas" class="icon-arrow-right-squared-gray_16_18-before">1. Aula de vídeo lore...</a>
            </li>
            <li class="icon-wall-lightblue_16_18-before">
              <a href="#" title="Mural">Mural</a>
              <span class="label label-unread-message">5</span>
            </li>
            <li class="icon-file-lightblue_16_18-before">
              <a href="#" title="Arquivos de Apoio">Arquivos de Apoio</a>
              <span class="label label-unread-message">5</span>
            </li>
            <li class="icon-members-lightblue_16_18-before">
              <a href="#" title="Membros">Membros</a>
              <span class="label label-unread-message">200+</span>
            </li>
          </ul>
        </div>
        <div class="local-nav-summary">
          <span class="icon-arrow-up-curly-gray"></span>
          <span class="icon-environment-gray_16_18-before">Ambientes: 10</span>
          <span class="icon-course-gray_16_18-before">Cursos matriculados: 50</span>
          <div class="local-nav-separator"></div>
          <span class="icon-contacts-gray_16_18-before">Contatos: 200</span>
          <span class="icon-classmates-gray_16_18-before">Colegas de classe: 1.800</span>
        </div>
        <div class="local-nav-balloon">
          <span class="arrow"></span>
          <div class="local-nav-balloon-title">Você na disciplina</div>
          <div class="local-nav-balloon-block">
            <span class="icon-subject-gray_16_18-before">Aulas: 4 / 20</span>
            <div class="progress-wrapper">
              <div class="progress">
                <div class="bar text-replacement" style="width: 20%;">20%</div>
              </div>
              <span class="pull-right">20%</span>
            </div>
          </div>
          <div class="local-nav-separator"></div>
          <div class="local-nav-balloon-block">
            <span class="icon-comment-gray_16_18-before">Comentários: 200</span>
            <span class="icon-request-help-gray_16_18-before">Dúvidas: 200</span>
          </div>
        </div>
        <div class="local-nav-balloon">
          <span class="arrow"></span>
          <div class="local-nav-balloon-block">
            <input type="checkbox" id="local-nav-input-1">
            <label for="local-nav-input-1">Aula finalizada?</label>
          </div>
          <div class="local-nav-separator"></div>
          <div class="local-nav-balloon-block">
            <span class="icon-subject-gray_16_18-before">Aulas: 4 / 20</span>
            <div class="progress-wrapper">
              <div class="progress">
                <div class="bar text-replacement" style="width: 20%;">20%</div>
              </div>
              <span class="pull-right">20%</span>
            </div>
          </div>
          <div class="local-nav-separator"></div>
          <div class="local-nav-balloon-block">
            <span class="icon-content-gray_16_18-before">Módulo: 1 / 5</span>
            <div class="progress-wrapper">
              <div class="progress progress-mini">
                <div class="bar text-replacement" style="width: 20%;">20%</div>
              </div>
              <span class="pull-right">20%</span>
            </div>
          </div>
          <div class="local-nav-separator"></div>
          <div class="local-nav-balloon-block">
            <select>
              <option>1. Aula de vídeo</option>
            </select>
            <div class="subject-control">
              <button class="button pull-left" rel="tooltip" title="Anterior">
                  <span class="icon-arrow-left-lightblue_16_18">Anterior</span>
              </button>
              <button class="button pull-left" rel="tooltip" title="Próximo">
                <span class="icon-arrow-right-lightblue_16_18">Próximo</span>
              </button>
            </div>
          </div>
          <div class="local-nav-separator"></div>
          <div class="local-nav-balloon-block">
            <div class="extra-control">
              <button class="button pull-left" rel="tooltip" title="Comentários">
                <span class="icon-comment-lightblue_16_18">Comentários</span>
              </button>
              <button class="button pull-left" rel="tooltip" title="Dúvidas">
                <span class="icon-request-help-lightblue_16_18">Dúvidas</span>
              </button>
              <button class="button pull-left" rel="tooltip" title="Luzes">
                <span class="icon-lights-lightblue_16_18">Luzes</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <h2>Filtros (Visão Geral)</h2>
      <div class="filter-toolbar">
        <div class="filter-group">
          <button class="filter filter-everything icon-wall-lightblue_16_18-before">
            <div class="filter-title-wrapper">
              Tudo
            </div>
            <div class="filter-sub-title">
            </div>
          </button>
        </div>
        <div class="filter-group">
          <button class="filter dropdown-toggle icon-contacts-lightblue_16_18-before" data-toggle="dropdown">
            <div class="filter-title-wrapper">
              Contatos
              <span class="caret"></span>
            </div>
            <div class="filter-sub-title">
            </div>
          </button>
          <div class="arrow"></div>
          <ul class="dropdown-menu filter-level-1">
            <li class="filter-all">
              <input type="checkbox" id="contacts-1">
              <label for="contacts-1">Todos</label>
            </li>
          </ul>
        </div>
        <div class="filter-group">
          <button class="filter filter-courses dropdown-toggle icon-course-lightblue_16_18-before" data-toggle="dropdown">
            <div class="filter-title-wrapper">
              Cursos
              <span class="caret"></span>
            </div>
            <div class="filter-sub-title">

            </div>
          </button>
          <div class="arrow"></div>
          <ul class="dropdown-menu filter-level-1">
            <li class="filter-all">
              <input type="checkbox" id="courses-1">
              <label for="courses-1">Todos os cursos e disciplinas</label>
              <ul class="filter-level-2">
                <li>
                  <input type="checkbox" id="courses-2.1">
                  <label for="courses-2.1">Curso Lorem Ipsum 1</label>
                  <ul class="filter-level-3">
                    <li class="icon-arrow-right-squared-gray_16_18-before">
                      <input type="checkbox" id="courses-3.1">
                      <label for="courses-3.1">Disciplina Vestibulum Scelerisque 1.1</label>
                    </li>
                    <li class="icon-arrow-right-squared-gray_16_18-before">
                      <input type="checkbox" id="courses-3.2">
                      <label for="courses-3.2">Disciplina Vestibulum Scelerisque 1.2</label>
                    </li>
                    <li class="icon-arrow-right-squared-gray_16_18-before">
                      <input type="checkbox" id="courses-3.3">
                      <label for="courses-3.3">Disciplina Vestibulum Scelerisque 1.3</label>
                    </li>
                  </ul>
                </li>
                <li>
                  <input type="checkbox" id="courses-2.2">
                  <label for="courses-2.2">Curso Lorem Ipsum 2</label>
                  <ul class="filter-level-3">
                    <li class="icon-arrow-right-squared-gray_16_18-before">
                      <input type="checkbox" id="courses-3.4">
                      <label for="courses-3.4">Disciplina Vestibulum Scelerisque 2.1</label>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="filter-group">
          <button class="filter dropdown-toggle icon-subject-lightblue_16_18-before" data-toggle="dropdown">
            <div class="filter-title-wrapper">
              Aulas
              <span class="caret"></span>
            </div>
            <div class="filter-sub-title">
            </div>
          </button>
          <div class="arrow"></div>
          <ul class="dropdown-menu">
            <li>
              <ul class="filter-level-1">
                <li class="filter-all">
                  <input type="checkbox" id="subjects-1">
                  <label for="subjects-1">Todos</label>
                  <ul class="filter-level-2">
                    <li>
                      <input type="checkbox" id="subjects-2.1">
                      <label for="subjects-2.1" class="icon-comment-gray_16_18-before">Comentários</label>
                    </li>
                    <li>
                      <input type="checkbox" id="subjects-2.2">
                      <label for="subjects-2.2" class="icon-request-help-gray_16_18-before">Dúvidas</label>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <h2>Navegação global</h2>
      <div class="nav-bar nav-bar-fixed-top">
        <div class="nav-bar-inner">
          <div class="nav-bar-container">
            <a class="nav-bar-brand" href="http://www.redu.com.br" title="Redu">Redu</a>
            <ul class="nav">
              <li class="active">
                <a class="button" href="#" title="Início">Início</a>
              </li>
              <li>
                <a class="button" href="#" title="Ambientes">Ambientes</a>
              </li>
            </ul>
            <div class="button-toolbar">
              <div class="button-group">
                <a class="button button-dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="unread-marker">5</span>
                <span class="button-dropdown-icon icon-notification-lightblue_16_18">Avise-me</span>
                <span class="caret"></span>
                </a>
                <div class="dropdown-menu nav-bar-notifications">
                  <div class="arrow"></div>
                  <div class="nav-bar-dropdown-menu-head">
                    Notificações: 3
                    <span class="nav-bar-notifications-invites">Convites: 2</span>
                  </div>
                  <ul>
                    <li class="nav-bar-notification notification-with-action unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Nome Sobrenome" class="unread">
                          <img src="../public/images/new/missing_users_thumb_32.png" alt="Nome Sobrenome" title="Nome Sobrenome" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> quer se conectar a você.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                        <span class="notification-actions"><a href="#" title="Recusar">Recusar</a> ou <a href="#" title="Aceitar">Aceitar</a></span>
                      </div>
                    </li>
                    <li class="nav-bar-notification unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Nome Sobrenome" class="unread">
                          <img src="../public/images/new/missing_users_thumb_32.png" alt="Nome Sobrenome" title="Nome Sobrenome" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> publicou o módulo <a href="#" title="Lorem Ipsum Sit Dolor">Lorem Ipsum Sit Dolor</a> na disciplina <a href="#" title="Consectetur Amet">Consectetur Amet</a>.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                      </div>
                    </li>
                    <li class="nav-bar-notification unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Nome Sobrenome" class="unread">
                          <img src="../public/images/new/missing_users_thumb_32.png" alt="Nome Sobrenome" title="Nome Sobrenome" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> respondeu ao seu comentário no <a href="#" title="Seu mural">seu mural</a>.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                      </div>
                    </li>
                    <li class="nav-bar-notification notification-with-action unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Curso Lorem Ipsum">
                          <img src="../public/images/new/missing_environments_thumb_32.png" alt="Curso Lorem Ipsum" title="Curso Lorem Ipsum" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> lhe convida a participar do curso <a href="#" title="Curso Lorem Ipsum">Curso Lorem Ipsum</a>.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                        <span class="notification-actions"><a href="#" title="Recusar">Recusar</a> ou <a href="#" title="Aceitar">Aceitar</a></span>
                      </div>
                    </li>
                    <li class="nav-bar-notification unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Nome Sobrenome" class="unread">
                          <img src="../public/images/new/missing_users_thumb_32.png" alt="Nome Sobrenome" title="Nome Sobrenome" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> respondeu ao seu comentário no <a href="#" title="Mural">mural</a> da disciplina <a href="#" title="Consectetur Amet">Consectetur Amet</a>.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                      </div>
                    </li>
                  </ul>
                  <div class="nav-bar-dropdown-menu-bottom">
                    <a href="#" class="button" title="Mostrar todas as atualizações">Mostrar todas as atualizações</a>
                  </div>
                </div>
              </div>
              <div class="button-group">
                <a class="button button-dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="button-dropdown-icon icon-profile-2-lightblue_16_18">Perfil</span>
                <span class="caret"></span>
                </a>
                <div class="dropdown-menu nav-bar-profile">
                  <div class="arrow"></div>
                  <div class="nav-bar-dropdown-menu-head">
                    Nome Sobrenome
                  </div>
                  <ul>
                    <li>
                      <a href="#" title="Meu Perfil" class="icon-profile-lightblue_16_18-before">Meu Perfil</a>
                      <a href="#" title="Editar" class="nav-bar-profile-item-edit">editar</a>
                    </li>
                    <li>
                      <a href="#" title="Mensagens" class="icon-message-lightblue_16_18-before">Mensagens (5)</a>
                    </li>
                    <li>
                      <a href="#" title="Configurações" class="icon-manage-lightblue_16_18-before">Configurações</a>
                    </li>
                    <li>
                      <a href="#" title="Parceiro" class="icon-partner-lightblue_16_18-before">Parceiro</a>
                    </li>
                    <li>
                      <a href="#" title="Sair">Sair</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-bar">
        <div class="nav-bar-inner">
          <div class="nav-bar-container">
            <a class="nav-bar-brand" href="http://www.redu.com.br" title="Redu">Redu</a>
            <ul class="nav">
              <li class="active">
                <a class="button" href="#" title="Início">Início</a>
              </li>
              <li>
                <a class="button" href="#" title="Ambientes">Ambientes</a>
              </li>
            </ul>
            <div class="button-toolbar">
              <div class="button-group">
                <a class="button button-dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="unread-marker">5</span>
                <span class="button-dropdown-icon-notify-lightblue_16_18-before">Avise-me</span>
                <span class="caret"></span>
                </a>
                <div class="dropdown-menu nav-bar-notifications">
                  <div class="arrow"></div>
                  <div class="nav-bar-dropdown-menu-head">
                    Notificações: 3
                    <span class="nav-bar-notifications-invites">Convites: 2</span>
                  </div>
                  <ul>
                    <li class="nav-bar-notification notification-with-action unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Nome Sobrenome" class="unread">
                          <img src="../public/images/new/missing_users_thumb_32.png" alt="Nome Sobrenome" title="Nome Sobrenome" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> quer se conectar a você.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                        <span class="notification-actions"><a href="#" title="Recusar">Recusar</a> ou <a href="#" title="Aceitar">Aceitar</a></span>
                      </div>
                    </li>
                    <li class="nav-bar-notification unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Nome Sobrenome" class="unread">
                          <img src="../public/images/new/missing_users_thumb_32.png" alt="Nome Sobrenome" title="Nome Sobrenome" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> publicou o módulo <a href="#" title="Lorem Ipsum Sit Dolor">Lorem Ipsum Sit Dolor</a> na disciplina <a href="#" title="Consectetur Amet">Consectetur Amet</a>.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                      </div>
                    </li>
                    <li class="nav-bar-notification unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Nome Sobrenome" class="unread">
                          <img src="../public/images/new/missing_users_thumb_32.png" alt="Nome Sobrenome" title="Nome Sobrenome" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> respondeu ao seu comentário no <a href="#" title="Seu mural">seu mural</a>.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                      </div>
                    </li>
                    <li class="nav-bar-notification notification-with-action unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Curso Lorem Ipsum">
                          <img src="../public/images/new/missing_environments_thumb_32.png" alt="Curso Lorem Ipsum" title="Curso Lorem Ipsum" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> lhe convida a participar do curso <a href="#" title="Curso Lorem Ipsum">Curso Lorem Ipsum</a>.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                        <span class="notification-actions"><a href="#" title="Recusar">Recusar</a> ou <a href="#" title="Aceitar">Aceitar</a></span>
                      </div>
                    </li>
                    <li class="nav-bar-notification unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Nome Sobrenome" class="unread">
                          <img src="../public/images/new/missing_users_thumb_32.png" alt="Nome Sobrenome" title="Nome Sobrenome" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> respondeu ao seu comentário no <a href="#" title="Mural">mural</a> da disciplina <a href="#" title="Consectetur Amet">Consectetur Amet</a>.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                      </div>
                    </li>
                  </ul>
                  <div class="nav-bar-dropdown-menu-bottom">
                    <a href="#" class="button" title="Mostrar todas as atualizações">Mostrar todas as atualizações</a>
                  </div>
                </div>
              </div>
              <div class="button-group">
                <a class="button button-dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="button-dropdown-icon-profile-2-lightblue_16_18-before">Perfil</span>
                <span class="caret"></span>
                </a>
                <div class="dropdown-menu nav-bar-profile">
                  <div class="arrow"></div>
                  <div class="nav-bar-dropdown-menu-head">
                    Nome Sobrenome
                  </div>
                  <ul>
                    <li>
                      <a href="#" title="Meu Perfil" class="icon-profile-lightblue_16_18-before">Meu Perfil</a>
                      <a href="#" title="Editar" class="nav-bar-profile-item-edit">editar</a>
                    </li>
                    <li>
                      <a href="#" title="Mensagens" class="icon-message-lightblue_16_18-before">Mensagens (5)</a>
                    </li>
                    <li>
                      <a href="#" title="Configurações" class="icon-manage-lightblue_16_18-before">Configurações</a>
                    </li>
                    <li>
                      <a href="#" title="Parceiro" class="icon-partner-lightblue_16_18-before">Parceiro</a>
                    </li>
                    <li>
                      <a href="#" title="Sair">Sair</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2>Breadcrumbs</h2>
      <h3>Exemplo de uso</h3>
      <ul class="breadcrumb">
        <li class="icon-separator-arrow-right-gray_16_18-after breadcumb-item-compact">
          <a href="#home" title="Home" class="icon-home-lightblue_16_18-before">Home</a>
        </li>
        <li class="icon-separator-arrow-right-gray_16_18-after">
          <a href="#environment" title="Universidade Voluptat Metus" class="icon-environment-lightblue_16_18-before">Universidade Voluptat Metus</a>
        </li>
        <li class="icon-separator-arrow-right-gray_16_18-after">
          <a href="#course" title="Curso Lorem Ipsum" class="icon-course-lightblue_16_18-before">Curso Lorem Ipsum</a>
        </li>
        <li class="icon-separator-arrow-right-gray_16_18-after">
          <a href="#space" title="Disciplina Vestibulum Scelerisque" class="icon-space-lightblue_16_18-before">Disciplina Vestibulum Scelerisque</a>
        </li>
        <li>
          <a href="#content" title="Módulo Lorem" class="icon-content-lightblue_16_18-before">Módulo Lorem</a>
        </li>
      </ul>
      <pre style="margin-top: 10px;" class="prettyprint linenums">
&lt;ul class="breadcrumb"&gt;
  &lt;li class="breadcumb-item-compact"&gt;
    &lt;a href="#home" class="icon-home-lightblue_16_18-before" title="Home"&gt;Home&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="#environment" class="icon-environment-lightblue_16_18-before" title="Universidade Voluptat Metus"&gt;Universidade Voluptat Metus&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="#course" class="icon-course-lightblue_16_18-before" title="Curso Lorem Ipsum"&gt;Curso Lorem Ipsum&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="#space" class="icon-space-lightblue_16_18-before" title="Disciplina Vestibulum Scelerisque"&gt;Disciplina Vestibulum Scelerisque&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="#subject" class="icon-subject-lightblue_16_18-before" title="Módulo Lorem"&gt;Módulo Lorem&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</pre>
      <h3>Observações</h3>
      <ul>
        <li>A lista deve possuir a classe <code>.breadcrumb</code>.</li>
        <li>Os ícones são inseridos através das respectivas classes.</li>
        <li>Para os items em que o texto não deve ser exibido, adicionar a classe <code>.breadcumb-item-compact</code>.</li>
        <li>Lembrar que o atributo <code>title</code> deve ser igual ao texto do link.</li>
      </ul>
      <ul class="breadcrumb-big">
        <li class="breadcrumb-big-item-active">
          <a href="#environment" title="Universidade Voluptat Metus"><span class="icon-environment-lightblue_32_34">Universidade Voluptat Metus</span></a>
        </li>
        <li class="breadcrumb-big-item-disabled">
          <span class="icon-course-lightgray_32_34" title="Curso">Curso</span>
        </li>
        <li class="breadcrumb-big-item-disabled">
          <span class="icon-space-lightgray_32_34" title="Disciplina">Disciplina</span>
        </li>
        <li class="breadcrumb-big-item-disabled">
          <span class="icon-subject-lightgray_32_34" title="Módulo">Módulo</span>
        </li>
      </ul>
      <ul class="breadcrumb-big">
        <li>
          <a href="#environment" title="Universidade Voluptat Metus"><span class="icon-environment-gray_32_34">Universidade Voluptat Metus</span></a>
        </li>
        <li class="breadcrumb-big-item-active">
          <a href="#course" title="Curso Lorem Ipsum"><span class="icon-course-lightblue_32_34">Curso Lorem Ipsum</span></a>
        </li>
        <li class="breadcrumb-big-item-disabled">
          <span class="icon-space-lightgray_32_34" title="Disciplina">Disciplina</span>
        </li>
        <li class="breadcrumb-big-item-disabled">
          <span class="icon-subject-lightgray_32_34" title="Módulo">Módulo</span>
        </li>
      </ul>
      <ul class="breadcrumb-big">
        <li>
          <a href="#environment" title="Universidade Voluptat Metus"><span class="icon-environment-gray_32_34">Universidade Voluptat Metus</span></a>
        </li>
        <li>
          <a href="#course" title="Curso Lorem Ipsum"><span class="icon-course-gray_32_34">Curso Lorem Ipsum</span></a>
        </li>
        <li class="breadcrumb-big-item-active">
          <a href="#space" title="Disciplina Vestibulum Scelerisque"><span class="icon-space-lightblue_32_34">Disciplina Vestibulum Scelerisque</span></a>
        </li>
        <li class="breadcrumb-big-item-disabled">
          <span class="icon-subject-lightgray_32_34" title="Módulo">Módulo</span>
        </li>
      </ul>
      <ul class="breadcrumb-big">
        <li>
          <a href="#environment" title="Universidade Voluptat Metus"><span class="icon-environment-gray_32_34">Universidade Voluptat Metus</span></a>
        </li>
        <li>
          <a href="#course" title="Curso Lorem Ipsum"><span class="icon-course-gray_32_34">Curso Lorem Ipsum</span></a>
        </li>
        <li>
          <a href="#space" title="Disciplina Vestibulum Scelerisque"><span class="icon-space-gray_32_34">Disciplina Vestibulum Scelerisque</span></a>
        </li>
        <li class="breadcrumb-big-item-active">
          <a href="#space" title="Módulo X"><span class="icon-subject-lightblue_32_34">Módulo X</span></a>
        </li>
      </ul>
      <pre style="margin-top: 10px;" class="prettyprint linenums">&lt;ul class="breadcrumb-big"&gt;
  &lt;li&gt;
    &lt;a href="#environment" class="icon-environment-gray_32_34" title="Universidade Voluptat Metus"&gt;Universidade Voluptat Metus&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href="#course" class="icon-course-gray_32_34" title="Curso Lorem Ipsum"&gt;Curso Lorem Ipsum&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="breadcrumb-big-item-active"&gt;
    &lt;a href="#space" class="icon-space-gray_32_34" title="Disciplina Vestibulum Scelerisque"&gt;Disciplina Vestibulum Scelerisque&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class="breadcrumb-big-item-disabled"&gt;
    &lt;a class="icon-subject-gray_32_34" title="Módulo"&gt;Módulo&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</pre>
      <h3>Observações</h3>
      <ul>
        <li>A lista deve possuir a classe <code>.breadcrumb-big</code>.</li>
        <li>Os ícones são inseridos através das respectivas classes.</li>
        <li>O item da página atual deve possuir a classe <code>.breadcrumb-big-item-active</code>.</li>
        <li>Todos os itens anteriores ao item atual devem possuir links.</li>
        <li>Todos os itens posteriores ao item atual devem possuir a classe <code>.breadcrumb-big-item-disabled</code>, não devem ter o atributo <code>href</code> e os valores do atributo <code>title</code> e do texto do link devem ser genéricos (pois não se é conhecido).</li>
        <li>Lembrar que o atributo <code>title</code> deve ser igual ao texto do link.</li>
      </ul>

      <h2>Filtros</h2>
      <h3>Grupos de filtros</h3>
      <h4>Grupos de filtros</h4>
      <p>Use grupos de filtros para juntar múltiplos filtros como um único componente composto. Construá-os com uma série de elementos <code>&lt;a&gt;</code> ou <code>&lt;button&gt;</code>.</p>
      <h4>Melhores práticas</h4>
      <p>Nós recomendamos os seguintes guidelines para usar o grupo de filtros e barra de filtros:</p>
      <ul>
        <li>Sempre use o mesmo elemento em um único grupo de filtros, <code>&lt;a&gt;</code> ou <code>&lt;button&gt;</code>.</li>
        <li>Não misture filtros de cores diferentes no mesmo grupo de filtros.</li>
        <li>Use ícones em adição ou ao invés de texto, mas inclua textos no alt e title onde apropriado.</li>
      </ul>
      <h4>Exemplo padrão</h4>
      <p>Aqui é como o HTML se parece para um grupo de filtros padrão:</p>
      <div class="filter-group" style="margin-bottom: 8px;">
        <button class="filter icons-teacher-lightblue_16_18"><span class=""></span>1</button>
        <button class="filter">2</button>
        <button class="filter">3</button>
      </div>
      <pre class="prettyprint linenums">
&lt;div class="filter-group"&gt;
  &lt;button class="filter"&gt;1&lt;/button&gt;
  &lt;button class="filter"&gt;2&lt;/button&gt;
  &lt;button class="filter"&gt;3&lt;/button&gt;
&lt;/div&gt;</pre>
      <h4>Exemplo de barra de filtros</h4>
      <p>Combine conjuntos de <code>&lt;div class="filter-group"&gt;</code> em um <code>&lt;div class="filter-toolbar"&gt;</code> para componentes mais complexos.</p>

      <pre class="prettyprint linenums">
&lt;div class="filter-toolbar"&gt;
  &lt;div class="filter-group"&gt;
  ...
  &lt;/div&gt;
  &lt;div class="filter-group"&gt;
  ...
  &lt;/div&gt;
&lt;/div&gt;</pre>
      <h4>Grupo de filtros do Redu</h4>
      <p>O exemplo abaixo contrói o componente Filtro descrito na página 24 do G&E 1.3:</p>
      <div class="filter-group" style="margin-bottom: 8px;">
        <button class="filter icon-teacher-lightblue_16_18-before">100 professores</button>
        <button class="filter filter-active icon-tutor-lightblue_16_18-before">100 tutores</button>
        <button class="filter icon-member-lightblue_16_18-before">100 alunos</button>
      </div>
      <pre class="prettyprint linenums">
&lt;div class="filter-group"&gt;
  &lt;button class="filter"&gt;&lt;span class="icon-teacher-lightblue_16_18-before"&gt;100 professores&lt;/span&gt;&lt;/button&gt;
  &lt;button class="filter filter-active"&gt;&lt;span class="icon-tutor-lightblue_16_18-before"&gt;100 tutores&lt;/span&gt;&lt;/button&gt;
  &lt;button class="filter"&gt;&lt;span class="icon-member-lightblue_16_18-before"&gt;100 alunos&lt;/span&gt;&lt;/button&gt;
&lt;/div&gt;</pre>
      <p><strong>Observações:</strong></p>
      <ul>
        <li>Lembrar de usar a classe no span para exibir a versão azul claro do ícone.</li>
        <li>Um filtro ativado deve ser marcado com <code>.filter-active</code>.</li>
      </ul>
      <p><strong>Exemplo lado a lado da versão HTML com o original:</strong></p>
      <div style="width: 839px; margin: 0 auto; overflow: hidden;">
        <div style="width: 355px; float: left;">
          <div class="filter-group" style="margin-bottom: 8px;">
            <button class="filter"><span class="icon-teacher-lightblue_16_18-before">100 professores</span></button>
            <button class="filter"><span class="icon-tutor-lightblue_16_18-before">100 tutores</span></button>
            <button class="filter"><span class="icon-member-lightblue_16_18-before">100 alunos</span></button>
          </div>
          <div class="filter-group" style="margin-bottom: 8px; margin-left: 0">
            <button class="filter"><span class="icon-teacher-lightblue_16_18-before">100 professores</span></button>
            <button class="filter"><span class="icon-tutor-lightblue_16_18-before">100 tutores</span></button>
            <button class="filter"><span class="icon-member-lightblue_16_18-before">100 alunos</span></button>
          </div>
          <div class="filter-group" style="margin-left: 0">
            <button class="filter"><span class="icon-teacher-lightblue_16_18-before">100 professores</span></button>
            <button class="filter filter-active"><span class="icon-tutor-lightblue_16_18-before">100 tutores</span></button>
            <button class="filter"><span class="icon-member-lightblue_16_18-before">100 alunos</span></button>
          </div>
        </div>
        <div style="width: 480px; float: right;">
          <img src="../doc/images/filters.jpg" title="Filtros do G&E 1.3" />
        </div>
      </div>
      <h4>Outros exemplos</h4>
      <div class="filter-group">
        <button class="filter">Forever alone</button>
      </div>
    </div>
  </body>
</html>