<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>Elementos criados na sprint </title>
    <link href="../public/stylesheets/bootstrap-sprint-1.css" rel="stylesheet">
    <link href="../public/stylesheets/icons.redu.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../public/javascripts/bootstrap-dropdown.js"></script>
    <script src="../public/javascripts/bootstrap-system-msg.js"></script>
    <script src="../public/javascripts/bootstrap-tooltip.js"></script>
    <script src="../public/javascripts/bootstrap-popover.js"></script>
    <script src="../public/javascripts/modernizr.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script src="../public/javascripts/selectivizr.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
      <link href="../public/stylesheets/ie9.css" rel="stylesheet">
    <![endif]-->
  </head>
  <body>
    <div style="width: 960px; margin: 0 auto;">
      <h2>Navegação global <a href="../doc/images/nav-bar-ie9.jpg">[IE9]</a><a href="../doc/images/nav-bar-ie8.jpg">[IE8]</a></h2>
      <div class="nav-bar nav-bar-fixed-top">
        <div class="nav-bar-inner">
          <div class="nav-bar-container">
            <a class="nav-bar-brand" href="http://www.redu.com.br" title="Redu">Redu</a>
            <ul class="nav">
              <li class="active">
                <a class="button" href="#" title="Início">Início</a>
              </li>
              <li>
                <a class="button" href="#" title="Ambientes">Ambientes</a>
              </li>
            </ul>
            <div class="button-toolbar">
              <div class="button-group">
                <a class="button button-dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="unread-marker">5</span>
                <span class="button-dropdown-icon icon-notify-lightblue_16_18-before">Avise-me</span>
                <span class="caret"></span>
                </a>
                <div class="dropdown-menu nav-bar-notifications">
                  <div class="arrow"></div>
                  <div class="nav-bar-dropdown-menu-head">
                    Notificações: 3
                    <span class="nav-bar-notifications-invites">Convites: 2</span>
                  </div>
                  <ul>
                    <li class="nav-bar-notification notification-with-action unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Nome Sobrenome" class="unread">
                          <img src="../public/images/new/missing_users_thumb_32.png" alt="Nome Sobrenome" title="Nome Sobrenome" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> quer se conectar a você.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                        <span class="notification-actions"><a href="#" title="Recusar">Recusar</a> ou <a href="#" title="Aceitar">Aceitar</a></span>
                      </div>
                    </li>
                    <li class="nav-bar-notification unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Nome Sobrenome" class="unread">
                          <img src="../public/images/new/missing_users_thumb_32.png" alt="Nome Sobrenome" title="Nome Sobrenome" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> publicou o módulo <a href="#" title="Lorem Ipsum Sit Dolor">Lorem Ipsum Sit Dolor</a> na disciplina <a href="#" title="Consectetur Amet">Consectetur Amet</a>.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                      </div>
                    </li>
                    <li class="nav-bar-notification unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Nome Sobrenome" class="unread">
                          <img src="../public/images/new/missing_users_thumb_32.png" alt="Nome Sobrenome" title="Nome Sobrenome" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> respondeu ao seu comentário no <a href="#" title="Seu mural">seu mural</a>.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                      </div>
                    </li>
                    <li class="nav-bar-notification notification-with-action unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Curso Lorem Ipsum">
                          <img src="../public/images/new/missing_environments_thumb_32.png" alt="Curso Lorem Ipsum" title="Curso Lorem Ipsum" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> lhe convida a participar do curso <a href="#" title="Curso Lorem Ipsum">Curso Lorem Ipsum</a>.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                        <span class="notification-actions"><a href="#" title="Recusar">Recusar</a> ou <a href="#" title="Aceitar">Aceitar</a></span>
                      </div>
                    </li>
                    <li class="nav-bar-notification unread-notification">
                      <div class="notification-avatar">
                        <span class="unread-marker"></span>
                        <a href="#" title="Nome Sobrenome" class="unread">
                          <img src="../public/images/new/missing_users_thumb_32.png" alt="Nome Sobrenome" title="Nome Sobrenome" />
                        </a>
                      </div>
                      <div class="notification-content">
                        <p><strong><a href="#" title="Nome Sobrenome">Nome Sobrenome</a></strong> respondeu ao seu comentário no <a href="#" title="Mural">mural</a> da disciplina <a href="#" title="Consectetur Amet">Consectetur Amet</a>.</p>
                        <span class="notification-timestamp">7 Jan, 2011, 16h25</span>
                      </div>
                    </li>
                  </ul>
                  <div class="nav-bar-dropdown-menu-bottom">
                    <a href="#" class="button" title="Mostrar todas as atualizações">Mostrar todas as atualizações</a>
                  </div>
                </div>
              </div>
              <div class="button-group">
                <a class="button button-dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="button-dropdown-icon icon-profile-2-lightblue_16_18-before">Perfil</span>
                <span class="caret"></span>
                </a>
                <div class="dropdown-menu nav-bar-profile">
                  <div class="arrow"></div>
                  <div class="nav-bar-dropdown-menu-head">
                    Nome Sobrenome
                  </div>
                  <ul>
                    <li>
                      <a href="#" title="Meu Perfil" class="icon-profile-lightblue_16_18-before">Meu Perfil</a>
                      <a href="#" title="Editar" class="nav-bar-profile-item-edit">editar</a>
                    </li>
                    <li>
                      <a href="#" title="Mensagens" class="icon-message-lightblue_16_18-before">Mensagens (5)</a>
                    </li>
                    <li>
                      <a href="#" title="Configurações" class="icon-manage-lightblue_16_18-before">Configurações</a>
                    </li>
                    <li>
                      <a href="#" title="Parceiro" class="icon-partner-lightblue_16_18-before">Parceiro</a>
                    </li>
                    <li>
                      <a href="#" title="Sair">Sair</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2>Breadcrumbs <a href="../doc/images/breadcrumbs-ie9.jpg">[IE9]</a><a href="../doc/images/breadcrumbs-ie8.jpg">[IE8]</a></h2>
      <ul class="breadcrumb">
        <li class="breadcumb-item-compact">
        <a href="#home" class="icon-home-lightblue_16_18-before" title="Home">Home</a>
        </li>
        <li>
        <a href="#environment" class="icon-environment-lightblue_16_18-before" title="Universidade Voluptat Metus">Universidade Voluptat Metus</a>
        </li>
        <li>
        <a href="#course" class="icon-course-lightblue_16_18-before" title="Curso Lorem Ipsum">Curso Lorem Ipsum</a>
        </li>
        <li>
        <a href="#space" class="icon-space-lightblue_16_18-before" title="Disciplina Vestibulum Scelerisque">Disciplina Vestibulum Scelerisque</a>
        </li>
        <li>
        <a href="#subject" class="icon-subject-lightblue_16_18-before" title="Módulo Lorem">Módulo Lorem</a>
        </li>
      </ul>
      <ul class="breadcrumb-big" style="margin-top: 10px;">
        <li>
        <a href="#environment" class="icon-environment-gray_32_34" title="Universidade Voluptat Metus">Universidade Voluptat Metus</a>
        </li>
        <li>
        <a href="#course" class="icon-course-gray_32_34" title="Curso Lorem Ipsum">Curso Lorem Ipsum</a>
        </li>
        <li class="breadcrumb-big-item-active">
        <a href="#space" class="icon-space-gray_32_34" title="Disciplina Vestibulum Scelerisque">Disciplina Vestibulum Scelerisque</a>
        </li>
        <li class="breadcrumb-big-item-disabled">
        <a class="icon-subject-gray_32_34" title="Módulo">Módulo</a>
        </li>
      </ul>
      <h2>Filtro normal <a href="../doc/images/filter-normal-ie9.jpg">[IE9]</a><a href="../doc/images/filter-normal-ie8.jpg">[IE8]</a></h2>
      <div class="filter-group">
        <button class="filter"><span class="icon-teacher-lightblue_16_18-before">100 professores</span></button>
        <button class="filter"><span class="icon-tutor-lightblue_16_18-before">100 tutores</span></button>
        <button class="filter"><span class="icon-member-lightblue_16_18-before">100 alunos</span></button>
      </div>
      <h2>Mensagens do sistema (sobrepostas) <a href="../doc/images/system-messages-ie9.jpg">[IE9]</a><a href="../doc/images/system-messages-ie8.jpg">[IE8]</a></h2>
      <div style="width: 471px; margin: 0 auto;">
        <div class="system-msg system-msg-warning">
          <a class="close" data-dismiss="system-msg">×</a>
          <strong>Ops!</strong> Quando alguma coisa não funciona bem, este aviso é mostrado...
        </div>
      </div>
      <div style="width: 534px; margin: 0 auto;">
        <div class="system-msg system-msg-success">
          <a class="close" data-dismiss="system-msg">×</a>
          <strong>Muito bem!</strong> Pelo visto, a ação foi bem sucedida. E o usuário precisa saber disso.
        </div>
      </div>
      <div style="width: 482px; margin: 0 auto;">
        <div class="system-msg system-msg-info">
          <a class="close" data-dismiss="system-msg">×</a>
          <strong>Aviso.</strong> Sr. usuário, há algo que você precisa saber, porém sem urgência.
        </div>
      </div>
      <div style="width: 239px; margin: 0 auto;">
        <div class="system-msg system-msg-busy">
          Lendo... carregando... processando...
        </div>
      </div>
      <h2>Mensagens em bloco <a href="../doc/images/block-messages-ie9.jpg">[IE9]</a><a href="../doc/images/block-messages-ie8.jpg">[IE8]</a></h2>
      <div style="width: 470px; margin: 0 auto;">
        <div class="system-msg msg-block">
          <a class="close" data-dismiss="system-msg">×</a>
          <p><strong>Aviso.</strong> Sr. usuário, este tipo de mensagem pode surgir no próprio contexto da interface, seja no corpo principal ou nas colunas laterais. Por exemplo: pode-se anunciar uma nova funcionalidade, uma ajuda importante ou mesmo uma mensagem de boas vindas.</p>
          <a title="Ir para um outro lugar" class="button" href="#">Ir para um outro lugar</a>
        </div>
      </div>
      <h2>Tooltip <a href="../doc/images/tooltip-ie9.jpg">[IE9]</a><a href="../doc/images/tooltip-ie8.jpg">[IE8]</a></h2>
      <p>Lorem ipsum dolor sit amet, consectetur <a href="#" rel="tooltip" title="Descrição secundária">adipiscing</a> elit. Mauris ultrices porta nisl.</p>
      <h2>Popover <a href="../doc/images/popover-ie9.jpg">[IE9]</a><a href="../doc/images/popover-ie8.jpg">[IE8]</a></h2>
      <p>Lorem ipsum dolor sit amet, consectetur <a href="#" rel="popover" data-original-title="Título do popover"data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices porta nisl, at tempor nunc commodo eu. Phasellus pulvinar euismod turpis nullam.">adipiscing</a> elit. Mauris ultrices porta nisl.</p>
      <h2>Popover #2 <a href="../doc/images/popover-2-ie9.jpg">[IE9]</a><a href="../doc/images/popover-2-ie8.jpg">[IE8]</a></h2>
      <p style="margin-bottom: 100px">Lorem ipsum dolor sit amet, consectetur <a href="#" rel="popover" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ultrices porta nisl, at tempor nunc commodo eu. Phasellus pulvinar euismod turpis nullam.">adipiscing</a> elit. Mauris ultrices porta nisl.</p>
    </div>
  </body>
</html>