<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mensagens do sistema</title>
    <link href="../public/stylesheets/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
    <script src="../public/javascripts/modernizr.js" type="text/javascript"></script>
    <script src="../public/javascripts/bootstrap-system-msg.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <link href="../public/javascripts/selectivizr.js" rel="stylesheet">
    <![endif]-->
  </head>
  <body>

    <div style="width: 1074px; margin: 0 auto;">
      <div style="width: 540px; float: left;">
        <div style="width: 470px; margin: 0 auto;">
          <div class="system-msg system-msg-warning">
            <a data-dismiss="system-msg" class="close">×</a>
            <strong>Ops!</strong> Quando alguma coisa não funciona bem, este aviso é mostrado...
          </div>
        </div>

        <div style="width: 534px; margin: 0 auto;">
          <div class="system-msg system-msg-success">
            <a data-dismiss="system-msg" class="close">×</a>
            <strong>Muito bem!</strong> Pelo visto, a ação foi bem sucedida. E o usuário precisa saber disso.
          </div>
        </div>

        <div style="width: 479px; margin: 0 auto;">
          <div class="system-msg system-msg-info">
            <a data-dismiss="system-msg" class="close">×</a>
            <strong>Aviso.</strong> Sr. usuário, há algo que você precisa saber, porém sem urgência.
          </div>
        </div>

        <div style="width: 264px; margin: 0 auto;">
          <div class="system-msg system-msg-busy">
            Lendo... carregando... processando...
          </div>
        </div>

        <div style="width: 470px; margin: 0 auto;">
          <div class="system-msg msg-block">
            <a data-dismiss="system-msg" class="close">×</a>
            <p><strong>Aviso.</strong> Sr. usuário, este tipo de mensagem pode surgir no próprio contexto da interface, seja no corpo principal ou nas colunas laterais. Por exemplo: pode-se anunciar uma nova funcionalidade, uma ajuda importante ou mesmo uma mensagem de boas vindas.</p>
            <button class="button">Ir para um outro lugar</button>
          </div>
        </div>
      </div>
      <div style="width: 534px; float: right;">
        <img src="../doc/images/system-messages.jpg" title="Mensagens do sistema" />
        <img src="../doc/images/message-block.jpg" title="Mensagens em bloco" />
      </div>
      <div style="clear: both"></div>
    </div>   

    <div class="system-msg system-msg-block system-msg-warning">
      <a data-dismiss="system-msg" class="close">×</a>
      <h4 class="system-msg-heading">Ops!</h4>
      <p>Quando alguma coisa não funciona bem, este aviso é mostrado...</p>
    </div>

    <div class="system-msg system-msg-block system-msg-success">
      <a data-dismiss="system-msg" class="close">×</a>
      <h4 class="system-msg-heading">Muito bem!</h4>
      <p>Pelo visto, a ação foi bem sucedida. E o usuário precisa saber disso.</p>
    </div>

    <div class="system-msg system-msg-block system-msg-info">
      <a data-dismiss="system-msg" class="close">×</a>
      <h4 class="system-msg-heading">Aviso.</h4>
      <p>Sr. usuário, há algo que você precisa saber, porém sem urgência.</p>
    </div>

    <div class="system-msg system-msg-block system-msg-busy">
      <a data-dismiss="system-msg" class="close">×</a>
      <h4 class="system-msg-heading">Ocupado!</h4>
      <p>Lendo... carregando... processando...</p>
    </div>

    <!--<script src="../public/javascripts/bootstrap/jquery.js"></script>-->
    
  </body>
</html>