<!doctype html>
<!--[if IE 8]><html class="ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><html class="gt-ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><!--><html lang="pt-br"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Estilos de Tabelas</title>
    <link rel="stylesheet" href="../css/bootstrap-redu.css">
    <link rel="stylesheet" href="../docs/assets/css/vendor/google-code-prettify.css" >
    <script src="../js/vendor/modernizr.js"></script>
  </head>
  <body  onload="prettyPrint()" style="width: 800px; margin: 0 auto;">
    <h5 style="padding-bottom: 10px;">Tabelas com Bordas Arredondadas</h5>
    <table class="table-with-borderradius">
      <thead>
        <tr>
          <th>Title</th>
          <th >Title</th>
        </tr>
      </thead>
      <tr class="odd">
        <th>Conteúdo de uma célula.</th>
        <th>Conteúdo de uma célula.</th>
      </tr>
      <tr class="even">
        <th>Conteúdo de uma célula.</th>
        <th>Conteúdo de uma célula.</th>
      </tr>
      <tr class="odd">
        <th>Conteúdo de uma célula.</th>
        <th>Conteúdo de uma célula.</th>
      </tr>
      <tr class="even">
        <th>Conteúdo de uma célula.</th>
        <th>Conteúdo de uma célula.</th>
      </tr>
    </table>
    <h5 style="padding-bottom: 10px; padding-top: 10px;">Tabelas sem Bordas Arredondadas</h5>
    <table class="table-without-borderradius">
      <thead>
        <tr>
          <th>Title</th>
          <th >Title</th>
        </tr>
      </thead>
      <tr class="odd">
        <th>Conteúdo de uma célula.</th>
        <th>Conteúdo de uma célula.</th>
      </tr>
      <tr class="even">
        <th>Conteúdo de uma célula.</th>
        <th>Conteúdo de uma célula.</th>
      </tr>
      <tr class="odd">
        <th>Conteúdo de uma célula.</th>
        <th>Conteúdo de uma célula.</th>
      </tr>
      <tr class="even">
        <th>Conteúdo de uma célula.</th>
        <th>Conteúdo de uma célula.</th>
      </tr>
    </table>
    <h5 style="padding-bottom: 10px; padding-top: 10px;">Tabelas cem Bordas Arredondadas e links</h5>
    <table class="table-with-borderradius table-with-link">
      <thead>
        <tr>
          <th>Title</th>
          <th >Title</th>
        </tr>
      </thead>
      <tr class="odd">
        <th><a href="http://www.redu.com.br">Conteúdo de uma célula.</a></th>
        <th><a href="http://www.redu.com.br">Conteúdo de uma célula.</a></th>
      </tr>
      <tr class="even">
        <th><a href="http://www.redu.com.br">Conteúdo de uma célula.</a></th>
        <th><a href="http://www.redu.com.br">Conteúdo de uma célula.</a></th>
      </tr>
      <tr class="odd">
        <th><a href="http://www.redu.com.br">Conteúdo de uma célula.</a></th>
        <th><a href="http://www.redu.com.br">Conteúdo de uma célula.</a></th>
      </tr>
      <tr class="even">
        <th><a href="http://www.redu.com.br">Conteúdo de uma célula.</a></th>
        <th><a href="http://www.redu.com.br">Conteúdo de uma célula.</a></th>
      </tr>
    </table>
    <h5 style="padding-bottom: 10px; padding-top: 10px">Tabelas com Bordas Arredondadas e Check-list</h5>
    <form class="table-with-check-list" >
      <fieldset>
        <table class="table-with-borderradius table-with-link">
          <thead>
            <tr>
              <th>Assunto</th>
              <th >Enviada de</th>
            </tr>
          </thead>
          <tr class="odd">
            <th><a href="http://www.redu.com.br">Lorem ipsum sit dolor amet, consectetur?</a></th>
            <th>
              <a href="http://www.google.com.br" class="link-name">Nome Sobrenome</a>
              <input type="checkbox" name="select-msg" value="selected">
            </th>
          </tr>
          <tr class="even">
            <th><a href="http://www.redu.com.br">Lorem ipsum sit dolor amet, consectetur?</a></th>
            <th>
              <span><a href="http://www.google.com.br" class="link-name">Nome Sobrenome</a></span>
              <input type="checkbox" name="select-msg" value="selected">
            </th>
          </tr>
          <tr class="odd">
            <th><a href="http://www.redu.com.br">Lorem ipsum sit dolor amet, consectetur?</a></th>
            <th>
              <a href="http://www.google.com.br" class="link-name">Nome Sobrenome</a></span>
              <input type="checkbox" name="select-msg" value="selected">
            </th>
          </tr>
          <tr class="even">
            <th><a href="http://www.redu.com.br">Lorem ipsum sit dolor amet, consectetur?</a></th>
            <th>
              <a href="http://www.google.com.br" class="link-name">Nome Sobrenome</a>
              <input type="checkbox" name="select-msg" value="selected">
            </th>
          </tr>
        </table>
        <button class="button-danger delete-msg button-disabled">Deletar selecionados</button>
        <button class="button-danger delete-msg">Deletar selecionados</button>
      </fieldset>
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery.js"><\/script>')</script>
    <script src="../docs/assets/js/vendor/google-code-prettify.js"></script>
    <script src="../js/bootstrap-redu.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script src="../js/vendor/selectivizr.js"></script>
    <![endif]-->
    <script src="http://use.typekit.com/lpo4rgu.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </body>
</html>