<!doctype html>
<!--[if IE 8]><html class="ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><html class="gt-ie8" lang="pt-br"><![endif]-->
<!--[if gt IE 8]><!--><html lang="pt-br"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Tipografia</title>
    <link rel="stylesheet" href="../css/bootstrap-redu.css">
    <link rel="stylesheet" href="../docs/assets/css/vendor/google-code-prettify.min.css" >
    <script src="../js/vendor/modernizr.js"></script>
  </head>
  <body onload="prettyPrint()">
     <div style="width: 960px; margin: 0 auto;">
      <h1>Tipografia</h1>
      <div>
        <h5>Cabeçalhos</h5>
        <h1>Head 1</h1>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;h1&gt;Head 1&lt;/h1&gt;</pre>
        <h2>Heading 2</h2>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;h2&gt;Heading 2&lt;/h2&gt;</pre>
        <h3>Heading 3</h3>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;h3&gt;Heading 3&lt;/h3&gt;</pre>
        <h4>Heading 4</h4>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;h4&gt;Heading 4&lt;/h4&gt;</pre>
        <h5>Heading 5</h5>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;h5&gt;Heading 5&lt;/h5&gt;</pre>
        <h6>Heading 6</h6>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;h6&gt;Heading 6&lt;/h6&gt;</pre>
        <h7>Heading 7</h7>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;h7&gt;Heading 7&lt;/h7&gt;</pre>
      <div>
      <div class="lists">
        <h5>Listas</h5>
        <ul>
          <li>Unordered list;</li>
          <li>Unordered list;</li>
          <li>Unordered list;</li>
          <li>Unordered list;</li>
          <li>Unordered list;</li>
        </ul>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;ul&gt;
          &lt;li&gt;Unordered list;&lt;/li&gt;
          &lt;li&gt;Unordered list;&lt;/li&gt;
          &lt;li&gt;Unordered list;&lt;/li&gt;
          &lt;li&gt;Unordered list;&lt;/li&gt;
          &lt;li&gt;Unordered list;&lt;/li&gt;
        &lt;/ul&gt;</pre>
        <ol>
          <li>Ordered list;</li>
          <li>Ordered list;</li>
          <li>Ordered list;</li>
          <li>Ordered list;</li>
          <li>Ordered list;</li>
        </ol>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
         &lt;ol&gt;
          &lt;li&gt;Ordered list;&lt;/li&gt;
          &lt;li&gt;Ordered list;&lt;/li&gt;
          &lt;li&gt;Ordered list;&lt;/li&gt;
          &lt;li&gt;Ordered list;&lt;/li&gt;
          &lt;li&gt;Ordered list;&lt;/li&gt;
        &lt;/ol&gt;</pre>
        <dl>
          <dt>Description-list</dt>
          <dd>A description list is perfect to defining terms indent of 18px as list's style</dd>
        </dl>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;dl&gt;
          &lt;dt&gt;Description-list&lt;/dt&gt;
          &lt;dd&gt;A description list is perfect to defining terms indent of 18px as list's style&lt;/dd&gt;
        &lt;/dl&gt;</pre>
      </div>
      <div>
        <h5>Inline labels</h5>
          <span class="label-news">
            NOVIDADE
          </span>
          <pre style="margin-top: 10px;" class="prettyprint linenums">
          &lt;span class="label-news"&gt;
            NOVIDADE
          &lt;/span&gt;</pre>
          <span class="label-notify-me">
            AVISE-ME
          </span>
          <pre style="margin-top: 10px;" class="prettyprint linenums">
           &lt;span class="label-notify-me"&gt;
            AVISE-ME
          &lt;/span&gt;</pre>
          <span class="label-online">
            ONLINE
          </span>
          <pre style="margin-top: 10px;" class="prettyprint linenums">
          &lt;span class="label-online"&gt;
            ONLINE
          &lt;/span&gt;</pre>
          <span class="label-doubts">
            DÚVIDAS
          </span>
          <pre style="margin-top: 10px;" class="prettyprint linenums">
          &lt;span class="label-doubts"&gt;
            DÚVIDAS
          &lt;/span&gt;</pre>
      </div>
      <div>
        <h5> Link's Style</h5>
        <a href="http://www.redu.com.br">www.redu.com.br</a>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;a href="http://www.redu.com.br"&gt;www.redu.com.br&lt;/a&gt;</pre>
        <a href="#" class="link-name">Hyperlink de nome</a>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;a class="link-name"&gt;Hyperlink de nome&lt;/a&gt;</pre>
        <a href="#" class="link-secondary">Hyperlink secundário, ação</a>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;a class="link-secondary"&gt;Hyperlink secundário&lt;/a&gt;</pre>
      </div>
      <div>
        <h5> Exemplo de parágrafo </h5>
        <p>Exemplo de um parágrafo de texto. A tipografia da interface utiliza uma altura de linha mínima de 18px (exceto em legendas e hyperlinks secundários dentro do menu), combinando com a altura dos ícones.<strong>Elemento em negrito – strong – serve para indicar importância adicional à sentença</strong>.<em>Ênfase é utilizada para reforçar uma idéia.</em></p>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;p&gt;Exemplo de um parágrafo de texto. A tipografia da interface utiliza uma altura de linha mínima de 18px (exceto em legendas e hyperlinks secundários dentro do menu), combinando com a altura dos ícones.&lt;strong&gt;Elemento em negrito – strong – serve para indicar importância adicional à sentença&lt;/strong&gt;.&lt;em&gt;Ênfase é utilizada para reforçar uma idéia.&lt;/em&gt;&lt;/p&gt;</pre>
      </div>
      <div>
        <h5>Quotes</h5>
        <blockquote>— Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha.
        </blockquote>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;blockquote&gt;— Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha. — Nome precedido por traço eme. Para quote de mais de uma linha.&lt;/blockquote&gt;</pre>
        <q>— Nome precedido por traço eme. Para quote de uma linha.</q>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;q&gt;— Nome precedido por traço eme. Para quote de mais de uma linha.&lt;/q&gt;</pre>
      </div>
      <div>
        <h5>"Alone"</h5>
        <span class="legend">
          200 caracteres restantes (legenda)</span>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;div class="legend"&gt;200 caracteres restantes (legenda)&lt;/div&gt;</pre>
        <code>@code {lucida console(reg);font-h:13px;line-h:18px;l-s:0;}</code>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
      &lt;code&gt;@code {lucida console(reg);font-h:13px;line-h:18px;l-s:0;}&lt;/code&gt;</pre>
      </div>
      <div>
        <h5>Bold</h5>
        <h3><strong>Hello :D I'm bold Haha</strong></h3>
        <h4><strong>Me too :D</strong></h4>
        <h5><strong>Me too</strong></h5>
        <pre style="margin-top: 10px;" class="prettyprint linenums">
        &lt;h3&gt;&lt;strong&gt;Hello :D I'm bold Haha&lt;/strong&gt;&lt;/h3&gt;
        &lt;h4&gt;&lt;strong&gt;Me too :D&lt;/strong&gt;&lt;/h4&gt;
        &lt;h5&gt;&lt;strong&gt;Me too&lt;/strong&gt;&lt;/h5&gt;</pre>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery.js"><\/script>')</script>
    <script src="../docs/assets/js/vendor/google-code-prettify.min.js"></script>
    <script src="../js/bootstrap-redu.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
      <script src="../js/vendor/selectivizr.js"></script>
    <![endif]-->
    <script src="http://use.typekit.com/lpo4rgu.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </body>
</html>