/* line 730, icon/*.png */
.icon-sprite, .icon-arrow-left-blue_16_18, a:hover .icon-arrow-left-lightblue_16_18,
.filter:hover .icon-arrow-left-lightblue_16_18,
.button:hover .icon-arrow-left-lightblue_16_18, .icon-arrow-left-lightblue_16_18, .icon-arrow-right-blue_16_18, a:hover .icon-arrow-right-lightblue_16_18,
.filter:hover .icon-arrow-right-lightblue_16_18,
.button:hover .icon-arrow-right-lightblue_16_18, .icon-arrow-right-lightblue_16_18, .icon-arrow-right-local-nav-blue, .icon-arrow-right-local-nav-lightblue-after:hover:after, .icon-arrow-right-local-nav-lightblue, .icon-arrow-right-local-nav-lightblue-after:after, .icon-arrow-right-squared-gray_16_18, .icon-arrow-right-squared-gray_16_18-before:before, .icon-arrow-up-curly-gray, .icon-classmates-gray_16_18, .icon-classmates-gray_16_18-before:before, .icon-comment-blue_16_18, a:hover .icon-comment-lightblue_16_18,
.filter:hover .icon-comment-lightblue_16_18,
.button:hover .icon-comment-lightblue_16_18, .icon-comment-gray_16_18, .icon-comment-gray_16_18-before:before, .icon-comment-lightblue_16_18, .icon-confirm-green_16_18, .icon-confirm-green_16_18-after:after, .icon-contacts-blue_16_18, .icon-contacts-lightblue_16_18-before:hover:before, .icon-contacts-gray_16_18, .icon-contacts-gray_16_18-before:before, .icon-contacts-lightblue_16_18, .icon-contacts-lightblue_16_18-before:before, .icon-contacts-white_green_16_18, .icon-content-blue_16_18, .icon-content-lightblue_16_18-before:hover:before, .icon-content-gray_16_18, .icon-content-gray_16_18-before:before, .icon-content-lightblue_16_18, .icon-content-lightblue_16_18-before:before, .icon-course-blue_16_18, .icon-course-lightblue_16_18-before:hover:before, .icon-course-blue_32_34, a:hover .icon-course-gray_32_34,
a:hover .icon-course-lightblue_32_34,
.filter:hover .icon-course-gray_32_34,
.filter:hover .icon-course-lightblue_32_34,
.button:hover .icon-course-gray_32_34,
.button:hover .icon-course-lightblue_32_34, .icon-course-gray_16_18, .icon-course-gray_16_18-before:before, .icon-course-gray_32_34, .icon-course-lightblue_16_18, .icon-course-lightblue_16_18-before:before, .icon-course-lightblue_32_34, .icon-course-lightgray_32_34, .icon-environment-blue_16_18, .icon-environment-lightblue_16_18-before:hover:before, .icon-environment-blue_32_34, a:hover .icon-environment-gray_32_34,
a:hover .icon-environment-lightblue_32_34,
.filter:hover .icon-environment-gray_32_34,
.filter:hover .icon-environment-lightblue_32_34,
.button:hover .icon-environment-gray_32_34,
.button:hover .icon-environment-lightblue_32_34, .icon-environment-gray_16_18, .icon-environment-gray_16_18-before:before, .icon-environment-gray_32_34, .icon-environment-lightblue_16_18, .icon-environment-lightblue_16_18-before:before, .icon-environment-lightblue_32_34, .icon-environment-lightgray_32_34, .icon-environment-white_blue_16_18, .icon-environment-white_blue_16_18-before:before, .icon-file-blue_16_18, .icon-file-lightblue_16_18-before:hover:before, .icon-file-lightblue_16_18, .icon-file-lightblue_16_18-before:before, .icon-file-white_blue_16_18, .icon-file-white_blue_16_18-before:before, .icon-home-blue_16_18, .icon-home-lightblue_16_18-before:hover:before, .icon-home-lightblue_16_18, .icon-home-lightblue_16_18-before:before, .icon-home-white_blue_16_18, .icon-home-white_blue_16_18-before:before, .icon-lights-blue_16_18, a:hover .icon-lights-lightblue_16_18,
.filter:hover .icon-lights-lightblue_16_18,
.button:hover .icon-lights-lightblue_16_18, .icon-lights-lightblue_16_18, .icon-manage-blue_16_18, .icon-manage-lightblue_16_18-before:hover:before, .icon-manage-lightblue_16_18, .icon-manage-lightblue_16_18-before:before, .icon-manage-white_blue_16_18, .icon-manage-white_blue_16_18-before:before, .icon-member-blue_16_18, .icon-member-lightblue_16_18-before:hover:before, .icon-member-lightblue_16_18, .icon-member-lightblue_16_18-before:before, .icon-members-blue_16_18, .icon-members-lightblue_16_18-before:hover:before, .icon-members-lightblue_16_18, .icon-members-lightblue_16_18-before:before, .icon-members-white_blue_16_18, .icon-members-white_blue_16_18-before:before, .icon-message-blue_16_18, .icon-message-lightblue_16_18-before:hover:before, .icon-message-lightblue_16_18, .icon-message-lightblue_16_18-before:before, .icon-message-white_blue_16_18, .icon-message-white_blue_16_18-before:before, .icon-notification-blue_16_18, a:hover .icon-notification-lightblue_16_18,
.filter:hover .icon-notification-lightblue_16_18,
.button:hover .icon-notification-lightblue_16_18, .icon-notification-lightblue_16_18, .icon-partner-blue_16_18, .icon-partner-lightblue_16_18-before:hover:before, .icon-partner-lightblue_16_18, .icon-partner-lightblue_16_18-before:before, .icon-profile-2-blue_16_18, a:hover .icon-profile-2-lightblue_16_18,
.filter:hover .icon-profile-2-lightblue_16_18,
.button:hover .icon-profile-2-lightblue_16_18, .icon-profile-2-lightblue_16_18, .icon-profile-blue_16_18, .icon-profile-lightblue_16_18-before:hover:before, .icon-profile-lightblue_16_18, .icon-profile-lightblue_16_18-before:before, .icon-request-help-blue_16_18, a:hover .icon-request-help-lightblue_16_18,
.filter:hover .icon-request-help-lightblue_16_18,
.button:hover .icon-request-help-lightblue_16_18, .icon-request-help-gray_16_18, .icon-request-help-gray_16_18-before:before, .icon-request-help-lightblue_16_18, .icon-separator-arrow-right-gray_16_18, .icon-separator-arrow-right-gray_16_18-after:after, .icon-space-blue_16_18, .icon-space-lightblue_16_18-before:hover:before, .icon-space-blue_32_34, a:hover .icon-space-gray_32_34,
a:hover .icon-space-lightblue_32_34,
.filter:hover .icon-space-gray_32_34,
.filter:hover .icon-space-lightblue_32_34,
.button:hover .icon-space-gray_32_34,
.button:hover .icon-space-lightblue_32_34, .icon-space-gray_32_34, .icon-space-lightblue_16_18, .icon-space-lightblue_16_18-before:before, .icon-space-lightblue_32_34, .icon-space-lightgray_32_34, .icon-subject-blue_16_18, .icon-subject-lightblue_16_18-before:hover:before, .icon-subject-blue_32_34, a:hover .icon-subject-gray_32_34,
a:hover .icon-subject-lightblue_32_34,
.filter:hover .icon-subject-gray_32_34,
.filter:hover .icon-subject-lightblue_32_34,
.button:hover .icon-subject-gray_32_34,
.button:hover .icon-subject-lightblue_32_34, .icon-subject-gray_16_18, .icon-subject-gray_16_18-before:before, .icon-subject-gray_32_34, .icon-subject-lightblue_16_18, .icon-subject-lightblue_16_18-before:before, .icon-subject-lightblue_32_34, .icon-subject-lightgray_32_34, .icon-subject-white_blue_16_18, .icon-subject-white_blue_16_18-before:before, .icon-teacher-blue_16_18, .icon-teacher-lightblue_16_18-before:hover:before, .icon-teacher-lightblue_16_18, .icon-teacher-lightblue_16_18-before:before, .icon-tutor-blue_16_18, .icon-tutor-lightblue_16_18-before:hover:before, .icon-tutor-lightblue_16_18, .icon-tutor-lightblue_16_18-before:before, .icon-wall-blue_16_18, .icon-wall-lightblue_16_18-before:hover:before, .icon-wall-lightblue_16_18, .icon-wall-lightblue_16_18-before:before, .icon-wall-white_blue_16_18, .icon-wall-white_blue_16_18-before:before {
  background: url('../images/new/icon-sd60aead54d.png') no-repeat;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-left-blue_16_18, a:hover .icon-arrow-left-lightblue_16_18,
.filter:hover .icon-arrow-left-lightblue_16_18,
.button:hover .icon-arrow-left-lightblue_16_18 {
  background-position: -80px -35px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-left-lightblue_16_18 {
  background-position: 0 -89px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-right-blue_16_18, a:hover .icon-arrow-right-lightblue_16_18,
.filter:hover .icon-arrow-right-lightblue_16_18,
.button:hover .icon-arrow-right-lightblue_16_18 {
  background-position: 0 -35px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-right-lightblue_16_18 {
  background-position: -16px -35px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-right-local-nav-blue, .icon-arrow-right-local-nav-lightblue-after:hover:after {
  background-position: -96px -159px;
  height: 32px;
  width: 11px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-right-local-nav-lightblue, .icon-arrow-right-local-nav-lightblue-after:after {
  background-position: -107px -159px;
  height: 32px;
  width: 11px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-right-squared-gray_16_18, .icon-arrow-right-squared-gray_16_18-before:before {
  background-position: -64px -35px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-up-curly-gray {
  background-position: 0 0;
  height: 17px;
  width: 160px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-classmates-gray_16_18, .icon-classmates-gray_16_18-before:before {
  background-position: -96px -35px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-comment-blue_16_18, a:hover .icon-comment-lightblue_16_18,
.filter:hover .icon-comment-lightblue_16_18,
.button:hover .icon-comment-lightblue_16_18 {
  background-position: -112px -35px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-comment-gray_16_18, .icon-comment-gray_16_18-before:before {
  background-position: -128px -35px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-comment-lightblue_16_18 {
  background-position: 0 -17px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-confirm-green_16_18, .icon-confirm-green_16_18-after:after {
  background-position: -16px -17px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-contacts-blue_16_18, .icon-contacts-lightblue_16_18-before:hover:before {
  background-position: -32px -17px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-contacts-gray_16_18, .icon-contacts-gray_16_18-before:before {
  background-position: -48px -17px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-contacts-lightblue_16_18, .icon-contacts-lightblue_16_18-before:before {
  background-position: -64px -17px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-contacts-white_green_16_18 {
  background-position: -80px -17px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-content-blue_16_18, .icon-content-lightblue_16_18-before:hover:before {
  background-position: -96px -17px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-content-gray_16_18, .icon-content-gray_16_18-before:before {
  background-position: -112px -17px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-content-lightblue_16_18, .icon-content-lightblue_16_18-before:before {
  background-position: -128px -17px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-course-blue_16_18, .icon-course-lightblue_16_18-before:hover:before {
  background-position: -144px -17px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-course-blue_32_34, a:hover .icon-course-gray_32_34,
a:hover .icon-course-lightblue_32_34,
.filter:hover .icon-course-gray_32_34,
.filter:hover .icon-course-lightblue_32_34,
.button:hover .icon-course-gray_32_34,
.button:hover .icon-course-lightblue_32_34 {
  background-position: -96px -193px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-course-gray_16_18, .icon-course-gray_16_18-before:before {
  background-position: 0 -71px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-course-gray_32_34 {
  background-position: -64px -193px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-course-lightblue_16_18, .icon-course-lightblue_16_18-before:before {
  background-position: -32px -71px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-course-lightblue_32_34 {
  background-position: -32px -193px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-course-lightgray_32_34 {
  background-position: 0 -193px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-environment-blue_16_18, .icon-environment-lightblue_16_18-before:hover:before {
  background-position: -80px -71px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-environment-blue_32_34, a:hover .icon-environment-gray_32_34,
a:hover .icon-environment-lightblue_32_34,
.filter:hover .icon-environment-gray_32_34,
.filter:hover .icon-environment-lightblue_32_34,
.button:hover .icon-environment-gray_32_34,
.button:hover .icon-environment-lightblue_32_34 {
  background-position: -96px -227px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-environment-gray_16_18, .icon-environment-gray_16_18-before:before {
  background-position: -112px -71px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-environment-gray_32_34 {
  background-position: -64px -227px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-environment-lightblue_16_18, .icon-environment-lightblue_16_18-before:before {
  background-position: 0 -53px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-environment-lightblue_32_34 {
  background-position: -118px -159px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-environment-lightgray_32_34 {
  background-position: -96px -125px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-environment-white_blue_16_18, .icon-environment-white_blue_16_18-before:before {
  background-position: -48px -53px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-file-blue_16_18, .icon-file-lightblue_16_18-before:hover:before {
  background-position: -64px -53px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-file-lightblue_16_18, .icon-file-lightblue_16_18-before:before {
  background-position: -80px -53px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-file-white_blue_16_18, .icon-file-white_blue_16_18-before:before {
  background-position: -96px -53px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-home-blue_16_18, .icon-home-lightblue_16_18-before:hover:before {
  background-position: -112px -53px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-home-lightblue_16_18, .icon-home-lightblue_16_18-before:before {
  background-position: -128px -53px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-home-white_blue_16_18, .icon-home-white_blue_16_18-before:before {
  background-position: -144px -53px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-lights-blue_16_18, a:hover .icon-lights-lightblue_16_18,
.filter:hover .icon-lights-lightblue_16_18,
.button:hover .icon-lights-lightblue_16_18 {
  background-position: -144px -71px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-lights-lightblue_16_18 {
  background-position: 0 -107px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-manage-blue_16_18, .icon-manage-lightblue_16_18-before:hover:before {
  background-position: -16px -107px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-manage-lightblue_16_18, .icon-manage-lightblue_16_18-before:before {
  background-position: -32px -107px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-manage-white_blue_16_18, .icon-manage-white_blue_16_18-before:before {
  background-position: -48px -107px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-member-blue_16_18, .icon-member-lightblue_16_18-before:hover:before {
  background-position: -64px -107px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-member-lightblue_16_18, .icon-member-lightblue_16_18-before:before {
  background-position: -80px -107px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-members-blue_16_18, .icon-members-lightblue_16_18-before:hover:before {
  background-position: -96px -107px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-members-lightblue_16_18, .icon-members-lightblue_16_18-before:before {
  background-position: -112px -107px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-members-white_blue_16_18, .icon-members-white_blue_16_18-before:before {
  background-position: -128px -107px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-message-blue_16_18, .icon-message-lightblue_16_18-before:hover:before {
  background-position: 0 -261px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-message-lightblue_16_18, .icon-message-lightblue_16_18-before:before {
  background-position: -16px -89px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-message-white_blue_16_18, .icon-message-white_blue_16_18-before:before {
  background-position: -32px -89px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-notification-blue_16_18, a:hover .icon-notification-lightblue_16_18,
.filter:hover .icon-notification-lightblue_16_18,
.button:hover .icon-notification-lightblue_16_18 {
  background-position: -48px -89px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-notification-lightblue_16_18 {
  background-position: -64px -89px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-partner-blue_16_18, .icon-partner-lightblue_16_18-before:hover:before {
  background-position: -80px -89px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-partner-lightblue_16_18, .icon-partner-lightblue_16_18-before:before {
  background-position: -96px -89px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-profile-2-blue_16_18, a:hover .icon-profile-2-lightblue_16_18,
.filter:hover .icon-profile-2-lightblue_16_18,
.button:hover .icon-profile-2-lightblue_16_18 {
  background-position: -112px -89px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-profile-2-lightblue_16_18 {
  background-position: -128px -89px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-profile-blue_16_18, .icon-profile-lightblue_16_18-before:hover:before {
  background-position: -144px -89px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-profile-lightblue_16_18, .icon-profile-lightblue_16_18-before:before {
  background-position: -144px -107px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-request-help-blue_16_18, a:hover .icon-request-help-lightblue_16_18,
.filter:hover .icon-request-help-lightblue_16_18,
.button:hover .icon-request-help-lightblue_16_18 {
  background-position: -16px -261px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-request-help-gray_16_18, .icon-request-help-gray_16_18-before:before {
  background-position: 0 -159px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-request-help-lightblue_16_18 {
  background-position: -80px -159px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-separator-arrow-right-gray_16_18, .icon-separator-arrow-right-gray_16_18-after:after {
  background-position: -32px -159px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-space-blue_16_18, .icon-space-lightblue_16_18-before:hover:before {
  background-position: -48px -159px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-space-blue_32_34, a:hover .icon-space-gray_32_34,
a:hover .icon-space-lightblue_32_34,
.filter:hover .icon-space-gray_32_34,
.filter:hover .icon-space-lightblue_32_34,
.button:hover .icon-space-gray_32_34,
.button:hover .icon-space-lightblue_32_34 {
  background-position: -32px -125px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-space-gray_32_34 {
  background-position: -128px -227px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-space-lightblue_16_18, .icon-space-lightblue_16_18-before:before {
  background-position: -16px -159px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-space-lightblue_32_34 {
  background-position: -128px -193px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-space-lightgray_32_34 {
  background-position: -32px -227px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-subject-blue_16_18, .icon-subject-lightblue_16_18-before:hover:before {
  background-position: -64px -159px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-subject-blue_32_34, a:hover .icon-subject-gray_32_34,
a:hover .icon-subject-lightblue_32_34,
.filter:hover .icon-subject-gray_32_34,
.filter:hover .icon-subject-lightblue_32_34,
.button:hover .icon-subject-gray_32_34,
.button:hover .icon-subject-lightblue_32_34 {
  background-position: -64px -125px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-subject-gray_16_18, .icon-subject-gray_16_18-before:before {
  background-position: -32px -53px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-subject-gray_32_34 {
  background-position: -128px -125px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-subject-lightblue_16_18, .icon-subject-lightblue_16_18-before:before {
  background-position: -16px -53px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-subject-lightblue_32_34 {
  background-position: 0 -227px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-subject-lightgray_32_34 {
  background-position: 0 -125px;
  height: 34px;
  width: 32px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-subject-white_blue_16_18, .icon-subject-white_blue_16_18-before:before {
  background-position: -128px -71px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-teacher-blue_16_18, .icon-teacher-lightblue_16_18-before:hover:before {
  background-position: -96px -71px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-teacher-lightblue_16_18, .icon-teacher-lightblue_16_18-before:before {
  background-position: -64px -71px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tutor-blue_16_18, .icon-tutor-lightblue_16_18-before:hover:before {
  background-position: -48px -71px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-tutor-lightblue_16_18, .icon-tutor-lightblue_16_18-before:before {
  background-position: -16px -71px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-wall-blue_16_18, .icon-wall-lightblue_16_18-before:hover:before {
  background-position: -144px -35px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-wall-lightblue_16_18, .icon-wall-lightblue_16_18-before:before {
  background-position: -48px -35px;
  height: 18px;
  width: 16px;
}

/* line 60, ../../../../../../../../../Ruby187/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icon-wall-white_blue_16_18, .icon-wall-white_blue_16_18-before:before {
  background-position: -32px -35px;
  height: 18px;
  width: 16px;
}
