// Breadcrumbs.scss
// --------------------------------------------------------

// Breadcrumb menor.
.breadcrumb {
  @include horizontal-list;

  a {
    font-size: 11px;
    text-decoration: none;
  }

  li {
    // O separador.
    &:after {
      @include pseudo-after;
      margin-right: 5px;
    }

    > :before { @include pseudo-before; }

    // Esconde o texto quando compactado.
    &.breadcumb-item-compact {
      width: 45px;
      > * { @include text-replacement; }
    }
  }
}

// O breadcrumb grande de ícones.
.breadcrumb-big {
  @include horizontal-list;
  padding: 2px 0;
}

.breadcrumb-big li {
  margin-left: 4px;
  margin-right: 4px;

  span {
    display: inline-block;
    @include text-replacement;
  }

  &.breadcrumb-big-item-active {
    border: 1px solid $white;

    a { display: inline-block; }

    // A borda azul.
    .borderradius &,
    .borderradius & a { @include border-radius(5px); }
    .boxshadow & { @include box-shadow(0 0 4px 1px $blue2); }
    .boxshadow & a { @include box-shadow(inset 0 0 4px 1px $blue2); }
    // Para o IE 8.
    .no-borderradius & { border: 1px solid $blue3; }
  }

  &.breadcrumb-big-item-disabled a { cursor: default; }
}