// ESTILOS DOS BOTÕES.
// -------------


// Estilos básicos.
// --------------------------------------------------

// Core.
.button {
  display: inline-block;
  padding: 6px 10px 6px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  @include font-sans-serif;
  background-color: $gray1;
  color: $blue3;
  border: 1px solid $gray4;

  &:hover {
    border-color: $blue2;
    text-decoration: none;
  }

  .borderradius & { @include border-radius(4px); }

  .cssgradients &:hover,
  .cssgradients .open > & { @include filter-gradient-vertical($gray1, $blue1); }

  .no-cssgradients &:hover {
    // http://www.colorzilla.com/gradient-editor/#f7f7f7+0,dbeff7+100;Custom
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmVmZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dbeff7',GradientType=0 );
  }

  .boxshadow & { @include box-shadow(inset 0 1px 0 0 $white); }
  .boxshadow &:active,
  .boxshadow .open > & { @include box-shadow(inset 0 1px 2px 1px rgba(0, 0, 0, 0.5)); }
}

.button-dropdown {
  padding: 5px 5px 5px 10px;
  height: 18px;

  .button-dropdown-icon {
    @include replacement;
    display: block;
    @include size(16px, 18px);
    margin-right: 5px;
    float: left;
  }
}