// ESTILOS DOS FILTROS.
// -------------


// Estilos do filtro no estado normal.
@mixin filter-normal-state() {
  background-color: $gray1;
  color: $blue3;
  border: 1px solid $gray4;
}

// Escolhe quais ícones usar (azul claro [-80] ou escuro [-160]).
@mixin filter-icons($x: -80px) {
  .icon-teacher-lightblue_16_18-before:before { background: url("../images/new/icons-small.png") $x -880px no-repeat; }
  .icon-tutor-lightblue_16_18-before:before   { background: url("../images/new/icons-small.png") $x -960px no-repeat; }
  .icon-member-lightblue_16_18-before:before  { background: url("../images/new/icons-small.png") $x -1040px no-repeat; }
}


// Base.
.filter {
  display: inline-block;
  padding: 6px 10px 6px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  @include font-sans-serif;
  // Estado normal.
  @include filter-normal-state;
  // IE7 hack.
  @include reset-filter;
  @include ie7-restore-left-whitespace;

  > span:before {
    // Para os ícones aparecerem na esquerda.
    float: left;
    margin-right: 5px;
  }

  .cssgradients & {
    @include filter-gradient-vertical($gray1, $gray3, 20%, 100%);

    &:hover { @include filter-gradient-vertical($gray1, $blue1, 0%, 100%); }

    &.filter-active:active { @include filter-gradient-vertical($gray1, $gray3, 20%, 100%); }
  }

  // Para o IE 8 e 9.
  .no-cssgradients & {
    // http://www.colorzilla.com/gradient-editor/#f7f7f7+20,e6e6e6+99;Custom
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=0 );

    &:hover {
      // http://www.colorzilla.com/gradient-editor/#f7f7f7+0,dbeff7+99;Custom
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2RiZWZmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dbeff7',GradientType=0 );
    }

    &.filter-active:active {
      // http://www.colorzilla.com/gradient-editor/#f7f7f7+20,e6e6e6+99;Custom
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=0 );
    }
  }

  &:hover {
    background: $blue1;
    border-color: $blue2;
    color: $blue4;
    text-decoration: none;
    // Ícones azul escuro.
    @include filter-icons(-160px);
  }

  &.filter-active,
  &.filter-active:hover,
  &:active,
  .open &,
  .open &:hover {
    filter: none;
    // Estado ativado ou pressionado do estado normal.
    border-color: $blue3;
    background: $blue1;
  }

  &.filter-active:active {
    // Estado ativado e pressionado (volta ao estado normal)
    @include filter-normal-state;
    // Ícones azul claro.
    @include filter-icons;
  }

  // Estado de focus para o teclado e acessibilidade.
  &:focus { @include tab-focus; }

  .textshadow & { text-shadow: $verticalWhiteShadow; }

  .borderradius & { @include border-radius(4px); }

  .boxshadow & {
    $topInset: inset 0 1px 0 0 $white;
    $rightInset: inset -1px 0 0 0 $white;
    $noInset: inset 0 0 0 0 $white;
    // Estado normal.
    @include box-shadow-2($topInset, $rightInset);

    // Remove o inset direito e adiciona um inset baixo.
    &:hover { @include box-shadow-2($noInset, inset 0 -1px 0 0 $white); }

    // Estado ativado ou pressionado do estado normal.
    &.filter-active,
    &:active { @include box-shadow(inset 0 1px 4px 1px rgba(0, 0, 0, 0.5)); }

    // Estado ativado e pressionado (volta ao estado normal)
    &.filter-active:active { @include box-shadow-2($topInset, $rightInset); }
  }
  .boxshadow .open & { @include box-shadow(inset 0 1px 4px 1px rgba(0, 0, 0, 0.5)); }
}