.vision-at-environment {
  margin: 0;
  hr {
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
  }
}


.statuses .status {
  overflow: hidden;
  margin-top: 10px;

  .post-description {
    .textshadow & { text-shadow: none; }
    color: $gray6;
  }

  .date {
    color: $gray4;
    font-size: 11px;
    line-height: 11px;
    display: block;
    margin-left: 42px;
  }

  .status-info { color: $gray5; }

  .close {text-indent: -9999px; }

  hr {
    margin: 10px 0;
    border-top: solid 1px $gray3;
    border-bottom: solid 1px $white;
    .boxshadow & { @include box-shadow(none); }
  }

  .create-response {
    margin-left: 42px;
    margin-top: 37px;
    display: none;
    background-color: $gray2;
    .borderradius & { @include border-radius(5px); }
  }

  .status-text {
    overflow: hidden;
    margin-bottom: 10px;

    img {
      float: left;
      width: 32px;
      height: 34px;
      margin-right: 10px;
    }
  }

  .actions {
    clear: both;
    display: block;
    float: right;
    line-height: 11px;
    margin-top: 6px;
    margin-bottom: 10px;
    li {
      display: inline;
      margin: 10px;
      overflow: hidden;
      font-size: 11px;
      a:before {
        @include pseudo-before;
        vertical-align: baseline;
        float: none;
        margin-left: -12px;
        margin-top: 4px;
      }
    }
  }

  .status-content {
    display: inline-block;
    margin-left: 42px;
    background-color: $gray2;

    &:before {
      border-color: #F0F0F0 white;
      border-style: solid;
      border-width: 0 10px 10px;
      content: " ";
      display: block;
      float: left;
      margin-left: 18px;
      margin-top: -9px;
      width: 0;
      position: absolute;
    }

    .borderradius & { @include border-radius(5px); }

    .post-text {
      padding: 10px 10px;
      clear: both;
    }

    .post-preview {
          overflow: hidden;
          padding: 10px 10px 10px 10px;

          .title { margin-bottom: 10px; }

          &.java-applet { padding: 0; }

          .post-body {
            overflow: hidden;
            display: block;
            margin: 0 auto;
            .source-site { color: $gray5; }
          }

          .preview {
            float: left;
            max-width: 110px;
            .thumbnail {
              float: left;
              max-width: 100px;
              min-height: 34px;
              width: 100%;
              margin-right: 10px;
            }

            .buttons-thumbnail {
              display: block;
              margin-left: 0;
              clear: both;
              width: 100px;
              padding-top: 10px;
              .button-default {
                line-height: 10px;
                .arrow { @extend .text-replacement; }

                &:hover {
                  &.next .arrow { background-image: url("../images/new/icon/arrow-right-blue_8_10.png"); }
                  &.last .arrow { background-image: url("../images/new/icon/arrow-left-blue_8_10.png"); }
                  &.remove .arrow { background-image: url("../images/new/icon/close-red_8_10.png"); }
                }

                &.next .arrow {
                  background-image: url("../images/new/icon/arrow-right-lightblue_8_10.png");
                  background-repeat: no-repeat;
                  width: 8px;
                }
                &.last .arrow {
                  background-image: url("../images/new/icon/arrow-left-lightblue_8_10.png");
                  background-repeat: no-repeat;
                  width: 8px;
                }

                &.remove .arrow {
                  background-image: url("../images/new/icon/close-lightblue_8_10.png");
                  background-repeat: no-repeat;
                  width: 8px;
                }

                &.disabled {
                  &.next .arrow {
                    background-image: url("../images/new/icon/arrow-right-gray_8_10.png");
                    background-repeat: no-repeat;
                    width: 8px;
                  }
                  &.last .arrow {
                    background-image: url("../images/new/icon/arrow-left-gray_8_10.png");
                    background-repeat: no-repeat;
                    width: 8px;
                  }

                  &.remove .arrow {
                    background-image: url("../images/new/icon/close-gray_8_10.png");
                    background-repeat: no-repeat;
                    width: 8px;
                  }
                }
              }
            }
          }
        }


    .java-applet {
      .icon {
        @extend .text-replacement;
        background: url("../images/new/icon/icon-applet.png");
        width: 32px;
        height: 34px;
        float: left;
        margin-right: 10px;
      }
    }
  }

  .status-content, .create-response {
    form {
      margin-bottom: 0;

      fieldset {
        padding: 10px;
        clear: both;

        .post-preview { padding: 0; }

        textarea {
          height: 16px;
          width: 471px;
          overflow: hidden;
        }

        label {
          width: 18px;
          float: left;
          text-indent: -999px;
        }

        .status-buttons { float: right; }
      }
    }
  }

  .create-response {
    &:before {
      border-color: #F0F0F0 white;
      border-style: solid;
      border-width: 0 10px 10px;
      content: " ";
      display: block;
      float: right;
      margin-right: 40px;
      margin-top: -10px;
      width: 0;
    }
    .status-buttons { margin-top: 10px; }
  }

  .responses {
    overflow: hidden;
    display: block;
    clear: both;
    margin-top: 10px;
    padding: 10px 0;

    .java-applet { margin-left: 42px; }

    .last-responses { text-align: center; }

    .all-responses {
      text-align: center;
    }

    &:before {
      border-color: #F0F0F0 white;
      border-style: solid;
      border-width: 0 10px 10px;
      content: " ";
      display: block;
      float: left;
      margin-left: 18px;
      margin-top: -19px;
      width: 0;
      position: absolute;
    }

    .status-content {
      display: block;
      margin-left: 0;
      &:before { display: none; }

      .status-text-response {
        margin-bottom: 0;
        padding: 0 10px;
      }

      .post-text { padding: 0 10px 0 52px; }
    }

    .post-preview { padding: 0; }
  }

  &.general-vision {
    float: left;
    overflow: hidden;
    margin-left: 0;
    display: inline-block;

    .status-info { color: $gray6; }

    .link-name { &:before { @include pseudo-before(5px, false); } }

    .actions { margin-bottom: 10px; }

    .status-content { margin-left: 84px; }

    img {
      float: left;
      width: 32px;
      height: 34px;
      margin-right: 10px;
    }

    .create-response {
      margin-bottom: 10px;
      form { &:before { margin-right: -159px; } }
    }

    .status-text {
      clear: both;
      float: left;
      margin-left: 42px;
      &:after { display: none; }
    }
  }
}


