// Mixins.scss
// Snippets de CSS reusável para desenvolver rápido e manter o código legível.
// -----------------------------------------------------------------


// MIXINS DE UTILIDADE.
// --------------------------------------------------

@mixin text-replacement() {
  text-indent: -9999px;
  display: inline-block;
}

@mixin horizontal-list() {
  list-style: none;
  margin: 0;
  overflow: hidden;

  li { float: left; }
}

@mixin pseudo-before($marginRight: 5px) {
  content: "";
  float: left;
  margin-right: $marginRight;
}

@mixin pseudo-after($marginLeft: 5px) {
  content: "";
  float: right;
  margin-left: $marginLeft;
}

// Clearfix.
// --------
// Para limpar floats like a boss h5bp.com/q.
@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

// Webkit-style focus.
// ------------------
@mixin tab-focus() {
  // Default.
  outline: thin dotted #333;
  // Webkit.
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Alinha centralmente um elemento block.
// ----------------------------------
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// IE7 inline-block.
// ----------------
@mixin ie7-inline-block() {
  *display: inline; /* IE7 inline-block hack. */
  *zoom: 1;
}

// IE7 likes to collapse whitespace on either side of the inline-block elements.
// Ems because we're attempting to match the width of a space character. Left
// version is for form buttons, which typically come after other elements, and
// right version is for icons, which come before. Applying both is ok, but it will
// mean that space between those elements will be .6em (~2 space characters) in IE7,
// instead of the 1 space in other browsers.
@mixin ie7-restore-left-whitespace() {
  *margin-left: .3em;

  &:first-child {
    *margin-left: 0;
  }
}

@mixin ie7-restore-right-whitespace() {
  *margin-right: .3em;

  &:last-child {
    *margin-left: 0;
  }
}

// Atalhos de dimensionamento.
// -------------------------
@mixin size($width: 5px, $height: 5px) {
  width: $width;
  height: $height;
}
@mixin square($size: 5px) {
  @include size($size, $size);
}



// FONTS.
// --------------------------------------------------

// Pilhas de fonts.
@mixin font-family-sans-serif {
  font-family: $baseFontFamily;
}
@mixin font-shorthand($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}
@mixin font-sans-serif($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
  @include font-family-sans-serif;
  @include font-shorthand($size, $weight, $lineHeight);
}
@mixin font-family-monospace {
  font-family: Menlo, Monaco, "Courier New", monospace;
}


// PROPRIEDADES CSS3.
// --------------------------------------------------

// Border Radius.
@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

// Drop shadows.
@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}
@mixin box-shadow-2($shadow1, $shadow2) {
  -webkit-box-shadow: $shadow1, $shadow2;
     -moz-box-shadow: $shadow1, $shadow2;
          box-shadow: $shadow1, $shadow2;
}

// Transições.
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

// Background clipping.
// Heads up: FF 3.6 and under need "padding" instead of "padding-box".
@mixin background-clip($clip) {
  -webkit-background-clip: $clip;
     -moz-background-clip: $clip;
          background-clip: $clip;
}

// Opacidade.
@mixin opacity($opacity: 100) {
  opacity: $opacity / 100;
   filter: alpha(opacity=$opacity);
}



// BACKGROUNDS.
// --------------------------------------------------

// Cria um gradiente vertical de duas cores.
@mixin filter-gradient-vertical($startColor, $endColor, $startColorPos: 0%, $endColorPos: 100%) {
  background: -moz-linear-gradient(top, $startColor $startColorPos, $endColor $endColorPos);
  background: -webkit-gradient(linear, left top, left bottom, color-stop($startColorPos, $startColor), color-stop($endColorPos, $endColor));
  background: -webkit-linear-gradient(top, $startColor $startColorPos, $endColor $endColorPos);
  background: -o-linear-gradient(top, $startColor $startColorPos, $endColor $endColorPos);
  background: -ms-linear-gradient(top, $startColor $startColorPos, $endColor $endColorPos);
  background: linear-gradient(top, $startColor $startColorPos, $endColor $endColorPos);
}

@mixin filter-gradient-vertical-3($color1, $color2, $color3, $color1Pos: 0%, $color2Pos: 50%, $color3Pos: 100%) {
  background: -moz-linear-gradient(top, $color1 $color1Pos, $color2 $color2Pos, $color3 $color3Pos);
  background: -webkit-gradient(linear, left top, left bottom, color-stop($color1Pos,$color1), color-stop($color2Pos,$color2), color-stop($color3Pos,$color3));
  background: -webkit-linear-gradient(top, $color1 $color1Pos,$color2 $color2Pos,$color3 $color3Pos);
  background: -o-linear-gradient(top, $color1 $color1Pos,$color2 $color2Pos,$color3 $color3Pos);
  background: -ms-linear-gradient(top, $color1 $color1Pos,$color2 $color2Pos,$color3 $color3Pos);
  background: linear-gradient(top, $color1 $color1Pos,$color2 $color2Pos,$color3 $color3Pos);
}

// Reseta o filtro para o IE.
@mixin reset-filter() {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}



// MIXINS DOS COMPONENTES.
// --------------------------------------------------

// SETAS POPOVER.
// -------------------------
// Para tooltips e popovers.
@mixin popoverArrow-top($arrowWidth: 8px, $borderColor: $gray6) {
  bottom: 0;
  left: 50%;
  margin-left: -$arrowWidth;
  border-left: $arrowWidth solid transparent;
  border-right: $arrowWidth solid transparent;
  border-top: $arrowWidth solid $borderColor;
}
@mixin popoverArrow-left($arrowWidth: 8px, $borderColor: $gray6, $right: 0) {
  top: 50%;
  right: $right;
  margin-top: -$arrowWidth;
  border-top: $arrowWidth solid transparent;
  border-bottom: $arrowWidth solid transparent;
  border-left: $arrowWidth solid $borderColor;
}
@mixin popoverArrow-bottom($arrowWidth: 8px, $borderColor: $gray6, $top: 0) {
  top: $top;
  left: 50%;
  margin-left: -$arrowWidth;
  border-left: $arrowWidth solid transparent;
  border-right: $arrowWidth solid transparent;
  border-bottom: $arrowWidth solid $borderColor;
}
@mixin popoverArrow-right($arrowWidth: 8px, $borderColor: $gray6, $left: 0) {
  top: 50%;
  left: $left;
  margin-top: -$arrowWidth;
  border-top: $arrowWidth solid transparent;
  border-bottom: $arrowWidth solid transparent;
  border-right: $arrowWidth solid $borderColor;
}