// ESTILOS DAS MENSAGENS DO SISTEMA
// ------------

// Estilos básicos das mensagens.
.system-msg {
  padding: 10px 35px 10px 10px;
  margin-bottom: $baseLineHeight;  
  background-color: $warningBackground;
  border: 1px solid $warningBorder;
  @include font-sans-serif;
}

.boxshadow .system-msg {
  @include box-shadow(0px 2px 3px 1px rgba(0, 0, 0, 0.4));
}

.textshadow .system-msg {
  text-shadow: $verticalWhiteShadow;
}

.borderradius .system-msg {
  @include border-radius(5px);
}

.system-msg,
.system-msg-heading {
  color: $warningText;
}

.system-msg-heading {
  margin: 0;
}

// Ajusta a posição do link de fechar.
.system-msg .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

// Estilos alternativos.
// ----------------

.system-msg-success {
  background-color: $green1;
  border-color: $successBorder;  
}
.system-msg-success,
.system-msg-success .system-msg-heading {
  color: $successText;
}
.system-msg-warning {
  background-color: $warningBackground;
  border-color: $warningBorder;
}
.system-msg-warning,
.system-msg-warning .system-msg-heading {
  color: $warningText;
}
.system-msg-info {
  background-color: $infoBackground;
  border-color: $infoBorder;
}
.system-msg-info,
.system-msg-info .system-msg-heading {
  color: $infoText;
}
.system-msg-busy {
  background-color: $busyBackground;
  border-color: $busyBorder;
}
.system-msg-busy,
.system-msg-busy .system-msg-heading {
  color: $busyText;
}

// ÍCONES CLOSE.
// -----------

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: $baseLineHeight;
  color: $black;
  @include opacity(20);
  &:hover {
    color: $black;
    text-decoration: none;
    @include opacity(40);
    cursor: pointer;
  }
}

.textshadow .close {
  text-shadow: $verticalWhiteShadow;
}

// Block system-msgs
// ------------------------
.system-msg-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.system-msg-block > p,
.system-msg-block > ul {
  margin: 0;
}
.system-msg-block p + p {
  margin-top: 5px;
}

.msg-block {
  background-color: $blue1;
  border-color: $blue2;
  color: $blue4;
  overflow: hidden;
  padding: 10px;

  .close {
    right: 0;
  }

  p {
    padding-right: 40px;
  }

  .button {
    float: right;
    color: white;
    border: 1px solid $blue2;
    background-color: $blue2;
  }
}

.boxshadow .msg-block {
  @include box-shadow(0 0 0 0 rgb(0, 0, 0));
}

.textshadow .msg-block .button {
  text-shadow: $negativeVerticalBlue4Shadow;
}

.cssgradients .msg-block .button {
  @include filter-gradient-vertical($blue2, $blue4, 50%, 100%);
}

// Para o IE 8 e 9.
.no-cssgradients .msg-block .button {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6',GradientType=0 );
}