/* line 7, docs.scss */
body {
  background-image: url("../img/texturetastic_gray.png");
}

/* line 9, docs.scss */
.container {
  margin-bottom: 20px;
}

/* line 12, docs.scss */
.nav-local-fixed {
  position: fixed;
}

/* line 14, docs.scss */
section {
  margin-bottom: 20px;
}

/* line 23, docs.scss */
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
h7 + p,
pre + p {
  margin-top: 9px;
}

/* line 26, docs.scss */
.content {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 32, docs.scss */
.content h3[id],
.content h4[id] {
  padding-top: 60px;
}
/* line 34, docs.scss */
.content > *:not(.row) {
  margin-left: 20px;
  margin-right: 20px;
}
/* line 39, docs.scss */
.content [class*="span"]:first-child > *:not(.row) {
  margin-left: 20px;
}
/* line 41, docs.scss */
.content [class*="span"]:last-child > *:not(select):not(label):not(.controls):not(input):not(.control-option-list) {
  margin-right: 20px;
}
/* line 46, docs.scss */
.content .nav-local,
.content .nav-local-general-stats,
.content .nav-local-balloon,
.content .filters-general-view {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* line 51, docs.scss */
.content > * + * {
  margin-top: 10px;
}
/* line 53, docs.scss */
.boxshadow .content {
  -webkit-box-shadow: 0 -1px 0 white, 0 0 0 1px #cbcbcb inset;
  -moz-box-shadow: 0 -1px 0 white, 0 0 0 1px #cbcbcb inset;
  box-shadow: 0 -1px 0 white, 0 0 0 1px #cbcbcb inset;
}
/* line 60, docs.scss */
.borderradius .content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 63, docs.scss */
.well-content {
  background: #f6f6f6;
  padding: 20px 0;
}

/* line 68, docs.scss */
.well-nav-local {
  height: 250px;
  margin-top: -10px;
}

/* line 73, docs.scss */
.well-base, .well-paddless, .well {
  background: #f6f6f6;
}
/* line 76, docs.scss */
.boxshadow .well-base, .boxshadow .well-paddless, .boxshadow .well {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
/* line 78, docs.scss */
.borderradius .well-base, .borderradius .well-paddless, .borderradius .well {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 82, docs.scss */
.borderradius code + .well-base, .borderradius code + .well-paddless, .borderradius code + .well {
  -webkit-border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;
}

/* line 85, docs.scss */
.well-paddless {
  padding: 5px 0;
}

/* line 90, docs.scss */
.well {
  padding: 5px 5px;
  text-align: center;
}
/* line 95, docs.scss */
.well > *:not(form) {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
}
/* line 101, docs.scss */
.well form {
  text-align: left;
}
/* line 108, docs.scss */
.well > dl,
.well > p,
.well > blockquote
> ul,
.well > ol,
.well > li {
  text-align: left;
}
/* line 110, docs.scss */
.span16 > .well {
  padding: 5px 0;
}
/* line 112, docs.scss */
.well + .well {
  margin-top: 10px;
}

/* line 115, docs.scss */
.well-base + pre, .well-paddless + pre, .well + pre {
  margin-top: 10px;
}

/* line 118, docs.scss */
pre {
  margin: 0;
  white-space: pre-wrap;
}

/* line 123, docs.scss */
.colors-box {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: none;
}

/* line 130, docs.scss */
.color-row {
  font-size: 15px;
  font-family: Consolas, "Courier New", monospace;
  color: black;
}

/* line 136, docs.scss */
.color-box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 80px;
  height: 73px;
}

/* line 144, docs.scss */
.text-white {
  color: white;
}

/* line 146, docs.scss */
.color-white {
  background-color: white;
}

/* line 147, docs.scss */
.color-black {
  background-color: black;
}

/* line 149, docs.scss */
.color-blue1 {
  background-color: #dbeff7;
}

/* line 150, docs.scss */
.color-blue2 {
  background-color: #73c3e6;
}

/* line 151, docs.scss */
.color-blue3 {
  background-color: #4dadd6;
}

/* line 152, docs.scss */
.color-blue4 {
  background-color: #158ac4;
}

/* line 154, docs.scss */
.color-green1 {
  background-color: #e1f1e1;
}

/* line 155, docs.scss */
.color-green2 {
  background-color: #abe385;
}

/* line 156, docs.scss */
.color-green3 {
  background-color: #5fc080;
}

/* line 157, docs.scss */
.color-green4 {
  background-color: #61a080;
}

/* line 159, docs.scss */
.color-red1 {
  background-color: #ffdcdc;
}

/* line 160, docs.scss */
.color-red2 {
  background-color: #ff6d6d;
}

/* line 161, docs.scss */
.color-red3 {
  background-color: #e83b3b;
}

/* line 162, docs.scss */
.color-red4 {
  background-color: #e1272d;
}

/* line 163, docs.scss */
.color-red5 {
  background-color: #c1272d;
}

/* line 165, docs.scss */
.color-orange1 {
  background-color: #ffeed7;
}

/* line 166, docs.scss */
.color-orange2 {
  background-color: #ffc800;
}

/* line 167, docs.scss */
.color-orange3 {
  background-color: #ffa935;
}

/* line 168, docs.scss */
.color-orange4 {
  background-color: #ff7c35;
}

/* line 169, docs.scss */
.color-orange5 {
  background-color: #f35e00;
}

/* line 170, docs.scss */
.color-orange6 {
  background-color: #f34a00;
}

/* line 172, docs.scss */
.color-gray1 {
  background-color: #f7f7f7;
}

/* line 173, docs.scss */
.color-gray2 {
  background-color: #f0f0f0;
}

/* line 174, docs.scss */
.color-gray3 {
  background-color: #e6e6e6;
}

/* line 175, docs.scss */
.color-gray4 {
  background-color: #cccccc;
}

/* line 176, docs.scss */
.color-gray5 {
  background-color: #b3b3b3;
}

/* line 177, docs.scss */
.color-gray6 {
  background-color: #6d6e6f;
}

/* line 179, docs.scss */
.system-message {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 0 !important;
}

/* line 186, docs.scss */
.row.grids {
  text-shadow: none;
}

/* line 188, docs.scss */
.row.grids [class*="span"] {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  padding-top: 40px;
  height: 60px;
  text-align: center;
}

/* line 195, docs.scss */
.row.grids.example [class*="span"] {
  padding-top: 0;
  height: 18px;
}

/* line 200, docs.scss */
code {
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  padding: 2px 4px;
}
/* line 205, docs.scss */
code.doc {
  background-color: transparent;
  border: none;
  padding: 0;
}

/* line 212, docs.scss */
.rounded {
  padding: 20px 0;
  border: 1px solid #cbcbcb;
}
/* line 216, docs.scss */
.borderradius .rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 221, docs.scss */
.progress-bar-mini + .progress-bar-mini,
.progress-bar-medium + .progress-bar-medium,
.progress-bar-large + .progress-bar-large {
  margin-top: 10px;
}
